
<body class="bg-white">
  <!-- Main content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <img src="/assets/img/msu/msu-logo.png" style="width: 200px;" class="rounded-circle border-secondary">
              <br /> <br />
              <h1 class="text-white">Mindanao State University</h1>
              <p class="text-lead text-white">Enlistment Management System</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary border-0 mb-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <h3>Sign in using your MSU Account</h3><br />
              </div>
              <form role="form">
                <div class="form-group mb-3">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" id="schoolEmail" name="schoolEmail" placeholder="Email" type="email" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" id="password" name="password" placeholder="Password" type="password" required>
                    
                  </div>
                </div>
                <div class="text-center">
                  <button id="submitButton" type="button" class="btn btn-primary my-4">Sign in</button>
                </div>
              </form>
            </div>
          </div>
          <!-- <div class="row mt-3">
            <div class="col-6">
              <a href="#" class="text-dark"><small>Forgot password?</small></a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="py-5" id="footer-main">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2018 Mindanao State University - General Santos City
          </div>
        </div>
        <div class="col-xl-6">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
              <a href="http://www.msugensan.edu.ph/" class="nav-link" target="_blank">MSU-GSC Website</a>
            </li>
            <li class="nav-item">
              <a href="http://www.msugensan.edu.ph/msugensantos/history/" class="nav-link" target="_blank">MSU History</a>
            </li>
            <li class="nav-item">
              <a href="http://www.msugensan.edu.ph/msugensantos/vision-mission-goals/" class="nav-link" target="_blank">Vision, Mission, & Goals</a>
            </li>
            <li class="nav-item">
              <a href="http://www.msugensan.edu.ph/msugensantos/msu-hymn/" class="nav-link" target="_blank">MSU Hymn</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <script src="/assets/vendor/lavalamp/js/jquery.lavalamp.min.js"></script>
  <script src="/assets/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
  <!-- Argon JS -->
  <script src="/assets/js/argon.js?v=1.0.0"></script>

  
<script>
$(document).ready(function(){
 
  $(document).on('click', '#submitButton', function(e){
    e.preventDefault
    var schoolEmail = $('#schoolEmail').val();
    var password = $('#password').val();
    $.ajax({
      url: '/login',
      type: 'POST',
      data: {
        schoolEmail: schoolEmail,
        password: password
      },
      success: function(response){
        if(response.role === 1){
        window.location.replace('/admin/dashboard')
        }
        else if(response.role === 2){
        window.location.replace('/student/dashboard')
        }
      },
      error: function(jqXHR, exception){
        if(jqXHR.status === 401){
          Swal.fire(
            jqXHR.responseText,
          '',
          'warning'
        )

        } else {
          Swal.fire(
            jqXHR.responseText,
          '',
          'warning'
        )
        }
        
      }
    });
  });
 
});

</script>


</body>


