<footer class="footer">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6">
        <div class="copyright text-center text-lg-left text-muted">
          &copy; 2018 Mindanao State University - General Santos City
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a href="http://www.msugensan.edu.ph/" class="nav-link" target="_blank">MSU-GSC Website</a>
          </li>
          <li class="nav-item">
            <a href="http://www.msugensan.edu.ph/msugensantos/history/" class="nav-link" target="_blank">MSU History</a>
          </li>
          <li class="nav-item">
            <a href="http://www.msugensan.edu.ph/msugensantos/vision-mission-goals/" class="nav-link" target="_blank">Vision, Mission, & Goals</a>
          </li>
          <li class="nav-item">
            <a href="http://www.msugensan.edu.ph/msugensantos/msu-hymn/" class="nav-link" target="_blank">MSU Hymn</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>