<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header d-flex align-items-center">
        <a class="navbar-brand" href="/student/dashboard">
          <span class="avatar avatar-sm rounded-circle">
            <img src="/assets/img/msu/msu-logo-160.png" style="background-color: grey">
          </span>
        </a>
        <div class="ml-auto">
          <!-- Sidenav toggler -->
          <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="/student/dashboard">
                <i class="fas fa-home"></i>
                <span class="nav-link-text" style="line-height: 1.5rem;">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="enlistment.html">
                <i class="fas fa-id-card"></i>
                <span class="nav-link-text" style="line-height: 1.5rem;">Enlistment</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="grades.html">
                <i class="fas fa-star"></i>
                <span class="nav-link-text" style="line-height: 1.5rem;">Grades</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="forms.html">
                <i class="fas fa-list-alt"></i>
                <span class="nav-link-text" style="line-height: 1.5rem;">Forms</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>