
<body>
  <!-- Sidenav -->
  <% include ../partials/sidenav %>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <% include ../partials/topnav %>
    <!-- Page content -->
    <div class="header">
      <div class="container-fluid">
        <div class="row my-3 d-flex align-items-center">
          <div class="col-6">
            <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
              <div class="form-group mb-0">
                <div class="input-group input-group-alternative input-group-merge">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                  </div>
                  <input class="form-control" placeholder="Search" id="search" type="text">
                </div>
              </div>
              <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </form>
          </div>
          <div class="col-6 text-right">
            <a href="#selectUser" class="btn btn-sm btn-primary btn-round btn-icon" data-toggle="modal">
              <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Add New Account"><i class="fas fa-plus"></i> New</span>
            </a>
            <a href="#filterModal" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="modal">
              <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Filter Data"><i class="fas fa-filter"></i> Filter</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card mt-0 pt-0">
        <!-- Card header -->
        <div class="card-header mb--2">
          <div class="row">
            <div class="col-6">
              <h3 class="mb-0">Accounts</h3>
            </div>
            <div class="col-6 text-right">
              <a href="#" class="btn btn-sm btn-success btn-round btn-icon">
                <span class="btn-inner--text" id="activateButton" data-toggle="tooltip" data-original-title="Activate Selected Accounts"><i class="fas fa-check"></i> Activate</span>
              </a>
              <a href="#" class="btn btn-sm btn-danger btn-round btn-icon">
                <span class="btn-inner--text" id="disableButton" data-toggle="tooltip" data-original-title="Disable Selected Accounts"><i class="fas fa-ban"></i> Disable</span>
              </a>
            </div>
          </div>
        </div>
        <div class="table-responsive mt-0 pb-4">
          <table class="table table-flush p-0 mt-0" id="datatable-basic">
            <thead class="thead-light p-0 m-0">
              <tr>
                <th>ID Number</th>
                <th>Email</th>
                <th>Account Type</th>
                <th>Active</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                <% for(let counter=0; counter < accounts.length; counter++) { %>
              <tr>
                <td><%= accounts[counter].idNumber %></td>
                <td><%= accounts[counter].schoolEmail %></td>
                <td><%= accounts[counter].Role.description %></td>
                <td>
                  <label class="custom-toggle">
                    <% if(accounts[counter].isActive) {%>
                      <p hidden>Active </p>
                    <input type="checkbox" data-id="<%= accounts[counter].idNumber %>" id="status" checked>
                    
                    <% } else { %>
                      <p hidden>Disabled </p>
                      <input type="checkbox" data-id="<%= accounts[counter].idNumber %>" id="status">
                      
                      <% } %>
                    <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                  </label>
                </td>
                <td>
                  <a href="#" id="viewButton" data-id="<%= accounts[counter].idNumber %>" class="table-action" data-toggle="modal">
                    <span data-toggle="tooltip" data-original-title="View Account Details">
                      <i class="fas fa-external-link-alt mx-1"></i>
                    </span>
                  </a>
                  <a href="#" id="resetPassButton" data-id="<%= accounts[counter].idNumber %>" class="table-action" data-toggle="modal">
                    <span data-toggle="tooltip" data-original-title="Reset Password">
                      <i class="fas fa-sync-alt mx-1"></i>
                    </span>
                  </a>
                </td>
              </tr>
             <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Modal Section -->
      <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="filterModalLabel">Filter Data</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body py-0">
              <div class="row">
                <div class="col-6">
                  <h6 class="heading-small text-muted mb-2">Account Type</h6>
                  <div class="dropdown col-12 px-0  ">
                    <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="accType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All </button>
                    <div class="dropdown-menu" id="roleDropdown" aria-labelledby="accType">
                      <a class="dropdown-item" href="#">All </a>
                      <a class="dropdown-item" href="#">Administrator </a>
                      <a class="dropdown-item" href="#">Registrar Clerk </a>
                      <a class="dropdown-item" href="#">Department Clerk </a>
                      <a class="dropdown-item" href="#">Enrollment Clerk </a>
                      <a class="dropdown-item" href="#">Faculty </a>
                      <a class="dropdown-item" href="#">Student </a>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <h6 class="heading-small text-muted mb-2">Account Status</h6>
                  <div class="dropdown col-12 px-0  ">
                    <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="accStat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All </button>
                    <div class="dropdown-menu" id="statusDropdown" aria-labelledby="accStat">
                      <a class="dropdown-item" href="#">All </a>
                      <a class="dropdown-item" href="#">Active </a>
                      <a class="dropdown-item" href="#">Disabled </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
              <button type="button" class="btn btn-primary" id="filterButton"><i class="fas fa-save"></i> Save</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="selectUser" tabindex="-1" role="dialog" aria-labelledby="selectUserLabel" aria-hidden="true">
        <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="selectUserLabel">Add/Edit New Account</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row pl-4 pr-3">
                <a href="/admin/accounts-management/add/1" class="btn btn-primary btn-lg btn-block" role="button">
                  <span class="btn-inner--text">Administrator</span>
                </a>
                <a href="/admin/accounts-management/add/2" class="btn btn-primary btn-lg btn-block" role="button">
                  <span class="btn-inner--text">Student</span>
                </a>
                <a href="/admin/accounts-management/add/3" class="btn btn-primary btn-lg btn-block" role="button">
                  <span class="btn-inner--text">Faculty</span>
                </a>
                <a href="/admin/accounts-management/add/4" class="btn btn-primary btn-lg btn-block" role="button">
                  <span class="btn-inner--text">Registrar Clerk</span>
                </a>
                <a href="/admin/accounts-management/add/5" class="btn btn-primary btn-lg btn-block" role="button">
                  <span class="btn-inner--text">Department Clerk</span>
                </a>
                <a href="/admin/accounts-management/add/6" class="btn btn-primary btn-lg btn-block" role="button">
                  <span class="btn-inner--text">Enrollment Clerk</span>
                </a>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="viewAccount" tabindex="-1" role="dialog" aria-labelledby="viewAccountLabel" aria-hidden="true">
        <div class="modal modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="viewAccountLabel">Account Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body pt-0">
              <img src="/assets/img/administrator.svg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 140px;">
              <div class="text-center mt-2 mb-4">
                <h4 id="fullNameh4">meowninofranco</h4>
                <span class="badge badge-primary" id="statusDisplay">Active</span>
              </div>
              <hr class="my-2" />
              <div class="row py-2">
                <div class="col-4">
                  <h6 class="heading-small text-muted mb-0">ID Number</h6>
                </div>
                <div class="col-8">
                  <p class="text-sm  mb-0" id="idNumber">2010-0001</p>
                </div>
              </div>
              <div class="row py-2">
                <div class="col-4">
                  <h6 class="heading-small text-muted mb-0">Full Name</h6>
                </div>
                <div class="col-8">
                  <p class="text-sm  mb-0" id="fullName">Catherine N. Ninofranco</p>
                </div>
              </div>
              <div class="row py-2">
                <div class="col-4">
                  <h6 class="heading-small text-muted mb-0">Account Type</h6>
                </div>
                <div class="col-8">
                  <p class="text-sm  mb-0" id="role">Student</p>
                </div>
              </div>
              <div class="row py-2">
                <div class="col-4">
                  <h6 class="heading-small text-muted mb-0">School Email</h6>
                </div>
                <div class="col-8">
                  <p class="text-sm  mb-0" id="email">catherine.ninofranco@msugensan.edu.ph</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="resetPass" tabindex="-1" role="dialog" aria-labelledby="resetPassLabel"
        aria-hidden="true">
        <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="resetPassLabel">New Password</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body pt-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <p class="text-lg m-0" id="randomPass">p4JfpUxJWu5CChyn</p>
                </div>
                <div class="col text-right">
                  <a href="#" class="btn btn-sm btn-primary btn-round btn-icon">
                    <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Copy Password"><i class="fas fa-copy"></i>
                      Copy</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <% include ../partials/footer %>
    </div>
  </div>
  <!-- Argon Scripts -->
  <% include ../partials/scripts %>

  <script>
 $(document).ready(function(){


  var tables = $.fn.dataTable.tables();
  var datatables = $(tables).DataTable();


  $(document).on('keyup', '#search', function(e){
   
    datatables.search($(this).val()).draw() 
 })
 
 $(document).on('click', '#viewButton', function(e){
  var id = $(this).attr("data-id")
   $.ajax({
    url: `/admin/accountsManagement/${id}`,
    type: 'GET',
     success: function(response){
       console.log(response)
      let data
       if(response.account.roleID === 2){
         console.log(true)
       data = response.account.studentprofile
      }
      else if(response.account.roleID === 3){
        data = response.account.facultyprofile
      }
      else  {
        data = response.account.clerkprofile
      }

      console.log(data)
       $('#idNumber').html(data.idNumber)
       $('#fullName').html(`${data.salutation} 
       ${data.firstName} ${data.middleName}
       ${data.lastName} ${data.suffix}
       `)
       $('#fullNameh4').html(`${data.salutation} 
       ${data.firstName} ${data.middleName}
       ${data.lastName} ${data.suffix}
       `)
       if(response.account.isActive){
       $('#statusDisplay').html('Active')
       }else{
        $('#statusDisplay').html('Disabled')
       }
       $('#role').html(response.account.Role.description)
       $('#email').html(response.account.schoolEmail)
     
      $('#viewAccount').modal('show');
     },
     error: function(jqXHR, exception){
       console.log(jqXHR)
     }
   });
 });

 $(document).on('click', '#disableButton', async function(e){
  var ids = await $.map(datatables.rows('.selected').data(), function (item) {
        return item[0]
    });

    for(let id in ids){
    await  $.ajax({
    url: `/admin/accountsManagement/${ids[id]}`,
    type: 'PUT',
    data: { isActive: false },
     success: function(response){
       console.log(response)
     },
     error: function(jqXHR, exception){
       console.log(jqXHR)
     }
    })

    }
    window.location.replace('/admin/accounts-management')
 })

 $(document).on('click', '#activateButton', async function(e){
  var ids = await $.map(datatables.rows('.selected').data(), function (item) {
        return item[0]
    });

    for(let id in ids){
    await  $.ajax({
    url: `/admin/accountsManagement/${ids[id]}`,
    type: 'PUT',
    data: { isActive: true },
     success: function(response){
       console.log(response)
     },
     error: function(jqXHR, exception){
       console.log(jqXHR)
     }
    })

    }
    window.location.replace('/admin/accounts-management')
 })

 
 $(document).on('click', '#roleDropdown a', function(e){
    $('#accType').text($(this).text()); 
 })

 $(document).on('click', '#statusDropdown a', function(e){
    $('#accStat').text($(this).text()); 
 })

 $(document).on('click','#filterButton', function(e){


  if($('#accType').text() !== 'All '){
  datatables.column(2).search($('#accType').text()).draw();  
  }else {
    datatables.column(2).search('').draw();  
  }
  
  
  
  
  if($('#accStat').text() !== 'All '){
  datatables.column(3).search($('#accStat').text()).draw();  
  }else {
    datatables.column(3).search('').draw();  
  }

 })

 $(document).on('click', '#status', function(e){
   e.preventDefault()
  var id = $(this).attr("data-id")
  var value = ($(this).prop("checked") === true)


  let formData = {
    isActive: value
}

   $.ajax({
    url: `/admin/accountsManagement/${id}`,
    type: 'PUT',
    data: { ...formData },
     success: function(response){
      window.location.replace('/admin/accounts-management')
     },
     error: function(jqXHR, exception){
       console.log(jqXHR)
     }
   })
 })

 $(document).on('click', '#resetPassButton', function(e){

  function makeid(length) {
   var result           = '';
   var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
   var charactersLength = characters.length;
   for ( var i = 0; i < length; i++ ) {
      result += characters.charAt(Math.floor(Math.random() * charactersLength));
   }
   return result;
}
  var id = $(this).attr("data-id")
 
  let formData = {
    password: makeid(20)
}

$('#randomPass').html(formData.password)
$('#resetPass').modal('show');

   $.ajax({
    url: `/admin/accountsManagement/resetPassword/${id}`,
    type: 'PUT',
    data: { ...formData },
     success: function(response){
       console.log(response)
     },
     error: function(jqXHR, exception){
       console.log(jqXHR)
     }
   })
 })





});
    
  </script>

<style>
   .dataTables_filter {
  display: none
  }
</style>
</body>

