<body>
  <!-- Sidenav -->
  <% include ../partials/sidenav %>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <% include ../partials/topnav %>
    <!-- Page content -->
    <div class="header">
      <div class="container-fluid">
        <br />
      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-8 card-wrappercard-wrapper">
            <form id="accountForm">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-0">Add New Account</h3>
                </div>
                <div class="col-6 text-right">
                  <a href="#filterModal" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="modal">
                    <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Discard changes"><i class="fas fa-times"></i> Cancel</span>
                  </a>
                  <button href="#" type="submit" class="btn btn-sm btn-primary btn-round btn-icon">
                      <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Save Changes"><i class="fas fa-save"></i> Save</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col-12">
                  <p class="mb-0">
                    A {account type} account will be added upon saving. Login credentials such as emails and passwords are automatically generated based on the data entered in this form.
                  </p>
                </div>
              </div>
            
                <hr class="my-4">
                <h6 class="heading-small text-muted mb-4">Personal Information</h6>
                <div class="row mt-4">
                  <label for="idNumber" class="col-md-3 col-form-label form-control-label">ID Number</label>
                  <div class="col-md-5">
                    <select class="form-control" data-toggle="select" id="idNumber" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ..." required>
                   
                      <% for(let counter=0; counter < idNumbers.length; counter++) { %>
                       <% if(!idNumbers[counter].account){ %>
                        <option value="<%= idNumbers[counter].idNumber %>"><%= idNumbers[counter].idNumber %></option>
                      <% } %>
                      <% } %>
                  </select>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="lastName" class="col-md-3 col-form-label form-control-label">Last Name</label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" value="" id="lastName" placeholder="Last name" disabled>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="firstName" class="col-md-3 col-form-label form-control-label">First Name</label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" value="" id="firstName" placeholder="First Name" disabled>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="middleName" class="col-md-3 col-form-label form-control-label">Middle Name</label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" value="" id="middleName" placeholder="Middle Name" disabled>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="suffix" class="col-md-3 col-form-label form-control-label">Suffix</label>
                  <div class="col-md-2">
                    <input class="form-control" type="text" value="" id="suffix" placeholder="Suffix" disabled>
                  </div>
                </div>
                <hr class="my-4">
                <h6 class="heading-small text-muted mb-4">Login Credentials</h6>
                <div class="row mt-4">
                  <label for="schoolEmail" class="col-md-3 col-form-label form-control-label">School Email</label>
                  <div class="col-md-9">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="firstname.lastname" id="schoolEmail" aria-label="Email Address" aria-describedby="basic-addon2" required>
                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">@msugensan.edu.ph</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="password" class="col-md-3 col-form-label form-control-label">Password</label>
                  <div class="col-md-9">
                    <div class="input-group">
                      <input type="text" class="form-control" id="password" aria-label="Enter Password" aria-describedby="button-addon4" required>
                      <!-- <div class="input-group-append" id="button-addon4">
                        <button class="btn btn-outline-primary" type="button">
                          <span data-toggle="tooltip" data-original-title="Show/Hide Password">
                            <i class="fas fa-eye-slash"></i>
                            
                          </span>
                        </button>
                      </div> -->
                    </div>
                  </div>
                </div>
              </form>
              <br />
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <% include ../partials/footer %>
    </div>
  </div>
  <!-- Argon Scripts -->
  <% include ../partials/scripts %>

  <script>
   $(document).ready(function(){

    function makeid(length) {
   var result           = '';
   var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
   var charactersLength = characters.length;
   for ( var i = 0; i < length; i++ ) {
      result += characters.charAt(Math.floor(Math.random() * charactersLength));
   }
   return result;
}

if($('#idNumber').val()){

    let url, data
    if('<%= type %>' === '2'){
       url = `/admin/studentInformation/${$('#idNumber').val()}`
    }
    else if('<%= type %>' === '3'){
       url = `/admin/facultyInformation/${$('#idNumber').val()}`
    }
    else {
      url = `/admin/staffInformation/${$('#idNumber').val()}`
    }

    $.ajax({
      url: url,
      type: 'GET',
       success: function(response){

        if('<%= type %>' === '2'){
       data = response.student
      }
      else if('<%= type %>' === '3'){
       data = response.faculty
      }
    else {
      data = response.clerk
     }
       

        $('#idNumber').val(data.idNumber)
        $('#suffix').val(data.suffix)
        $('#lastName').val(data.lastName)
        $('#firstName').val(data.firstName)
        $('#middleName').val(data.middleName)
        $('#schoolEmail').val(`${data.firstName}.${data.lastName}`)
        $('#password').val(makeid(20))
      },
       error: function(jqXHR, exception){
        
  
       }
     })

    }
     
$(document).on('submit', '#accountForm', function(e){





e.preventDefault()

let formData = {
  idNumber: $('#idNumber').val(),
  schoolEmail: `${$('#schoolEmail').val()}@msugensan.edu.ph`,
  password: $('#password').val(),
  roleID: '<%= type %>',
  isActive: true
}

$.ajax({
url: '/admin/accountsManagement/',
type: 'POST',
data: { ...formData },
success: function(response){
  console.log(response)
   Swal.fire(
     'Account added',
     '',
     'success'
   ).then(() => {
    window.location.replace('/admin/accounts-management')
   })
},
error: function(jqXHR, exception){
 
}
})


})

$(document).on('change', '#idNumber', function(e){

 let id = $('#idNumber').val()

 let url, data
    if('<%= type %>' === '2'){
       url = `/admin/studentInformation/${id}`
    }
    else if('<%= type %>' === '3'){
       url = `/admin/facultyInformation/${id}`
    }
    else {
      url = `/admin/staffInformation/${id}`
    }
$.ajax({
      url: url,
      type: 'GET',
       success: function(response){
         console.log(response)

         if('<%= type %>' === '2'){
       data = response.student
      }
      else if('<%= type %>' === '3'){
       data = response.faculty
      }
    else {
      data = response.clerk
     }

        $('#suffix').val(data.suffix)
        $('#lastName').val(data.lastName)
        $('#firstName').val(data.firstName)
        $('#middleName').val(data.middleName)
        $('#schoolEmail').val(`${data.firstName}.${data.lastName}`)
        $('#password').val(makeid(20))
      },
       error: function(jqXHR, exception){
  
       }
     })
})



  })
    
  
  </script>
</body>

