
<body>
  <!-- Sidenav -->
  <% include ../partials/sidenav %>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <% include ../partials/topnav %>
    <!-- Page content -->
    <div class="header">
      <div class="container-fluid">
        <br>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-9 card-wrappercard-wrapper">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-0">Advise Student</h3>
                </div>
                <div class="col-6 text-right">
                  <a href="enlistment" class="btn btn-sm btn-secondary btn-round btn-icon">
                    <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Discard changes">
                      <i class="fas fa-times"></i> Cancel</span>
                  </a>
                  <a href="#"  onclick="document.getElementById('newEnlistment').submit();" class="btn btn-sm btn-primary btn-round btn-icon">
                    <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Save Changes"><i class="fas fa-save"></i> Save</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form method="POST" action="/admin/api/enlistment/add" id="newEnlistment" class="needs-validation" novalidate="">
                <h6 class="heading-small text-muted mb-4">Student Information</h6>
                <div class="d-flex align-items-center">
                  <div class="col-2 px-0">
                    <label class="form-control-label">Graduating?</label>
                  </div>
                  <div class="col-3 ml-2 p-0">
                    <label class="custom-toggle">
                      <input id="graduating" name="graduating" type="checkbox" checked="">
                      <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                    </label>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">ID Number</label>
                  <div class="col-md-4">
                    <select id="idNumber" name="idNumber" class="form-control" data-toggle="select" title="Simple select" data-live-search="true"
                      data-live-search-placeholder="Search ...">
                      <option selected disabled>Enter ID Number</option>
                      <% student.forEach(function(s){ %>
                        <option value="<%= s.idNumber %>"><%= s.idNumber %></option>
                      <% }) %>
                    </select>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Last Name</label>
                  <div class="col-md-10">
                    <input id="lastname" name="lastname" class="form-control" type="text" value="" id="example-text-input" placeholder="Last name" disabled>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">First Name</label>
                  <div class="col-md-10">
                    <input id="firstname" name="firstname" class="form-control" type="text" value="" id="example-text-input" placeholder="First Name"
                      disabled>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Middle Name</label>
                  <div class="col-md-10">
                    <input id="middlename" name="middlename" class="form-control" type="text" value="" id="example-text-input" placeholder="Middle Name"
                      disabled>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Suffix</label>
                  <div class="col-md-4">
                    <input id="suffix" name="suffix" class="form-control" type="text" value="" id="example-text-input" placeholder="Suffix" disabled>
                  </div>
                </div>
                <hr class="my-4">
                <h6 class="heading-small text-muted mb-4">Academic Information</h6>
                <div class="row mt-4">
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Year Level</label>
                  <div class="col-md-4">
                    <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      All
                    </button>
                    <input id="yearLevel" name="yearLevel" class="form-control" type="text" value="" id="example-text-input" placeholder="Suffix" hidden>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#" data-value="1">1st Year</a>
                      <a class="dropdown-item" href="#" data-value="2">2nd Year</a>
                      <a class="dropdown-item" href="#" data-value="3">3rd Year</a>
                      <a class="dropdown-item" href="#" data-value="4">4th Year</a>
                      <a class="dropdown-item" href="#" data-value="5">5th Year</a>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Program</label>
                  <div class="col-md-10">
                    <select id="programCode" name="programCode" class="form-control" data-toggle="select" title="Simple select" data-live-search="true"
                      data-live-search-placeholder="Search ...">
                      <option selected disabled>Select Program</option>
                      <% program.forEach(function(p){ %>
                        <option value="<%= p.programCode %>"><%= p.programDesc %></option>
                      <% }) %>
                    </select>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Major</label>
                  <div class="col-md-10">
                    <select id="majorCode" name="majorCode" class="form-control" data-toggle="select" title="Simple select" data-live-search="true"
                      data-live-search-placeholder="Search ...">
                      <option selected disabled>Select Major</option>
                    </select>
                  </div>
                </div>
              </form>
              <br />
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Section -->

      <!-- Footer -->
      <% include ../partials/footer %>
    </div>
  </div>
  <!-- Argon Scripts -->
  <% include ../partials/scripts %>
</body>
<script>
$(document).ready(function(){

  $('#idNumber').on('change', function(){
    var idnumber = this.value;
    $.ajax({
      type: "GET",
      url: `/admin/studentInformation/${idnumber}`,
      async: true,
      success: function(data){
        $("#firstname").val(data.student.firstName);
        $("#lastname").val(data.student.lastName);
        $("#middlename").val(data.student.middleName);
        $("#suffix").val(data.student.suffix);
      },
      error: function(err){
        console.log(err)
      }
    })
  });

  $('.dropdown-menu a').click(function(){
    var year = $(this).data("value");
    $('#yearLevel').val(year);
    $('#dropdownMenuButton').text($(this).text());
  });

  $('#programCode').on('change', function(){
    var programcode = this.value;
    $("#majorCode").empty();
    $("#majorCode").append($("<option selected disabled />").text("Select Major"));
    $.ajax({
      type: "GET",
      url: `/admin/api/program/major/${programcode}`,
      async: true,
      success: function(data){
        for(i = 0; i < data.majors.length; i++){
          console.log(data.majors[i])
          $("#majorCode").append($("<option />").val(data.majors[i]).text(data.majors[i]));
        }
      },
      error: function(err){
        console.log(err)
      }
    })
  });

});
</script>
