<body>
    <!-- Sidenav -->
    <% include ../partials/sidenav %>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <% include ../partials/topnav %>
      <!-- Page content -->
      <div class="header">
        <div class="container-fluid">
          <div class="row my-3 d-flex align-items-center">
            <div class="col-6">
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" type="text">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </form>
            </div>
            <div class="col-6 text-right">
              <a href="#addBlock" class="btn btn-sm btn-primary btn-round btn-icon" data-toggle="modal">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Add New Course Block"><i class="fas fa-plus"></i> New</span>
              </a>
              <a href="#filterModal" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="modal">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Filter Data"><i class="fas fa-filter"></i> Filter</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="card mt-0 pt-0">
          <!-- Card header -->
          <div class="card-header mb--2">
            <div class="row">
              <div class="col-auto">
                <h3 class="mb-0">List of Blocks</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive mt-0 pb-4">
            <table class="table table-flush p-0 mt-0" id="datatable-basic">
              <thead class="thead-light p-0 m-0">
                <tr>
                  <th>Block Code</th>
                  <th>For College</th>
                  <th>For Department</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>BLK327</td>
                  <td>College of Natural Sciences and Mathematics</td>
                  <td>IT & Physics Department</td>
                  <td>
                    <a href="#viewSubjects" class="table-action" data-toggle="modal">
                      <i class="fas fa-external-link-alt mx-1" data-toggle="tooltip" data-original-title="View Subjects under Block"></i>
                    </a>
                    <a href="#addBlock" class="table-action" data-toggle="modal">
                      <i class="fas fa-edit mx-1" data-toggle="tooltip" data-original-title="Edit Block Details"></i>
                    </a>
                    <a href="block-edit.html" class="table-action">
                      <i class="fas fa-clipboard-list mx-1" data-toggle="tooltip" data-original-title="Edit Subjects under Block"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Modal Section -->
        <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
          <div class="modal modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filter Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <div class="row">
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">College</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">CNSM</a>
                        <a class="dropdown-item" href="#">COA</a>
                        <a class="dropdown-item" href="#">COE</a>
                        <a class="dropdown-item" href="#">Educ</a>
                        <a class="dropdown-item" href="#">COF</a>
                        <a class="dropdown-item" href="#">CBA</a>
                        <a class="dropdown-item" href="#">CSSH</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">Department</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">IT & Physics Department</a>
                        <a class="dropdown-item" href="#">Mathematics Deparmtent</a>
                        <a class="dropdown-item" href="#">Science Department</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                <button type="button" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
              </div>
            </div>
          </div>
        </div>
        <!-- View Subjects Modal -->
        <div class="modal fade" id="viewSubjects" tabindex="-1" role="dialog" aria-labelledby="viewSubjectsLabel" aria-hidden="true">
          <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Subjects Under Block</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <div class="card shadow">
                  <div class="card-header">
                    <div class="row">
                      <div class="col">
                        <h4 class="mb-0">BLK327</h4>
                      </div>
                      <div class="col text-right">
                        <a href="block-edit.html" class="btn btn-sm btn-primary btn-round btn-icon">
                          <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Edit Subjects under Block"><i class="fas fa-edit"></i> Edit</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row py-2">
                      <div class="col-2">
                        <p class="text-sm  mb-0">IT100</p>
                      </div>
                      <div class="col-6">
                        <p class="text-sm  mb-0">Social, Ethical, and Professional Issues in Information Technology</p>
                      </div>
                      <div class="col-2 text-center">
                        <p class="text-sm strong mb-0"><strong>4.50 units</strong></p>
                      </div>
                      <div class="col-2 text-center">
                        <p class="text-sm strong mb-0"><strong>45 students</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- New Block Modal -->
        <div class="modal fade" id="addBlock" tabindex="-1" role="dialog" aria-labelledby="addBlockLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addEventLabel">Add/Edit New Block</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body pt-2">
                <form class="m-0">
                  <label class="form-control-label">Block Code</label>
                  <input class="form-control " type="text" value="" id="eventName" placeholder="Enter Block Code">
                  <label class="form-control-label mt-4">For College</label>
                  <select class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                    <option>Select College</option>
                    <option>College 1</option>
                    <option>College 2</option>
                    <option>College 3</option>
                    <option>College 4</option>
                    <option>College 5</option>
                  </select>
                  <label class="form-control-label mt-4">For Department</label>
                  <select class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                    <option>Select Department</option>
                    <option>Department 1</option>
                    <option>Department 2</option>
                    <option>Department 3</option>
                    <option>Department 4</option>
                    <option>Department 5</option>
                  </select>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                <button type="button" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
              </div>
            </div>
          </div>
        </div>
      
  
        <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
    <!-- Argon Scripts -->
    <% include ../partials/scripts %>
  </body>
  
  