<body>
    <!-- Sidenav -->
    <% include ../partials/sidenav %>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <% include ../partials/topnav %>
      <!-- Page content -->
      <div class="header">
        <div class="container-fluid ">
          <div class="row my-4 d-flex justify-content-center">
            <div class="col-10 d-flex justify-content-end">
              <a href="#addEvent" class="btn btn-sm btn-primary" data-toggle="modal">
                <span data-toggle="tooltip" data-original-title="Add New Event"><i class="fas fa-plus"></i> New</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row d-flex justify-content-center">
          <div class="col-10">
            <div class="card card-calendar">
              <div class="card-header">
                <div class="row">
                  <div class="col-8">
                    <h5 class="fullcalendar-title h3 mb-0"></h5>
                  </div>
                  <div class="col-4 text-right">
                    <a href="#" class="fullcalendar-btn-prev btn btn-sm btn-neutral" data-toggle="tooltip" data-original-title="Show Previous Month/Week">
                        <i class="fas fa-angle-left"></i>
                    </a>
                    <a href="#" class="fullcalendar-btn-next btn btn-sm btn-neutral" data-toggle="tooltip" data-original-title="Show Next Month/Week">
                        <i class="fas fa-angle-right"></i>
                    </a>
                    <a href="#" class="btn btn-sm btn-neutral" data-calendar-view="month" data-toggle="tooltip" data-original-title="Month View"><i class="fas fa-calendar-alt"></i> Month</a>
                    <a href="#" class="btn btn-sm btn-neutral" data-calendar-view="basicWeek" data-toggle="tooltip" data-original-title="Week View"><i class="fas fa-calendar-week"></i> Week</a>
                  </div>
                </div>
              </div>
              <div class="card-body p-0">
                <div class="calendar" data-toggle="calendar" id="calendar" data-value="qweqe"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Section -->
        <div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="addEventLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addEventLabel">Add New Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body pt-2">
                <form id="eventForm" class="m-0">
                  <div class="row d-flex align-items-center my-0">
                    <div class="col-6">
                      <div class="d-flex align-items-center my-0">
                        <div class="col-7 px-0">
                          <label class="form-control-label">Official Event</label>
                        </div>
                        <div class="col-5 px-0 text-right">
                          <label class="custom-toggle">
                            <input type="checkbox" id="officialEvent" checked>
                            <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="d-flex align-items-center">
                        <div class="col-7 px-0">
                          <label class="form-control-label">One-Day Event</label>
                        </div>
                        <div class="col-5 px-0 text-right">
                          <label class="custom-toggle">
                            <input type="checkbox" id="oneDayEvent" checked>
                            <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <label class="form-control-label mt-4">Event Category</label>
                  <select class="form-control" id="category" data-toggle="select" title="Simple select" data-live-search="true"
                    data-live-search-placeholder="Search ...">
                    <option>Category 1</option>
                    <option>Category 2</option>
                    <option>Category 3</option>
                  </select>
                  <label class="form-control-label mt-4">Event Name</label>
                  <input class="form-control" type="text" value="" id="eventName" placeholder="Event Name">
                  <!-- <select class="form-control" data-toggle="select" title="Simple select" data-live-search="true"
                    data-live-search-placeholder="Search ...">
                    <option>Event 1</option>
                    <option>Event 2</option>
                    <option>Event 3</option>
                  </select> -->
                  <label class="form-control-label mt-4">Date(s)</label>
                  <div class="input-daterange datepicker row align-items-center">
                    <div class="col">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                          </div>
                          <input class="form-control" id="startDate" placeholder="Start date" type="text" value="">
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                          </div>
                          <input class="form-control" id="endDate" placeholder="End date" type="text" value="">
                        </div>
                      </div>
                    </div>
                  </div>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
              </div>
            </form>
            </div>
          </div>
        </div>
        <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
    <!-- Argon Scripts -->
    <% include ../partials/scripts %>


  </body>
  
  