<body>
    <!-- Sidenav -->
    <% include ../partials/sidenav %>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <% include ../partials/topnav %>
      <!-- Page content -->
      <div class="header">
        <div class="container-fluid">
          <div class="row my-3 d-flex align-items-center">
            <div class="col-6">
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" type="text">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </form>
            </div>
            <div class="col-6 text-right">
              <a href="#selectStaff" class="btn btn-sm btn-primary btn-round btn-icon" data-toggle="modal">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Add New Staff"><i class="fas fa-plus"></i> New</span>
              </a>
              <a href="#filterModal" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="modal">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Filter Data"><i class="fas fa-filter"></i> Filter</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="card mt-0 pt-0">
          <!-- Card header -->
          <div class="card-header mb--2">
            <div class="row">
              <div class="col-auto">
                <h3 class="mb-0">List of Staff</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive mt-0 pb-4">
            <table class="table table-flush p-0 mt-0" id="datatable-basic">
              <thead class="thead-light p-0 m-0">
                <tr>
                  <th>ID</th>
                  <th>Last Name</th>
                  <th>First Name</th>
                  <th>Middle Name</th>
                  <th>Type</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
               
                    <% for(let counter=0; counter < staffs.length; counter++) { %>
                      <tr>
                  <td><%= staffs[counter].idNumber %></td>
                  <td><%= staffs[counter].lastName %></td>
                  <td><%= staffs[counter].firstName %></td>
                  <td><%= staffs[counter].middleName %></td>
                  <% if(staffs[counter].clerkType === '1' ) {%>
                  <td>Staff</td>
                  <% } else { %>
                    <td>Department Clerk</td>
                  <% } %>
                  <td>
                    <a href="#" id="viewButton" data-id="<%= staffs[counter].idNumber %>" class="table-action" data-toggle="modal">
                      <i class="fas fa-external-link-alt mx-1" data-toggle="tooltip" data-original-title="View Staff Data"></i>
                    </a>
                    <a href="/admin/staff-information/edit/<%= staffs[counter].idNumber %>/<%= staffs[counter].clerkType %>" class="table-action" data-toggle="tooltip" data-original-title="Edit Staff Data">
                      <i class="fas fa-edit mx-1"></i>
                    </a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Modal Section  -->
        <!-- Filter Modal -->
        <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
          <div class="modal modal-sm modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filter Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <div class="row d-flex justify-content-center">
                  <div class="col-10">
                    <h6 class="heading-small text-muted mb-2">Type</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">Staff</a>
                        <a class="dropdown-item" href="#">Department Clerk</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                <button type="button" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
              </div>
            </div>
          </div>
        </div>
        <!-- View Staff Data Modal -->
        <div class="modal fade" id="viewStaffData" tabindex="-1" role="dialog" aria-labelledby="viewStaffDataLabel" aria-hidden="true">
          <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="viewStaffDataLabel">Staff Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <!-- Vertical Tabs -->
                <div class="row">
                  <div class="col-3">
                    <ul class="nav flex-column nav-pills nav-fill" role="tablist">
                      <li id="plink" class="nav-item mb-2 pr-0">
                        <a class="nav-link active" id="personalInfo" data-toggle="tab" href="#personalInfoHref" role="tab" aria-selected="true" aria-controls="personalInfoHref">Personal</a>
                      </li>
                      <li id="deptLink" class="nav-item mb-2 pr-0">
                          <a class="nav-link" id="dept" data-toggle="tab" href="#deptHref" role="tab"
                            aria-selected="false" aria-controls="deptHref">Department</a>
                        </li>
                      <li class="nav-item mb-2 pr-0">
                        <a class="nav-link" id="contactInfo" data-toggle="tab" href="#contactInfoHref" role="tab" aria-selected="false" aria-controls="contactInfoHref">Contact</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-9">
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="personalInfoHref" role="tabpanel" aria-labelledby="personalInfo">
                        <div class="card shadow">
                          <div class="card-header">
                            <h4 class="mb-0">Personal Information</h4>
                          </div>
                          <div class="card-body">
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">ID Number</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="idNumber">2010-0001</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Full Name</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="fullName">Ms. Catherine N. Ninofranco</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Birthday</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="birthday">September 13, 1993</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Gender</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="gender">Female</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Civil Status</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="civilStatus">Single</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="deptHref" role="tabpanel" aria-labelledby="dept">
                          <div class="card shadow">
                            <div class="card-header">
                              <h4 class="mb-0">Department Information</h4>
                            </div>
                            <div class="card-body">
                              <div class="row py-2">
                                <div class="col-4">
                                  <h6 class="heading-small text-muted mb-0">College</h6>
                                </div>
                                <div class="col-8">
                                  <p class="text-sm  mb-0" id="college">College of Natural Sciences and Mathematics</p>
                                </div>
                              </div>
                              <div class="row py-2">
                                <div class="col-4">
                                  <h6 class="heading-small text-muted mb-0">Department</h6>
                                </div>
                                <div class="col-8">
                                  <p class="text-sm  mb-0" id="department">IT and Physics Department</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <div class="tab-pane fade" id="contactInfoHref" role="tabpanel"  aria-labelledby="contactInfo">
                        <div class="card shadow">
                          <div class="card-header">
                            <h4 class="mb-0">Contact Information</h4>
                          </div>
                          <div class="card-body">
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Mobile Number</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="mobile">(+63) 995 995 0919</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Telephone Number</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="telephone">(083) 553-0296</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Email Address</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="alternateEmail">catherineninofranco@gmail.com</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Address</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="address">Block 5 Lot 6 Phase 1-B, Gensanville Subdivision, Bula, General Santos City, South Cotabato, 9500</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
        </div>
        <!-- Add New: Select Staff -->
        <div class="modal fade" id="selectStaff" tabindex="-1" role="dialog" aria-labelledby="selectStaffLabel"
          aria-hidden="true">
          <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="selectStaffLabel">Add New Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row pl-4 pr-3">
                  <a href="/admin/staff-information/add/1" class="btn btn-primary btn-lg btn-block" role="button">
                    <span class="btn-inner--text">Staff</span>
                  </a>
                  <a href="/admin/staff-information/add/2" class="btn btn-primary btn-lg btn-block" role="button">
                    <span class="btn-inner--text">Department Clerk</span>
                  </a>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
    <!-- Argon Scripts -->
    <% include ../partials/scripts %>

   
     <script>
    $(document).ready(function(){


 
 $(document).on('click', '#viewButton', function(e){

  

  var id = $(this).attr("data-id")
   $.ajax({
    url: `/admin/staffInformation/${id}`,
    type: 'GET',
     success: function(response){
       console.log(response)

      if(response.clerk.clerkType === '1'){
        $('#deptLink').hide()
      }else {
        $('#deptLink').show()
      }

       $('#idNumber').html(response.clerk.idNumber)
       $('#fullName').html(`${response.clerk.salutation} 
       ${response.clerk.firstName} ${response.clerk.middleName}
       ${response.clerk.lastName} ${response.clerk.suffix}
       `)
       $('#birthday').html(moment(response.clerk.birthday).format('MMMM D, YYYY'))
       $('#gender').html(response.clerk.gender)
       $('#civilStatus').html(response.clerk.civilStatus)
       $('#college').html(response.clerk.collegeCode)
       $('#department').html(response.clerk.departmentCode)
    
       $('#mobile').html(response.clerk.mobileNumber)
       $('#telephone').html(response.clerk.telephone)
       $('#alternateEmail').html(response.clerk.alternateEmail)
       $('#address').html(`${response.clerk.streetAddress}, 
       ${response.clerk.barangay}, ${response.clerk.city}, ${response.clerk.postalCode}
       `)

      $('#viewStaffData').modal('show')
     },
     error: function(jqXHR, exception){
       console.log(jqXHR)
     }
   })
 })

})
    </script>
    <style>
        .dataTables_filter {
       display: none
       }
     </style>
  
  </body>
  
  