<body>
    <!-- Sidenav -->
    <% include ../partials/sidenav %>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <% include ../partials/topnav %>
      <!-- Page content -->
      <div class="header">
        <div class="container-fluid">
          <div class="row my-3 d-flex align-items-center">
            <div class="col-6">
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" type="text">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </form>
            </div>
            <div class="col-6 text-right">
              <a href="#addClassrooms" class="btn btn-sm btn-primary btn-round btn-icon" data-toggle="modal">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Add New Classroom"><i class="fas fa-plus"></i> New</span>
              </a>
              <a href="#filterModal" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="modal">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Filter Data"><i class="fas fa-filter"></i> Filter</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="card mt-0 pt-0">
          <!-- Card header -->
          <div class="card-header mb--2">
            <div class="row">
              <div class="col-6">
                <h3 class="mb-0">List of Classrooms</h3>
              </div>
              <div class="col-6 text-right">
                <a href="#" class="btn btn-sm btn-success btn-round btn-icon">
                  <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Activate Selected Classrooms"><i class="fas fa-check"></i> Activate</span>
                </a>
                <a href="#" class="btn btn-sm btn-danger btn-round btn-icon">
                  <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Disable Selected Classrooms"><i class="fas fa-ban"></i> Disable</span>
                </a>
              </div>
            </div>
          </div>
          <div class="table-responsive mt-0 pb-4">
            <table class="table table-flush p-0 mt-0" id="datatable-basic">
              <thead class="thead-light p-0 m-0">
                <tr>
                  <th>Room</th>
                  <th>Building</th>
                  <th>College</th>
                  <th>Active</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>CL2</td>
                  <td>Arts and Sciences</td>
                  <td>College of Social Sciences and Humanities</td>
                  <td>
                    <label class="custom-toggle">
                      <input type="checkbox" checked>
                      <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                    </label>
                  </td>
                  <td>
                    <a href="#addClassrooms" class="table-action" data-toggle="modal">
                      <i class="fas fa-edit mx-1" data-toggle="tooltip" data-original-title="Edit Classroom Details"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>CL1</td>
                  <td>Business Administration</td>
                  <td>College of Business Administration and Accountancy</td>
                  <td>
                    <label class="custom-toggle">
                      <input type="checkbox" checked>
                      <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                    </label>
                  </td>
                  <td>
                    <a href="#addClassrooms" class="table-action" data-toggle="modal">
                      <i class="fas fa-edit mx-1" data-toggle="tooltip" data-original-title="Edit Classroom Details"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Modal Section -->
        <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
          <div class="modal modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filter Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <div class="row">
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">College</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">CNSM</a>
                        <a class="dropdown-item" href="#">COA</a>
                        <a class="dropdown-item" href="#">COE</a>
                        <a class="dropdown-item" href="#">Educ</a>
                        <a class="dropdown-item" href="#">COF</a>
                        <a class="dropdown-item" href="#">CBA</a>
                        <a class="dropdown-item" href="#">CSSH</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">Year Level</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">1st Year</a>
                        <a class="dropdown-item" href="#">2nd Year</a>
                        <a class="dropdown-item" href="#">3rd Year</a>
                        <a class="dropdown-item" href="#">4th Year</a>
                        <a class="dropdown-item" href="#">5th Year</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                <button type="button" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="addClassrooms" tabindex="-1" role="dialog" aria-labelledby="addClassroomsLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addClassroomsLabel">Add/Edit Classroom</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form class="p-0">
                <div class="modal-body pt-2">
                  <div class="row d-flex align-items-center my-0">
                    <div class="col-6 my-0">
                      <div class="d-flex align-items-center">
                        <div class="col-7 px-0">
                          <label class="form-control-label">Active?</label>
                        </div>
                        <div class="col-5 px-0 text-right">
                          <label class="custom-toggle">
                            <input type="checkbox" checked>
                            <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-6">
  
                    </div> -->
                  </div>
                  <label class="form-control-label mt-4">Room Code</label>
                  <input type="text" class="form-control" placeholder="Default input">
                  <label class="form-control-label mt-4">Building</label>
                  <form>
                    <input type="text" class="form-control" placeholder="Building">
                  </form>
                  <label class="form-control-label mt-4">College</label>
                  <form>
                    <select class="form-control" data-toggle="select" data-live-search="true" data-live-search-placeholder="Search ...">
                      <option>College 1</option>
                      <option>College 2</option>
                      <option>College 3</option>
                    </select>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                  <button type="button" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>

         <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
    <!-- Argon Scripts -->
    <% include ../partials/scripts %>
  </body>
  
  