<body>
    <!-- Sidenav -->
    <% include ../partials/sidenav %>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <% include ../partials/topnav %>
      <!-- Page content -->
      <div class="header">
        <div class="container-fluid">
          <div class="row my-3 d-flex align-items-center">
            <div class="col-6">
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input id="input_search" class="form-control" placeholder="Search" type="text">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </form>
            </div>
            <div class="col-6 text-right">
              <a id="btn_new" href="#addCollege" class="btn btn-sm btn-primary btn-round btn-icon" data-toggle="modal">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Add New College"><i class="fas fa-plus"></i> New</span>
              </a>
              <a href="#filterModal" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="modal">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Filter Data"><i class="fas fa-filter"></i> Filter</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="card mt-0 pt-0">
          <!-- Card header -->
          <div class="card-header mb--2">
            <div class="row">
              <div class="col-6">
                <h3 class="mb-0">List of Colleges</h3>
              </div>
              <div class="col-6 text-right">
                <a href="#" class="btn btn-sm btn-success btn-round btn-icon">
                  <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Activate Selected Colleges"><i class="fas fa-check"></i> Activate</span>
                </a>
                <a href="#" class="btn btn-sm btn-danger btn-round btn-icon">
                  <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Disable Selected Colleges"><i class="fas fa-ban"></i> Disable</span>
                </a>
              </div>
            </div>
          </div>
          <div class="table-responsive mt-0 pb-4">
            <table class="table table-flush p-0 mt-0" id="datatable-basic">
              <thead class="thead-light p-0 m-0">
                <tr>
                  <th>Code</th>
                  <th>Description</th>
                  <th>Dean</th>
                  <th>Assistant Dean</th>
                  <th>Active</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% colleges.forEach(function(col){ %>
                  <tr>
                      <td><%= col.collegeCode %></td>
                      <td><%= col.collegeDescription %></td>

                      <td>
                          <% if(col.colldean == null){ %> 
                            <span class="badge badge-primary">Not Available</span>
                          <% }else{ %> 
                            <%= col.colldean.collegedean.firstName %> <%= col.colldean.collegedean.lastName %>
                          <% } %>
                      </td>

                      <td class="asstdean">
                          <% if(col.colldean == null){ %> 
                            <span class="badge badge-primary">Not Available</span>                            
                          <% }else{ %> 
                            <% if(col.colldean.collegeassistantdean == null){ %> 
                              <span class="badge badge-primary">Not Available</span>
                            <% }else{ %> 
                              <%= col.colldean.collegeassistantdean.firstName %> <%= col.colldean.collegeassistantdean.lastName %>
                            <% } %>
                          <% } %>
                      </td>

                      <td>
                        <label class="custom-toggle">
                            <input class="actdeac" type="checkbox" id="<%= col.collegeCode %>" <% if(col.active == true){ %> checked <% } %> >
                            <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                        </label>
                      </td>
                      <td>
                        <a href="#addCollege" class="table-action edit_btn" data-toggle="modal" data-id="<%= col.id %>">
                          <span data-toggle="tooltip" data-original-title="Edit College Details">
                            <i class="fas fa-edit mx-1"></i>
                          </span>
                        </a>
                      </td>
                    </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Modal Section -->
        <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
          <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filters Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <div class="row d-flex justify-content-center">
                  <div class="col-10">
                    <h6 class="heading-small text-muted mb-2">Status</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">Active</a>
                        <a class="dropdown-item" href="#">Disabled</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                <button type="button" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="addCollege" tabindex="-1" role="dialog" aria-labelledby="addCollegeLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addCollegeLabel">Add/Edit College</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form class="m-0" id="addcollform" method="POST" action="/admin/api/college/add">
                <div class="modal-body pt-2">
                  <div class="row d-flex align-items-center my-0">
                    <div class="col-6 my-0">
                      <div class="d-flex align-items-center">
                        <div class="col-7 px-0">
                          <label class="form-control-label">Active?</label>
                        </div>
                        <div class="col-5 px-0 text-right">
                          <label class="custom-toggle">
                            <input name="active" type="checkbox" checked>
                            <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-6">
  
                    </div> -->
                  </div>
                  <input id="old_collcode" name="old_collcode" type="text" hidden>
                  <label class="form-control-label mt-4">College Code</label>
                  <input id="collcode" name="collegeCode" type="text" class="form-control" placeholder="Default input">
                  <label class="form-control-label mt-4">College Description</label>
                  <input id="collname" name="collegeDescription" type="text" class="form-control" placeholder="Default input">
                  <label class="form-control-label mt-4">Dean</label>
                    <select id="colldean" name="dean" class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                      <option>Select dean</option>
                      <% faculty.forEach(function(f){ %> 
                        <option value="<%= f.idNumber %>"><%= f.firstName %> <%= f.lastName %></option>
                      <% }) %>
                    </select>
                  <label class="form-control-label mt-4">Assistant Dean</label>
                    <select id="collasstdean" name="assisstantDean" class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                      <option>Select assistant dean</option>
                      <% faculty.forEach(function(f){ %> 
                        <option value="<%= f.idNumber %>"><%= f.firstName %> <%= f.lastName %></option>
                      <% }) %>
                    </select>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                  <button type="submit" form="addcollform"  class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>

         <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
    <!-- Argon Scripts -->
    <% include ../partials/scripts %>
  </body>
  
  <script>
  $(document).ready(function(){
    var tables = $.fn.dataTable.tables(); 
    var datatables = $(tables).DataTable(); 

    $('#input_search').on( 'keyup', function () {
        datatables.search(this.value).draw();
    });

    $("#datatable-basic").on('click', '.actdeac' , function handler(e) { 
        e.preventDefault(); 
        var a = $(this).attr("id"); 
        var value; 
         console.log(a)

      if($('#'+a).is(':checked')){ 
            $.ajax({
                  type: "PUT",
                  url: "/admin/api/college/activate/" + a,
                  async: true,
                  data: {
                      val: this.id
                  },
                  success: function(data){
                    //console.log(data);
                    $('#'+a).prop('checked', true);
                    Swal.fire(
                      'College has been activated',
                      '',
                      'success'
                    ).then(() => {
                      //window.location.reload();
                    })
                  },
                  error: function(data){
                    alert("Error");
                  }
              });
          }else{ 
            $.ajax({
                  type: "PUT",
                  url: "/admin/api/college/deactivate/" + a,
                  async: true,
                  data: {
                      val: this.id
                  },
                  success: function(data){
                    //console.log(data);
                    $('#'+a).prop('checked', false);
                    Swal.fire(
                      'College has been deactivated',
                      '',
                      'success'
                    ).then(() => {
                      //window.location.reload();
                    })
                  },
                  error: function(data){
                    alert("Error");
                  }
              });
          }
      })

      $('#datatable-basic tbody').on( 'click', 'a', function (){
        var data = datatables.row( $(this).parents('tr') ).data();
        $("#old_collcode").val(data[0]);
        $("#collcode").val(data[0]);
        $("#collname").val(data[1]);        
        setSelectedIndex(document.getElementById("colldean"), data[2]);
        setSelectedIndex(document.getElementById("collasstdean"), data[3]);
      });

      function setSelectedIndex(s, v) {
        for ( var i = 0; i < s.length; i++ ) {
            if ( s.options[i].text.trim() == v.trim() ) {
                $(s).val(s.options[i].value).trigger('change');
                return;
            }
        }
      }


    $('#btn_new').click(function(e){
      $('#addCollegeLabel').html("Add College")
      $("#old_collcode").val("");
      $("#collcode").val("");
      $("#collname").val("");
      $("#colldean").val("").change();
      $("#collasstdean").val("").change();
    });

    // $('.edit_btn').click(function(e){
    //   $('#addCollegeLabel').html("Edit College")
    //   // $("#old_collcode").val("");
    //   // $("#collcode").val("");
    //   // $("#collname").val("");
    //   // $("#colldean").val("").change();
    //   // $("#collasstdean").val("").change();

    //   var id = $(this).attr("data-id");
    //   // console.log(id)
    //   $.ajax({
    //     method: "GET",
    //     url: `/admin/api/college/${id}`,
    //     async: true,
    //     success: function(data){
    //       console.log(data)
    //     },
    //     error: function(err){
    //       console.log(err);
    //     }
    //   })

    // });

  })
  
  </script>