<body>
    <!-- Sidenav -->
    <% include ../partials/sidenav %>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <% include ../partials/topnav %>
      <!-- Page content -->
      <div class="header">
          <div class="container-fluid">
            <br>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-4 order-xl-2">
              <div class="card card-profile">
                <img src="/assets/img/msu/library.jpg" alt="Image placeholder" class="card-img-top">
                <div class="row justify-content-center">
                  <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                      <a href="#">
                        <img src="/assets/img/administrator.svg" class="rounded-circle bg-gray">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="text-center mt-6">
                    <h5 class="h3">
                        <%= locals.userInfo.firstName %> <%= locals.userInfo.lastName %>
                    </h5>
                    <span class="badge badge-primary mb-4">Administrator</span>
                    <!-- <div class="h5 mt-4">
                      Bachelor of Science in Information Technology
                    </div>
                    <div class="h5 mt-2 text-muted">
                      IT/Physics Department • CNSM
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div></div>
            <div class="col-xl-8 order-xl-1">
              <div class="row">
                <div class="col-lg-6">
                  <div class="card bg-gradient-primary border-0">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0 text-white">Active Accounts</h5>
                          <span class="h2 font-weight-bold mb-0 text-white">400</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                            <i class="fas fa-users"></i>
                          </div>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <span class="text-white mr-2">As of 2nd Semester • 2018-2019</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card bg-gradient-primary border-0">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0 text-white">Disabled Accounts</h5>
                          <span class="h2 font-weight-bold mb-0 text-white">10,000</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                            <i class="fas fa-user-slash"></i>
                          </div>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <span class="text-white mr-2">As of 2nd Semester • 2018-2019</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card card-calendar">
                <!-- Card header -->
                <div class="card-header">
                  <!-- Title -->
                  <h5 class="h3 mb-0">University Events</h5>
                </div>
                <!-- Card body -->
                <div class="card-body p-0">
                    <div class="calendar" data-toggle="calendar" id="calendar"></div>
                </div>
            </div>
            </div>
          </div>

         <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
    <!-- Argon Scripts -->
    <% include ../partials/scripts %>
  </body>
  
  