<body>
    <!-- Sidenav -->
    <% include ../partials/sidenav %>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <% include ../partials/topnav %>
      <!-- Page content -->
      <div class="header">
        <div class="container-fluid">
          <div class="row my-3 d-flex align-items-center">
            <div class="col-6">
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" type="text">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </form>
            </div>
            <div class="col-6 text-right">
              <a href="#addDept" class="btn btn-sm btn-primary btn-round btn-icon department" data-operation="add" data-toggle="modal">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Add New Department"><i class="fas fa-plus"></i> New</span>
              </a>
              <a href="#filterModal" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="modal">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Filter Data"><i class="fas fa-filter"></i> Filter</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="card mt-0 pt-0">
          <!-- Card header -->
          <div class="card-header mb--2">
            <div class="row">
              <div class="col-6">
                <h3 class="mb-0">List of Departments</h3>
              </div>
              <div class="col-6 text-right">
                <a href="#" class="btn btn-sm btn-success btn-round btn-icon">
                  <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Activate Selected Departments"><i class="fas fa-check"></i> Activate</span>
                </a>
                <a href="#" class="btn btn-sm btn-danger btn-round btn-icon">
                  <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Disable Selected Departments"><i class="fas fa-ban"></i> Disable</span>
                </a>
              </div>
            </div>
          </div>
          <div class="table-responsive mt-0 pb-4">
            <table class="table table-flush p-0 mt-0" id="datatable-basic">
              <thead class="thead-light p-0 m-0">
                <tr>
                  <th>Code</th>
                  <th>Description</th>
                  <th>Chairperson</th>
                  <th>Active</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
              <% department.forEach(function(dept){ %>
                <tr>
                  <td class="code">
                    <%= dept.departmentCode %>
                  </td>
                  <td class="desc">
                      <%= dept.departmentDescription %>
                  </td>
                  <td class="chairman">
                      <% if(dept.departmentchairman == null){ %> 
                        <span class="badge badge-primary">Not Available</span>
                      <% }else{ %> 
                        <%= dept.departmentchairman.department.firstName %>
                      <% } %>
                  </td>
                  <td>
                    <label class="custom-toggle">
                      <input class="actdeac" type="checkbox"  id="<%= dept.departmentCode %>"  <% if(dept.active == true){ %> checked <% } %> >
                      <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                    </label>
                  </td>
                  <td>
                    <a href="#addDept" class="table-action department" data-toggle="modal" data-id="<%= dept.id %>" data-operation="edit">
                      <i class="fas fa-edit mx-1" data-toggle="tooltip" data-original-title="Edit Department Details"></i>
                    </a>
                  </td>
                </tr>
              <% }) %>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Modal Section -->
        <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
          <div class="modal modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filter Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <div class="row">
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">College</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">CNSM</a>
                        <a class="dropdown-item" href="#">COA</a>
                        <a class="dropdown-item" href="#">COE</a>
                        <a class="dropdown-item" href="#">Educ</a>
                        <a class="dropdown-item" href="#">COF</a>
                        <a class="dropdown-item" href="#">CBA</a>
                        <a class="dropdown-item" href="#">CSSH</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">Year Level</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">1st Year</a>
                        <a class="dropdown-item" href="#">2nd Year</a>
                        <a class="dropdown-item" href="#">3rd Year</a>
                        <a class="dropdown-item" href="#">4th Year</a>
                        <a class="dropdown-item" href="#">5th Year</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                <button type="button" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="addDept" tabindex="-1" role="dialog" aria-labelledby="addDeptLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addDeptLabel">Add/Edit Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form class="m-0">
                <div class="modal-body pt-2">
                  <div class="row d-flex align-items-center my-0">
                    <div class="col-6 my-0">
                      <div class="d-flex align-items-center">
                        <div class="col-7 px-0">
                          <label class="form-control-label">Active?</label>
                        </div>
                        <div class="col-5 px-0 text-right">
                          <label class="custom-toggle">
                            <input name="isActive" id="isActive" type="checkbox" checked>
                            <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-6">
  
                    </div> -->
                  </div>
                  <input type="text" name="operation" id="operation" hidden>
                  <label class="form-control-label mt-4">Department Code</label>
                  <input id="deptCode" name="deptCode" type="text" class="form-control" placeholder="Default input">
                  <label class="form-control-label mt-4">Department Description</label>
                  <input id="deptDesc" name="deptDesc" type="text" class="form-control" placeholder="Default input">
                  <label class="form-control-label mt-4">Chairman</label>
                  <form>
                    <select id="deptChair" name="deptChair" class="form-control mb-2" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                      <option value="def" disabled>Select chairman</option>
                      <% faculty.forEach(function(f){ %> 
                        <option value="<%= f.idNumber %>"><%= f.firstName %> <%= f.lastName %></option>
                      <% }) %>
                    </select>
                  </form>
                  <label class="form-control-label mt-4">College</label>
                  <form>
                    <select id="collCode" name="collCode" class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                      <option value="def" disabled>Select college</option>
                      <% college.forEach(function(c){ %> 
                        <option value="<%= c.collegeCode %>"><%= c.collegeDescription %></option>
                      <% }) %>
                    </select>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                  <button type="button" class="btn btn-primary save-changes"><i class="fas fa-save "></i> Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>

         <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
    <!-- Argon Scripts -->
    <% include ../partials/scripts %>
  </body>

  <script>

    $(".department").on('click', function(e){
      var id = $(this).attr("data-id");
      var operation = $(this).attr("data-operation");
      $("#deptCode").val("");
      $("#deptDesc").val("");
      $("#collCode").val("");
      $("#isActive").prop('checked');

      if(operation === 'add'){
        $("#operation").val("add");
        $("#addDeptLabel").text("Add Department");
      } else{
        $("#operation").val("edit");
        $("#addDeptLabel").text("Edit Department");     
        $.ajax({
          method: "GET",
          url: "/admin/api/department/" + id,
          async: true,
          data: {
          },
          success: function(data){
           console.log(data)
          },
          error: function(err){

          } 
        })
      }
    });

    $(".save-changes").on('click', function(e){
      operation = $("#operation").val();
      departmentCode = $("#deptCode").val();
      deptDesc = $("#deptDesc").val();
      collCode = $("#collCode").val("def");
      active = $("#isActive").prop('checked');
      chairman = $("#deptChair").val()

      if(operation === 'add'){
        $.ajax({
          method: "POST",
          url: "/admin/api/department/add",
          async: true,
          data: {
            departmentCode: departmentCode,
            departmentDescription: deptDesc,
            collegeCode: collCode,
            active: active,
            chairman: chairman
          },
          success: function(data){
            Swal.fire(
                      'Department has been added',
                      '',
                      'success'
                    ).then(() => {
                      window.location.reload();
                    })
          },
          error: function(err){

          }
        });
      } else{
        $("#addDeptLabel").text("Edit Department");        
      }
    });

    $("#datatable-basic").on('click', '.actdeac' , function handler(e) { 
        e.preventDefault(); 
        var a = $(this).attr("id"); 
        var value; 
         console.log(a)

      if($('#'+a).is(':checked')){ 
            $.ajax({
                  type: "PUT",
                  url: "/admin/api/department/activate/" + a,
                  async: true,
                  data: {
                      val: this.id
                  },
                  success: function(data){
                    //console.log(data);
                    $('#'+a).prop('checked', true);
                    Swal.fire(
                      'Department has been activated',
                      '',
                      'success'
                    ).then(() => {
                      //window.location.reload();
                    })
                  },
                  error: function(data){
                    alert("Error");
                  }
              });
          }else{ 
            $.ajax({
                  type: "PUT",
                  url: "/admin/api/department/deactivate/" + a,
                  async: true,
                  data: {
                      val: this.id
                  },
                  success: function(data){
                    //console.log(data);
                    $('#'+a).prop('checked', false);
                    Swal.fire(
                      'Department has been deactivated',
                      '',
                      'success'
                    ).then(() => {
                      //window.location.reload();
                    })
                  },
                  error: function(data){
                    console.log(data)
                    alert("Error");
                  }
              });
          }
      })
  
  </script>
  
  