<body>
    <!-- Sidenav -->
    <% include ../partials/sidenav %>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <% include ../partials/topnav %>
      <!-- Page content -->
      <div class="header">
        <div class="container-fluid">
          <div class="row my-3 d-flex align-items-center">
            <div class="col-6">
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" type="text">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </form>
            </div>
            <div class="col-6 text-right">
              <a href="/admin/advising" class="btn btn-sm btn-primary btn-round btn-icon">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Advise Student"><i class="fas fa-plus"></i> New</span>
              </a>
              <a href="#filterModal" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="modal">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Filter Data"><i class="fas fa-filter"></i> Filter</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="card mt-0 pt-0">
          <!-- Card header -->
          <div class="card-header mb--2">
            <div class="row">
              <div class="col-auto">
                <h3 class="mb-0">List of Advised Students</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive mt-0 pb-4">
            <table class="table table-flush p-0 mt-0" id="datatable-basic">
              <thead class="thead-light p-0 m-0">
                <tr>
                  <th>ID</th>
                  <th>Last Name</th>
                  <th>First Name</th>
                  <th>M.I.</th>
                  <th>Year Level</th>
                  <th>Course</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% enlistment.forEach(function(e){ %> 
                <tr>
                  <td><%= e.student.idNumber %></td>
                  <td><%= e.student.lastName %></td>
                  <td><%= e.student.firstName %></td>
                  <td><%= e.student.middleName.charAt(0) %></td>
                  <td>
                    <% if(e.yearLevel == 1 ){ %> 1st Year <% } %>
                    <% if(e.yearLevel == 2 ){ %> 2nd Year <% } %>
                    <% if(e.yearLevel == 3 ){ %> 3rd Year <% } %>
                    <% if(e.yearLevel == 4 ){ %> 4th Year <% } %>
                    <% if(e.yearLevel == 5 ){ %> 5th Year <% } %>
                  </td>
                  <td><%= e.programCode%></td>
                  <td>
                    <a href="#viewEnlistmentData" class="table-action view-enlistment" id="" data-toggle="modal" data-id="<%= e.id %>">
                      <i class="fas fa-external-link-alt mx-1" data-toggle="tooltip"
                        data-original-title="View Advising Info"></i>
                    </a>
                    <a href="#editAdvising" class="table-action edit-enlistment" data-toggle="modal" data-id="<%= e.id %>">
                      <i class="fas fa-edit mx-1" data-toggle="tooltip" data-original-title="Edit Advising Info"></i>                      
                    </a>
                    <a href="#viewPrevRepGrades" class="table-action" data-toggle="modal">
                      <i class="fas fa-star mx-1" data-toggle="tooltip" data-original-title="Report of Grades for Previous Semester"></i>
                    </a>
                    <a href="#viewEnrolledSubjects" class="table-action view-enrolled" data-toggle="modal" id="" data-id="<%= e.id %>" data-sy="<%= e.schoolYear %>">
                      <i class="fas fa-clipboard-list mx-1" data-toggle="tooltip" data-original-title="Subjects for this Semester"></i>
                    </a>
                  </td>
                </tr>
                <% }) %>
               
              </tbody>
            </table>
          </div>
        </div>
        <!-- Modal Section -->
        <!-- Filter Modal -->
        <div class="modal fade" id="filterModal" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
          <div class=" modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filter Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <div class="row">
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">School Year</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        2018-2019
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">2018-2019</a>
                        <a class="dropdown-item" href="#">2017-2018</a>
                        <a class="dropdown-item" href="#">2016-2017</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">Semester</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        2nd Semester
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">1st Semester</a>
                        <a class="dropdown-item" href="#">2nd Semester</a>
                        <a class="dropdown-item" href="#">Summer</a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">College</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">CNSM</a>
                        <a class="dropdown-item" href="#">COA</a>
                        <a class="dropdown-item" href="#">COE</a>
                        <a class="dropdown-item" href="#">Educ</a>
                        <a class="dropdown-item" href="#">COF</a>
                        <a class="dropdown-item" href="#">CBA</a>
                        <a class="dropdown-item" href="#">CSSH</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">Department</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">IT & Physics Department</a>
                        <a class="dropdown-item" href="#">Mathematics Deparmtent</a>
                        <a class="dropdown-item" href="#">Science Department</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">Status</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All Students</a>
                        <a class="dropdown-item" href="#">Advised</a>
                        <a class="dropdown-item" href="#">Encoded</a>
                        <a class="dropdown-item" href="#">Registered</a>
                        <a class="dropdown-item" href="#">Removed</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>
                  Cancel</button>
                <button type="button" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
              </div>
            </div>
          </div>
        </div>
        <!-- View Enlistment Modal  -->
        <div class="modal fade" id="viewEnlistmentData" tabindex="-1" role="dialog" aria-labelledby="viewEnlistmentDataLabel"
          aria-hidden="true">
          <div class="modal modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Enlistment Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body pt-0">
                <div class="row py-2">
                  <div class="col-4">
                    <h6 class="heading-small text-muted mb-0">ID Number</h6>
                  </div>
                  <div class="col-8">
                    <p id="studentId" class="text-sm  mb-0"></p>
                  </div>
                </div>
                <div class="row py-2">
                  <div class="col-4">
                    <h6 class="heading-small text-muted mb-0">Name</h6>
                  </div>
                  <div class="col-8">
                    <p id="studentName" class="text-sm  mb-0"></p>
                  </div>
                </div>
                <div class="row py-2">
                  <div class="col-4">
                    <h6 class="heading-small text-muted mb-0">Year Level</h6>
                  </div>
                  <div class="col-8">
                    <p id="studentYearLevel" class="text-sm  mb-0"></p>
                  </div>
                </div>
                <div class="row  py-2">
                  <div class="col-4">
                    <h6 class="heading-small text-muted mb-0">Program</h6>
                  </div>
                  <div class="col">
                    <p id="studentProgram" class="text-sm mb-0"></p>
                  </div>
                </div>
                <div class="row  py-2">
                  <div class="col-4">
                    <h6 class="heading-small text-muted mb-0">Major</h6>
                  </div>
                  <div class="col">
                    <p id="studentMajor" class="text-sm mb-0"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

         <!-- Edit Enlistment Modal -->
      <div class="modal fade" id="editAdvising" tabindex="-1" role="dialog" aria-labelledby="editAdvisingLabel"
      aria-hidden="true">
      <div class="modal modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <input id="enlistmentId" name="enlistmentId" class="form-control" type="text" value="" id="example-text-input" hidden >
            <h5 class="modal-title">Edit Advising Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pt-0">
            <div class="d-flex align-items-center">
              <div class="col-3 px-0">
                <label class="form-control-label">Graduating?</label>
              </div>
              <div class="col-5 px-0">
                <label class="custom-toggle">
                  <input type="checkbox" id="isGraduating" name="isGraduating" checked>
                  <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                </label>
              </div>
            </div>
            <label class="form-control-label mt-4">Year Level</label>
            <div class="col-md-6 px-0">
              <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuBtn"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All
              </button>
              <input id="yearLevel" name="yearLevel" class="form-control" type="text" value="" id="example-text-input" hidden>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" data-value="1">1st Year</a>
                <a class="dropdown-item" href="#" data-value="2">2nd Year</a>
                <a class="dropdown-item" href="#" data-value="3">3rd Year</a>
                <a class="dropdown-item" href="#" data-value="4">4th Year</a>
                <a class="dropdown-item" href="#" data-value="5">5th Year</a>
              </div>
            </div>
            <label class="form-control-label mt-4">Program</label>
            <select id="programCode" name="programCode" class="form-control program-code" data-toggle="select" title="Simple select" data-live-search="true"
              data-live-search-placeholder="Search ...">
              <option selected disabled>Select Program</option>
                <% program.forEach(function(p){ %>
                  <option value="<%= p.programCode %>"><%= p.programDesc %></option>
                <% }) %>
            </select>
            <label class="form-control-label mt-4">Major</label>
              <select id="majorCode" name="majorCode" class="form-control major-code" data-toggle="select" title="Simple select" data-live-search="true"
                data-live-search-placeholder="Search ...">
                <option selected disabled>Select Major</option>
              </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
            <button type="button" class="btn btn-primary save-edit"><i class="fas fa-save"></i> Save</button>
          </div>
        </div>
      </div>
      </div>

        <!-- View Report of Grades from Previous Semester -->
        <div class="modal fade" id="viewPrevRepGrades" tabindex="-1" role="dialog" aria-labelledby="viewPrevRepGradesLabel"
          aria-hidden="true">
          <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="viewFacultyDataLabel">Report of Grades</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <div class="card shadow">
                  <div class="card-header">
                    <h4 class="mb-0">S.Y 2010-2011 - 1st Semester</h4>
                  </div>
                  <div class="card-body">
                    <div class="row py-2">
                      <div class="col-2">
                        <p class="text-sm  mb-0">IT100</p>
                      </div>
                      <div class="col-7">
                        <p class="text-sm  mb-0">Social, Ethical, and Professional Issues in Information Technology</p>
                      </div>
                      <div class="col-3 text-center">
                        <p class="text-sm strong mb-0"><strong>INC</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- View Enrolled Subjects -->
        <div class="modal fade" id="viewEnrolledSubjects" tabindex="-1" role="dialog" aria-labelledby="viewEnrolledSubjectsLabel"
          aria-hidden="true">
          <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="viewFacultyDataLabel">Enrolled Subjects</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <div class="card shadow">
                  <div class="card-header">
                    <div class="row">
                      <div class="col">
                    <h4 class="mb-0">S.Y <%= currentSy.schoolYear %> - <% if(currentSy.semester == 1 ){ %> 1st <% } else{ %> 2nd <% } %> Semester</h4>
                      </div>
                      <div class="col text-right">
                        <a href="#" onclick="" class="btn btn-sm btn-primary btn-round btn-icon" id="editEnrolledSubjects">
                          <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Edit Subjects for this Semester"><i
                              class="fas fa-edit"></i> Edit</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <input id="id" hidden></input>
                  <input id="sy" hidden></input>
                  <input id="sid" hidden></input>

                  <div class="card-body subjectList">
                    <div class="row py-2 subjectRow">
                      <div class="col-2">
                        <p class="text-sm  mb-0">IT100</p>
                      </div>
                      <div class="col-6">
                        <p class="text-sm  mb-0">Social, Ethical, and Professional Issues in Information Technology</p>
                      </div>
                      <div class="col-2 text-center">
                        <p class="text-sm strong mb-0"><strong>Sec1</strong></p>
                      </div>
                      <div class="col-2 text-center">
                        <p class="text-sm strong mb-0"><strong>Bulding</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     
        <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
    <!-- Argon Scripts -->
    <% include ../partials/scripts %>
  </body>

  <script>
  $(document).ready(function(){
    var tables = $.fn.dataTable.tables(); 
    var datatables = $(tables).DataTable(); 

    $('.view-enlistment').on('click', function(){
      var id = $(this).attr("data-id"); 
     // console.log(id)

        $.ajax({
          method: "GET",
          url: `/admin/api/enlistment/${id}`,
          async: true,
          success: function(data){
            $("#studentId").text(data.e.studentId);
            $("#studentName").text(data.e.student.lastName + ", " + data.e.student.firstName + " " + data.e.student.firstName.charAt(0));
            $("#studentYearLevel").text(data.e.yearLevel);
            $("#studentProgram").text(data.e.programCode);
            $("#studentMajor").text(data.e.majorCode);
          },
          error: function(err){
            console.log(err)
          }
        });
    })
    
    $('#datatable-basic tbody').on( 'click', '.view-enrolled', function (){

      var data = datatables.row( $(this).parents('tr') ).data();
      var id = $(this).attr("data-id");
      var sy = $(this).attr("data-sy");
      var sid = data[0];
      $("#id").val(id);
      $("#sy").val(sy);
      $("#sid").val(sid);

      $( ".subjectRow" ).remove();

      $.ajax({
        method: 'GET',
        url: `/admin/api/enlistment/subject/${sy}/${id}`,
        async: true,
        success: function(data){
          if(data.subject.length > 0){
            data.subject.forEach(subj => {
              $( ".subjectList" ).append(
                      '<div class="row py-2 subjectRow">'+
                        '<div class="col-2">'+
                          '<p class="text-sm  mb-0">' + subj.subjectoffering.subject.subjectCode + '</p>'+
                      ' </div>'+
                        '<div class="col-6">'+
                        ' <p class="text-sm  mb-0">' + subj.subjectoffering.subject.subjectDescription + '</p>'+
                        '</div>'+
                        '<div class="col-2 text-center">'+
                          '<p class="text-sm strong mb-0"><strong>Section ' +  subj.subjectoffering.section + '</strong></p>'+
                      ' </div>'+
                        '<div class="col-2 text-center">'+
                          '<p class="text-sm strong mb-0"><strong>' +  subj.subjectoffering.subjectclassroom.building + '</strong></p>'+
                        '</div>'+
                    '</div>'
              );
            });
          } else{
            $( ".subjectList" ).append(
                      '<div class="row py-2 subjectRow">'+
                        '<div class="col-12">'+
                          '<p align="center" class="text-sm  mb-0">No subjects enrolled yet</p>'+
                      ' </div>' +
                    '</div>'
              );
          }
        },
        error: function(err){
          console.log(err)
        }
      })

    });

    $('#editEnrolledSubjects').on('click', function(){
      const id = $("#id").val();
      const sy = $("#sy").val();
      const sid = $("#sid").val();
      //  console.log(id, sy, sid)
      // console.log($("#sy").val())
      window.location.href=`/admin/enrolledsubj-edit/${sy}/${id}/${sid}`;
    });

    $('.dropdown-menu a').click(function(){
      var year = $(this).data("value");
      $('#yearLevel').val(year);
      $('#dropdownMenuBtn').text($(this).text());
    });

    $('#programCode').on('change', function(){
      var programcode = this.value;
      $("#majorCode").empty();
      $("#majorCode").append($("<option selected disabled />").text("Select Major"));
      $.ajax({
        type: "GET",
        url: `/admin/api/program/major/${programcode}`,
        async: true,
        success: function(data){
          for(i = 0; i < data.majors.length; i++){
            $("#majorCode").append($("<option />").val(data.majors[i]).text(data.majors[i]));
          }
        },
        error: function(err){
          console.log(err)
        }
      })
    });

    $(".edit-enlistment").on('click', function(){
      var id = $(this).attr("data-id");
      $("#enlistmentId").val(id);
      // console.log(id)
      $.ajax({
        type: 'GET',
        url: `/admin/api/enlistment/${id}`,
        async: true,
        success: function(data){
          if(!data.e.graduating){
            $("#isGraduating").prop('checked', false);
          };
          switch(data.e.yearLevel){
            case 1:
              $('#yearLevel').val(1);
              $('#dropdownMenuBtn').text("1st Year");
              break;
            case 2:
              $('#yearLevel').val(2);
              $('#dropdownMenuBtn').text("2nd Year");
              break;
            case 3:
              $('#yearLevel').val(3);
              $('#dropdownMenuBtn').text("3rd Year");
              break;
            case 4:
              $('#yearLevel').val(4);
              $('#dropdownMenuBtn').text("4th Year");
              break;
            case 5:
              $('#yearLevel').val(5);
              $('#dropdownMenuBtn').text("5th Year");
              break;
          }
          $(".program-code").val(data.e.programCode).change();
          $(".major-code").val(data.e.programCode).change();
        },
        error: function(err){
          console.log(err)
        }
      })
    })

    $(".save-edit").on('click', function(){
      const isGraduating = $("#isGraduating").prop('checked');
      const yearLevel = $("#yearLevel").val();
      const programCode = $("#programCode").val();
      const majorCode = $("#majorCode").val();
      const id = $("#enlistmentId").val();
      // console.log(id, isGraduating, yearLevel, programCode, majorCode)

      $.ajax({
        type: "PUT",
        url: `/admin/api/enlistment/${id}`,
        async: true,
        data: {
          yearLevel: yearLevel,
          programCode: programCode,
          majorCode: majorCode,
          graduating: isGraduating
        },
        success: function(data){
          Swal.fire(
            'Changes were saved',
            '',
            'success'
          ).then(() => {
            window.location.reload();
          })
        },
        error: function(err){
          console.log(err);
        }
      })

    });

  })
  </script>
  