<body>
<!-- Sidenav -->
<% include ../partials/sidenav %>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <% include ../partials/topnav %>
  <!-- Page content -->
    <div class="header">
      <div class="container-fluid">
        <br />
      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-9 card-wrappercard-wrapper">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-0"><%= studentInfo.lastName %>, <%= studentInfo.firstName %> <%= studentInfo.middleName.charAt(0) %></h3>
                </div>
                <div class="col-6 text-right">
                  <a href="/admin/enlistment" class="btn btn-sm btn-secondary btn-round btn-icon" data-toggle="modal">
                    <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Discard changes"><i class="fas fa-times"></i> Cancel</span>
                  </a>
                  <!-- <a href="enlistment" class="btn btn-sm btn-primary btn-round btn-icon"> -->
                  <a href="#" class="btn btn-sm btn-primary btn-round btn-icon" id="saveAllAdded" > 
                    <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Save Changes"><i class="fas fa-save"></i> Save</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <div class="row align-content-center">
                  <div class="col-6">
                    <h6 class="heading-small text-muted">List of Subjects Enrolled for this semester</h6>
                  </div>
                  <div class="col-6 text-right mb-2">
                    <a href="#addBlocks" class="btn btn-sm btn-primary btn-round btn-icon" data-toggle="modal">
                      <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Add Student to Block"><i class="fas fa-plus"></i> Add to Block</span>
                    </a>
                  </div>
                </div>
                <% enlistmentSubj.subject.forEach(function(subj){ %>
                <div class="row mt-4 p-0">
                  <div class="col-md-11">
                    <input class="form-control" type="text" value="<%= subj.subjectoffering.subjectCode %> - <%= subj.subjectoffering.section %>  - <%= subj.subjectoffering.subject.subjectDescription %>" disabled>
                  </div>
                  <div class="col-md-1 p-0 m-0 removeSubjectButton">
                    <a href="#" class="btn btn-primary" role="button" data-toggle="tooltip" title="Remove Subject" data-enlistmentId="<%= subj.id %>">
                      <span class="btn-inner--text" ><i class="fas fa-trash"></i></span>
                    </a>
                  </div>
                </div>
                <% }) %>
                <div class="row mt-4 p-0 addSubjectList">

                  
                  <div class="col-md-11 ">
                    <select class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                      <option selected disabled>Select Subject Code</option>
                      <% subjectOff.forEach(function(off){ %>
                        <% if((off.slots - off.slotsTaken) != -0){ %> 
                        <option value="<%= off.id %>"><%= off.subjectCode %> - <%= off.section %> - <%= off.subject.subjectDescription %> (<%= off.slots - off.slotsTaken %> Slots Left)</option>
                        <% } %>
                      <% }) %>
                    </select>
                  </div>

                  <div class="col-md-1 p-0 m-0 addSubjectButton">
                    <a href="#" class="btn btn-primary" role="button" data-toggle="tooltip" title="Add Subject">
                      <span class="btn-inner--text"><i class="fas fa-plus"></i></span>
                    </a>
                  </div>

                </div>
              </form>
              <br />
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Section -->
      <!-- Modal -->
      <div class="modal fade" id="addBlocks" tabindex="-1" role="dialog" aria-labelledby="addBlocksLabel"
        aria-hidden="true">
        <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addBlocksLabel">Add to Block</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body py-0">
              <label class="form-control-label">Block</label>
              <select class="form-control" data-toggle="select" title="Simple select" data-live-search="true"
                data-live-search-placeholder="Enter Block Code ...">
                <option>Select Block</option>
                <option>Block 1</option>
                <option>Block 2</option>
                <option>Block 3</option>
                <option>Block 4</option>
                <option>Block 5</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
              <button type="button" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <% include ../partials/footer %>
    </div>
  </div>
  <!-- Argon Scripts -->
  <% include ../partials/scripts %>
</body>

<script>
$(document).ready(function(){
  


  var toDelete = [];

  $('.removeSubjectButton a').on('click', function(){
    var a = $(this).attr("data-enlistmentId"); 
    toDelete.push(a);
    console.log(toDelete);
  });

  var btn = document.getElementsByClassName('removeSubjectButton');
  for (var i = 0; i < btn.length; i++) {
    btn[i].addEventListener('click', function(e) {
      e.currentTarget.parentNode.remove();
    }, false);
  }


  $('#saveAllAdded').on('click', function(){
    var eId = "<%= enlistmentId %>"
    $(".addSubjectList :input").each(function(e){	
      var soId = this.value;

      $.ajax({
        method: "POST",
        url: "/admin/api/enlistment/subject/add",
        async: true,
        data: {
          enlistment: eId,
          subjectOffering: soId,
        },
        success: function(data){
          console.log("added")
        },
        error: function(err){
          console.log(err)
        }
      })
    });

    if(toDelete.length != 0){
      toDelete.forEach(d => {
          $.ajax({
          method: "DELETE",
          url: "/admin/api/enlistment/subject/remove",
          async: true,
          data: {
            subjectEnlistment: d
          },
          success: function(data){
            console.log("removed")
          },
          error: function(err){
            console.log(err)
          }
        })
      })
    }

    Swal.fire(
          'Changes were saved',
          '',
          'success'
        ).then(() => {
          window.location.replace('/admin/enlistment')
        })
  });

  $('.addSubjectButton a').on('click', function(){
    $('.addSubjectButton').remove();
    $(document).on('click', 'a', function(){
      addItem();
    })
  })

  function addItem(){
    $(document).ready(function(){
      $('.addSubjectList').append(
                    '<br><br><br>' +
                    '<div class="col-md-11 ">' +
                    ' <select class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">' +
                        '<option selected disabled>Select Subject Code</option>' +
                      ' <% subjectOff.forEach(function(off){ %>' +
                          '<% if((off.slots - off.slotsTaken) != -0){ %> ' +
                          '<option value="<%= off.id %>"><%= off.subjectCode %> - <%= off.section %> - <%= off.subject.subjectDescription %> (<%= off.slots - off.slotsTaken %> Slots Left)</option>' +
                        ' <% } %>' +
                        '<% }) %>' +
                      '</select>' +
                    '</div>' +

                    '<div class="col-md-1 p-0 m-0 addSubjectButton">' +
                    ' <a href="#" class="btn btn-primary" role="button" data-toggle="tooltip" title="Add Subject">' +
                        '<span class="btn-inner--text"><i class="fas fa-plus"></i></span>' +
                      '</a>' +
                  ' </div>' 
      );
    });
    removeButton();
  }

  function removeButton(){
    $('.addSubjectButton').remove();
  }

})
</script>

