<body>
    <!-- Sidenav -->
    <% include ../partials/sidenav %>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <% include ../partials/topnav %>
      <!-- Page content -->
    
      <div class="header">
        <div class="container-fluid">
          <br />
        </div>
      </div>

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-9 card-wrappercard-wrapper">
          <form id="facultyForm">
            <div class="card">
              <div class="card-header">
             
                <div class="row">
                  <div class="col-6">
                    <h3 class="mb-0">Add New Faculty</h3>
                  </div>
                 
                  <div class="col-6 text-right">
                    <a href="fis.html" class="btn btn-sm btn-secondary btn-round btn-icon">
                      <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Discard changes"><i class="fas fa-times"></i> Cancel</span>
                    </a>
                    <button href="#" type="submit" class="btn btn-sm btn-primary btn-round btn-icon">
                      <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Save Changes"><i class="fas fa-save"></i> Save</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h6 class="heading-small text-muted mb-4">Personal Information</h6>
                <div class="row mt-4">
                    <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Salutation</label>
                    <div class="col-md-10">
                        <div class="dropdown px-0 col-4">
                      <select class="form-control" id="salutation" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ..." data-minimum-results-for-search="Infinity">
                        <option value="Mr.">Ms.</option>
                        <option value="Mrs.">Mrs.</option>
                        <option value="Mr.">Mr.</option>
                      </select>
                    </div>
                    </div>
                </div>
                <div class="row mt-4">
                  <label for="idNumber" class="col-md-2 col-form-label form-control-label">ID Number</label>
                  <div class="col-md-4">
                    <input class="form-control" type="text" value="" id="idNumber" required>
                    <div id="idNumberMessage" class="invalid-feedback">
                          
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="lastName" class="col-md-2 col-form-label form-control-label">Last Name</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" value="" id="lastName" required>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="firstName" class="col-md-2 col-form-label form-control-label">First Name</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" value="" id="firstName" required>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="middleName" class="col-md-2 col-form-label form-control-label">Middle Name</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" value="" id="middleName" required>
                  </div>
                </div>
                <div class="row mt-4">
                    <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Suffix</label>
                    <div class="col-md-4">

                      <select class="form-control" id="suffix" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                              <option value="">None</option>
                              <option value="Junior">Junior</option>
                              <option value="Senior">Senior</option>
                              <option value="II">II</option>
                              <option value="III">III</option>
                              <option value="IV">IV</option>
                              <option value="V">V</option>
                              <option value="VI">VI</option>
                              <option value="VII">VII</option>
                              <option value="VIII">VIII</option>
                              <option value="IX">IX</option>
                              <option value="X">X</option>
                        </select>

                   
                    </div>

                    <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Gender</label>
                    <div class="col-md-4">
                      <div class="dropdown px-0 col-12">
                          <select class="form-control" id="gender" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ..." data-minimum-results-for-search="Infinity">
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                          </select>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Birthday</label>
                    <div class="col-md-4">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                        </div>
                        <input class="form-control datepicker" id="birthday" placeholder="Select date" type="text" value="06/21/2018">
                      </div>
                    </div>

                    <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Civil Status</label>
                    <div class="col-md-4">
                      <div class="dropdown px-0 col-12">
                       
                          <select class="form-control" id="civilStatus" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ..." data-minimum-results-for-search="Infinity">
                              <option value="Single">Single</option>
                              <option value="Married">Married</option>
                              <option value="Divorced">Divorced</option>
                              <option value="Widowed">Widowed</option>
                          </select>
                    
                      </div>
                    </div>
                  </div>
                <hr class="my-4">
                <h6 class="heading-small text-muted mb-4">Educational Background</h6>
                <div class="row">
                    <label for="primary" class="col-md-2 col-form-label form-control-label">Primary</label>
                    <div class="col-md-6">
                      <input class="form-control" type="text" value="" id="primary">
                    </div>
                    <label for="primaryYearGraduated" class="col-md-2 col-form-label form-control-label">Year Graduated</label>
                    <div class="col-md-2">
                      <input class="form-control" type="number" value="" id="primaryYearGraduated">
                    </div>
                  </div>
                  <div class="row mt-4">
                    <label for="juniorHighSchool" class="col-md-2 col-form-label form-control-label">Junior HS</label>
                    <div class="col-md-6">
                      <input class="form-control" type="text" value="" id="juniorHighSchool">
                    </div>
                    <label for="juniorHighSchoolYearGraduated" class="col-md-2 col-form-label form-control-label">Year Graduated</label>
                    <div class="col-md-2">
                      <input class="form-control" type="number" value="" id="juniorHighSchoolYearGraduated">
                    </div>
                  </div>
                  <div class="row mt-4">
                    <label for="seniorHighSchool" class="col-md-2 col-form-label form-control-label">Senior HS</label>
                    <div class="col-md-6">
                      <input class="form-control" type="text" value="" id="seniorHighSchool">
                    </div>
                    <label for="seniorHighSchoolYearGraduated" class="col-md-2 col-form-label form-control-label">Year Graduated</label>
                    <div class="col-md-2">
                      <input class="form-control" type="number" value="" id="seniorHighSchoolYearGraduated">
                    </div>
                  </div>
                  <div class="row mt-4">
                    <label for="undergraduate" class="col-md-2 col-form-label form-control-label">Undergraduate</label>
                    <div class="col-md-6">
                      <input class="form-control" type="text" value="" id="undergraduate">
                    </div>
                    <label for="undergraduateYearGraduated" class="col-md-2 col-form-label form-control-label">Year Graduated</label>
                    <div class="col-md-2">
                      <input class="form-control" type="number" value="" id="undergraduateYearGraduated">
                    </div>
                  </div>
                <div class="row mt-4">
                  <label for="undergraduateDegree" class="col-md-2 col-form-label form-control-label">Degree</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" value="" id="undergraduateDegree">
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="masteral" class="col-md-2 col-form-label form-control-label">Masteral</label>
                  <div class="col-md-6">
                    <input class="form-control" type="text" value="" id="masteral">
                  </div>
                  <label for="masteralYearGraduated" class="col-md-2 col-form-label form-control-label">Year Graduated</label>
                  <div class="col-md-2">
                    <input class="form-control" type="text" value="" id="masteralYearGraduated">
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="masteralDegree" class="col-md-2 col-form-label form-control-label">Degree</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" value="" id="masteralDegree">
                  </div>
                </div>              
                  <div class="row mt-4">
                  <label for="doctorate" class="col-md-2 col-form-label form-control-label">Doctorate</label>
                  <div class="col-md-6">
                    <input class="form-control" type="text" value="" id="doctorate">
                  </div>
                  <label for="doctorateYearGraduated" class="col-md-2 col-form-label form-control-label">Year Graduated</label>
                  <div class="col-md-2">
                    <input class="form-control" type="text" value="" id="doctorateYearGraduated">
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="doctorateDegree" class="col-md-2 col-form-label form-control-label">Degree</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" value="" id="doctorateDegree">
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="postGraduate" class="col-md-2 col-form-label form-control-label">Post Graduate</label>
                  <div class="col-md-6">
                    <input class="form-control" type="text" value="" id="postGraduate">
                  </div>
                  <label for="postGraduateYearGraduated" class="col-md-2 col-form-label form-control-label">Year Graduated</label>
                  <div class="col-md-2">
                    <input class="form-control" type="text" value="" id="postGraduateYearGraduated">
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="postGraduateDegree" class="col-md-2 col-form-label form-control-label">Degree</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" value="" id="postGraduateDegree">
                  </div>
                </div>
                <hr class="my-4">
                <h6 class="heading-small text-muted mb-4">Employment Information</h6>
                <div class="row mt-4">
                  <label for="collegeCode" class="col-md-2 col-form-label form-control-label">College</label>
                  <div class="col-md-4">
                    <div class="dropdown px-0 col-12">
                        <select class="form-control" id="collegeCode" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                            <option value="CNSM">College of Natural Sciences and Mathematics</option>
                        </select>
                    </div>
                  </div>
                  <label for="departmentCode" class="col-md-2 col-form-label form-control-label">Department</label>
                  <div class="col-md-4">
                    <div class="dropdown px-0 col-12">
                        <select class="form-control" id="departmentCode" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                            <option value="BSIT">BSIT</option>
                        </select>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="rank" class="col-md-2 col-form-label form-control-label">Rank</label>
                  <div class="col-md-4">
                    <div class="dropdown px-0 col-12">
                        <select class="form-control" id="rank" data-toggle="select" title="Simple select" data-live-search="true">
                            <option value="Assistant Lecturer">Assistant Lecturer</option>
                            <option value="Lecturer">Lecturer</option>
                            <option value="Assistant Professor">Assistant Professor</option>
                            <option value="Associate Professor">Associate Professor</option>
                            <option value="Professor">Professor</option>
                            <option value="Research Professor">Research Professor</option>
                            <option value="University Professor">University Professor</option>
                            
                        </select>
                      
                    </div>
                  </div>
                  <label for="step" class="col-md-2 col-form-label form-control-label">Step</label>
                  <div class="col-md-4">
                    <div class="dropdown px-0 col-12">
                        <select class="form-control" id="step" data-toggle="select" title="Simple select" data-live-search="true">
                            <option value="I">I</option>
                            <option value="II">II</option>
                            <option value="III">III</option>
                            <option value="IV">IV</option>
                            <option value="V">V</option>
                            <option value="VI">VI</option>

                            
                        </select>
                    
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <h6 class="heading-small text-muted mb-4">Contact Information</h6>
                <div class="row">
                    <label for="mobileNumber" class="col-md-2 col-form-label form-control-label">Mobile Number</label>
                    <div class="col-md-4">
                      <input class="form-control" type="text" value="" id="mobileNumber">
                    </div>
                    <label for="telephoneNumber" class="col-md-2 col-form-label form-control-label">Telephone</label>
                    <div class="col-md-4">
                      <input class="form-control" type="text" value="" id="telephoneNumber">
                    </div>
                  </div>
                  <div class="row mt-4">
                    <label for="emailAddress" class="col-md-2 col-form-label form-control-label">Alternate Email</label>
                    <div class="col-md-10">
                      <input class="form-control" type="text" value="" id="emailAddress" placeholder="example@example.com">
                    </div>
                  </div>
                <div class="row mt-4">
                  <label for="streetAddress" class="col-md-2 col-form-label form-control-label">Street Address</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" value="" id="streetAddress">
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="region" class="col-md-2 col-form-label form-control-label">Region</label>
                  <div class="col-md-4">
                    <select class="form-control" data-toggle="select" id="region" title="Simple select" data-live-search="true"
                      data-live-search-placeholder="Search ...">
                      <option>Region 1</option>
                      <option>Region 2</option>
                      <option>Region 3</option>
                    </select>
                  </div>
                  <label for="city" class="col-md-2 col-form-label form-control-label">City</label>
                  <div class="col-md-4">
                    <select class="form-control" data-toggle="select" id="city" title="Simple select" data-live-search="true"
                      data-live-search-placeholder="Search ...">
                      <option>City 1</option>
                      <option>City 2</option>
                      <option>City 3</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="baranggay" class="col-md-2 col-form-label form-control-label">Baranggay</label>
                  <div class="col-md-4">
                    <select class="form-control" data-toggle="select" id="baranggay" title="Simple select" data-live-search="true"
                      data-live-search-placeholder="Search ...">
                      <option>Baranggay 1</option>
                      <option>Baranggay 2</option>
                      <option>Baranggay 3</option>
                    </select>
                  </div>
                  <label for="postalCode" class="col-md-2 col-form-label form-control-label">Postal Code</label>
                  <div class="col-md-4">
                    <input class="form-control" type="text" value="" id="postalCode">
                  </div>
                </div>
               
                 
                  <br />
          </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
    <!-- Argon Scripts -->
    <% include ../partials/scripts %>

    <script>
    $(document).ready(function(){
 

      $(document).on('input', '#idNumber', function(e){
        $('#idNumber').removeClass("is-invalid")
        $('#idNumberMessage').html("")

      })


 $(document).on('submit', '#facultyForm', function(e){

   e.preventDefault()

   let formData = {
    idNumber: $('#idNumber').val(),
    salutation: $('#salutation').val(),
    lastName: $('#lastName').val(),
    firstName: $('#firstName').val(),
    middleName: $('#middleName').val(),
    suffix: $('#suffix').val(),
    birthday: $('#birthday').val(),
    gender: $('#gender').val(),
    civilStatus: $('#civilStatus').val(),
    primary: $('#primary').val(),
    primaryYearGraduated: $('#primaryYearGraduated').val(),
    juniorHighSchool: $('#juniorHighSchool').val(),
    juniorHighSchoolYearGraduated: $('#juniorHighSchoolYearGraduated').val(),
    seniorHighSchool: $('#seniorHighSchool').val(),
    seniorHighSchoolYearGraduated: $('#seniorHighSchoolYearGraduated').val(),
    undergraduate: $('#undergraduate').val(),
    undergraduateYearGraduated: $('#underGraduateYearGraduated').val(),
    undergraduateDegree: $('#undergraduateDegree').val(),
    masteral: $('#masteral').val(),
    masteralYearGraduated: $('#masteralYearGraduated').val(),
    masteralDegree: $('#masteralDegree').val(),
    doctorate: $('#doctorate').val(),
    doctorateYearGraduated: $('#doctorateYearGraduated').val(),
    doctorateDegree: $('#doctorateDegree').val(),
    postGraduate: $('#postGraduate').val(),
    postGraduateYearGraduated: $('#postGraduateYearGraduated').val(),
    postGraduateDegree: $('#postGraduateDegree').val(),
    collegeCode: $('#collegeCode').val(),
    departmentCode: $('#departmentCode').val(),
    rank: $('#rank').val(),
    step: $('#step').val(),

    mobileNumber: $('#mobileNumber').val(),
    telephoneNumber: $('#telephoneNumber').val(),
    emailAddress: $('#emailAddress').val(),
    region: $('#region').val(),
    city: $('#city').val(),
    baranggay: $('#baranggay').val(),
    streetAddress: $('#streetAddress').val(),
    postalCode: $('#postalCode').val()
   }


   $.ajax({
    url: '/admin/facultyInformation',
    type: 'POST',
    data: { ...formData },
     success: function(response){
     
        Swal.fire(
          'Faculty added',
          '',
          'success'
        ).then(() => {
          window.location.replace('/admin/faculty-information')
        })
     },
     error: function(jqXHR, exception){
       if(jqXHR.status === 409){
         $('#idNumber').addClass("is-invalid").focus()
         $('#idNumberMessage').html(jqXHR.responseText)
       }

   
       
        

     }
   })
 })

})

    
    </script>
  </body>
  
  