<body>
    <!-- Sidenav -->
    <% include ../partials/sidenav %>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <% include ../partials/topnav %>
      <!-- Page content -->
      <div class="header">
        <div class="container-fluid">
          <div class="row my-3 d-flex align-items-center">
            <div class="col-6">
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" type="text">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </form>
            </div>
            <div class="col-6 text-right">
              <a href="/admin/faculty-information/add" class="btn btn-sm btn-primary btn-round btn-icon">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Add New Faculty"><i class="fas fa-plus"></i> New</span>
              </a>
              <a href="#filterModal" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="modal">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Filter Data"><i class="fas fa-filter"></i> Filter</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="card mt-0 pt-0">
          <!-- Card header -->
          <div class="card-header mb--2">
            <div class="row">
              <div class="col-auto">
                <h3 class="mb-0">List of Faculty</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive mt-0 pb-4">
            <table class="table table-flush p-0 mt-0" id="datatable-basic">
              <thead class="thead-light p-0 m-0">
                <tr>
                  <th>ID</th>
                  <th>Last Name</th>
                  <th>First Name</th>
                  <th>Middle Name</th>
                  <th>Department</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>

                  <% for(let counter=0; counter < faculties.length; counter++) { %>
                    <tr>
                        <td><%= faculties[counter].idNumber %></td>
                        <td><%= faculties[counter].lastName %></td>
                       
                        <td><%= faculties[counter].firstName %></td>
                        
                        <td><%= faculties[counter].middleName %></td>
                        <td><%= faculties[counter].departmentCode %></td>
                        <td>
                          <a href="#" id="viewButton" data-id="<%= faculties[counter].idNumber %>" class="table-action" data-toggle="modal">
                            <i class="fas fa-external-link-alt mx-1" data-toggle="tooltip" data-original-title="View faculty Data"></i>
                          </a>
                          <a href="/admin/faculty-information/edit/<%= faculties[counter].idNumber %>" class="table-action" data-toggle="tooltip" data-original-title="Edit faculty Data">
                            <i class="fas fa-edit mx-1"></i>
                          </a>
                          <a href="#viewScholasticRecord" class="table-action" data-toggle="modal">
                            <i class="fas fa-folder-open mx-1" data-toggle="tooltip" data-original-title="View Scholastic Record"></i>
                          </a>
                        </td>
                      </tr>
                  <% } %>
                
                
              </tbody>
            </table>
          </div>
        </div>
        <!-- Modal Section  -->
        <!-- Filter Modal -->
        <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
          <div class="modal modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filter Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <div class="row">
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">College</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">CNSM</a>
                        <a class="dropdown-item" href="#">COA</a>
                        <a class="dropdown-item" href="#">COE</a>
                        <a class="dropdown-item" href="#">Educ</a>
                        <a class="dropdown-item" href="#">COF</a>
                        <a class="dropdown-item" href="#">CBA</a>
                        <a class="dropdown-item" href="#">CSSH</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">Department</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">Department 1</a>
                        <a class="dropdown-item" href="#">Department 2</a>
                        <a class="dropdown-item" href="#">Department 3</a>
                        <a class="dropdown-item" href="#">Department 4</a>
                        <a class="dropdown-item" href="#">Department 5</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                <button type="button" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
              </div>
            </div>
          </div>
        </div>
        <!-- View Faculty Data Modal -->
        <div class="modal fade" id="viewFacultyData" tabindex="-1" role="dialog" aria-labelledby="viewFacultyDataLabel" aria-hidden="true">
          <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="viewFacultyDataLabel">Faculty Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <!-- Vertical Tabs -->
                <div class="row">
                  <div class="col-3">
                    <ul class="nav flex-column nav-pills nav-fill" role="tablist">
                      <li class="nav-item mb-2 pr-0">
                        <a class="nav-link active" id="personalInfo" data-toggle="tab" href="#personalInfoHref" role="tab" aria-selected="true" aria-controls="personalInfoHref">Personal</a>
                      </li>
                      <li class="nav-item mb-2 pr-0">
                        <a class="nav-link" id="educationBG" data-toggle="tab" href="#educationBGHref" role="tab" aria-selected="false" aria-controls="educationBGHref">Education</a>
                      </li>
                      <li class="nav-item mb-2 pr-0">
                        <a class="nav-link" id="employment" data-toggle="tab" href="#employmentHref" role="tab" aria-selected="false" aria-controls="educationHref">Employment</a>
                      </li>
                      <li class="nav-item mb-2 pr-0">
                        <a class="nav-link" id="contactInfo" data-toggle="tab" href="#contactInfoHref" role="tab" aria-selected="false" aria-controls="contactInfoHref">Contact</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-9">
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="personalInfoHref" role="tabpanel" aria-labelledby="personalInfo">
                        <div class="card shadow">
                          <div class="card-header">
                            <h4 class="mb-0">Personal Information</h4>
                          </div>
                          <div class="card-body">
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">ID Number</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="idNumber">2010-0001</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Full Name</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="fullName">Ms. Catherine N. Ninofranco</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Birthday</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="birthday">September 13, 1993</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Gender</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="gender">Female</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Civil Status</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="civilStatus">Single</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="educationBGHref" role="tabpanel"  aria-labelledby="educationBG">
                        <div class="card shadow">
                          <div class="card-header">
                            <h4 class="mb-0">Educational Background</h4>
                          </div>
                          <div class="card-body">
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Primary</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="primaryAndYear">Notre Dame of Dadiangas College - Integrated Basic Education Department (2006)</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Junior</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="juniorAndYear">Mindanao State University - College of Education Training Department (2010)</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Senior</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="seniorAndYear"><span class="badge badge-primary">Not Available</span></p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Undergraduate</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="underAndYear">Mindanao State University - General Santos (2010)</p>
                                <p class="text-sm  mb-0">BS Information Technology Major in Database Management</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Masteral</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="masteralAndYear">Ateneo de Davao University (2020)</p>
                                <p class="text-sm  mb-0">MS Information Technology</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Doctoral</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="doctoralAndYear"><span class="badge badge-primary">Not Available</span></p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0" >Post Graduate</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="postAndYear"><span class="badge badge-primary">Not Available</span></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="employmentHref" role="tabpanel"  aria-labelledby="employment">
                        <div class="card shadow">
                          <div class="card-header">
                            <h4 class="mb-0">Employment Information</h4>
                          </div>
                          <div class="card-body">
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">College</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="college">College of Natural Sciences and Mathematics</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Department</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="department">IT and Physics Department</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Rank</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="rank">Assistant Lecturer</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="contactInfoHref" role="tabpanel"  aria-labelledby="contactInfo">
                        <div class="card shadow">
                          <div class="card-header">
                            <h4 class="mb-0">Contact Information</h4>
                          </div>
                          <div class="card-body">
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Mobile Number</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="mobile">(+63) 995 995 0919</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Telephone Number</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="telephone">(083) 553-0296</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">School Email</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="schoolEmail">catherine.ninofranco@msugensan.edu.ph</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Alternate Email</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="alternateEmail">catherineninofranco@gmail.com</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Address</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="address">Block 5 Lot 6 Phase 1-B, Gensanville Subdivision, Bula, General Santos City, South Cotabato, 9500</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
        </div>
        <!-- View Faculty Loading Modal -->
        <div class="modal fade" id="viewFacultyLoad" tabindex="-1" role="dialog" aria-labelledby="viewFacultyLoadLabel" aria-hidden="true">
          <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="viewFacultyDataLabel">Faculty Loading</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <div class="card shadow">
                  <div class="card-header">
                    <h4 class="mb-0">S.Y 2010-2011 - 1st Semester</h4>
                  </div>
                  <div class="card-body">
                    <div class="row py-2">
                      <div class="col-2">
                        <p class="text-sm  mb-0">IT100</p>
                      </div>
                      <div class="col-6">
                        <p class="text-sm  mb-0">Social, Ethical, and Professional Issues in Information Technology</p>
                      </div>
                      <div class="col-2 text-center">
                        <p class="text-sm strong mb-0"><strong>4.50 units</strong></p>
                      </div>
                      <div class="col-2 text-center">
                        <p class="text-sm strong mb-0"><strong>45 facultys</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
    <!-- Argon Scripts -->
    <% include ../partials/scripts %>
    <script>
    $(document).ready(function(){
 
 $(document).on('click', '#viewButton', function(e){
  var id = $(this).attr("data-id")
   $.ajax({
    url: `/admin/facultyInformation/${id}`,
    type: 'GET',
     success: function(response){
       console.log(response)
       $('#idNumber').html(response.faculty.idNumber)
       $('#fullName').html(`${response.faculty.salutation} 
       ${response.faculty.firstName} ${response.faculty.middleName}
       ${response.faculty.lastName} ${response.faculty.suffix}
       `)
       $('#birthday').html(moment(response.faculty.birthday).format('MMMM D, YYYY'))
       $('#gender').html(response.faculty.gender)
       $('#civilStatus').html(response.faculty.civilStatus)
     
       $('#primaryAndYear').html(`${response.faculty.primary} (${response.faculty.primaryYearGraduated})`)
       $('#juniorAndYear').html(`${response.faculty.juniorHighSchool} (${response.faculty.juniorHighSchoolYearGraduated})`)
       $('#seniorAndYear').html(`${response.faculty.seniorHighSchool} (${response.faculty.seniorHighSchoolYearGraduated})`)
       $('#underAndYear').html(`${response.faculty.undergraduate} (${response.faculty.undergraduateYearGraduated})`)
       $('#masteralAndYear').html(`${response.faculty.masteral} (${response.faculty.masteralYearGraduated})`)
       $('#doctoralAndYear').html(`${response.faculty.doctorate} (${response.faculty.doctorateYearGraduated})`)
       $('#postAndYear').html(`${response.faculty.postGraduate} (${response.faculty.postGraduateYearGraduated})`)
       $('#college').html(response.faculty.collegeCode)
       $('#department').html(response.faculty.departmentCode)
       $('#rank').html(response.faculty.rank)
       $('#mobile').html(response.faculty.mobileNumber)
       $('#telephone').html(response.faculty.telephoneNumber)
       if(response.faculty.account){
       $('#schoolEmail').html(response.faculty.account.schoolEmail)
       }
       $('#alternateEmail').html(response.faculty.emailAddress)
       $('#address').html(`${response.faculty.streetAddress}, 
       ${response.faculty.baranggay}, ${response.faculty.city}, ${response.faculty.postalCode}
       `)

    

      $('#viewFacultyData').modal('show');
     },
     error: function(jqXHR, exception){
       console.log(jqXHR)
     }
   });
 });

});
    
    </script>
    <style>
        .dataTables_filter {
       display: none
       }
     </style>
  </body>
  
  