<body>
    <!-- Sidenav -->
    <% include ../partials/sidenav %>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <% include ../partials/topnav %>
      <!-- Page content -->
      <div class="header">
        <div class="container-fluid">
          <div class="row my-3 d-flex align-items-center">
            <div class="col-6">
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" id="search" placeholder="Search" type="text">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </form>
            </div>
            <div class="col-6 text-right">
              <a href="#addForm" class="btn btn-sm btn-primary btn-round btn-icon" data-toggle="modal">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Add New Form"><i class="fas fa-plus"></i> New</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="card-deck row flex-row" id="deck">
          <% for(let counter=0; counter < forms.length; counter++) { %>
            <div class="card" data-value="<%= forms[counter].name %>">
                <!-- Card header -->
                <div class="card-header">
                  <!-- Title -->
                  <div class="row align-items-center">
                    <div class="col ml--2">
                      <h4 class="mb-0">
                        <a href="#!"><%= forms[counter].name %></a>
                      </h4>
                    </div>
                    <div class="col-auto pr-2">
                      <a href="/<%= forms[counter].filePath %>" class="table-action" download>
                        <spam data-toggle="tooltip" data-original-title="Download Form"><i class="fas fa-download"></i></spam>
                      </a>
                      <a href="#" id="viewButton" data-id="<%= forms[counter].id %>" class="table-action" data-toggle="modal">
                        <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Edit Form"><i
                            class="fas fa-edit"></i></span> </a>
                      <a href="#" id="deleteButton" data-id="<%= forms[counter].id %>" class="table-action" data-toggle="modal">
                        <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Delete Form"><i
                            class="fas fa-trash"></i></span>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- Card body -->
                <div class="card-body">
                  <p class="mb-4"><%= forms[counter].description %></p>
                </div>
              </div>
          <% } %>
         
        </div>
        <!-- <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">
                <i class="fa fa-angle-left"></i>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">
                <i class="fa fa-angle-right"></i>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav> -->
        <!-- Modal -->
        <div class="modal fade" id="addForm" tabindex="-1" role="dialog" aria-labelledby="addFormLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addFormLabel">Add Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form id="formForm" enctype="multipart/form-data">
                <div class="modal-body py-0">
                  <label class="form-control-label">Form Name</label>
                  <input type="text" class="form-control mb-2" placeholder="Default input" name="name" required>
                  <label class="form-control-label mt-4">Form Description</label>
                  <textarea class="form-control mb-2" name="description" rows="3" required></textarea>
                  <label class="form-control-label mt-4">Upload File</label>
                  <div class="custom-file">
                    <input type="file" name="file" class="custom-file-input mb-2" id="customFileLang" lang="en" required>
                    <label class="custom-file-label" for="customFileLang">Select file</label>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                  <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal fade" id="editForm" tabindex="-1" role="dialog" aria-labelledby="addFormLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addFormLabel">Edit Form</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form id="editformForm" data-id="" enctype="multipart/form-data">
                  <div class="modal-body py-0">
                    <label class="form-control-label">Form Name</label>
                    <input type="text" class="form-control mb-2" placeholder="Default input" id="name" name="name" required>
                    <label class="form-control-label mt-4">Form Description</label>
                    <textarea class="form-control mb-2" id="description" name="description" rows="3" required></textarea>
                    <label class="form-control-label mt-4">Upload File</label>
                    <div class="custom-file">
                      <input type="file" id="file" name="file" class="custom-file-input mb-2" id="customFileLang" lang="en">
                      <label class="custom-file-label" for="customFileLang">Select file</label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
    <!-- Argon Scripts -->
    <% include ../partials/scripts %>


    <script>
 $(document).ready(function(){


  $(document).on('click', '#viewButton', function(e){
  var id = $(this).attr("data-id")
   $.ajax({
    url: `/admin/form/${id}`,
    type: 'GET',
     success: function(response){
       $('#name').val(response.form.name)
       $('#description').val(response.form.description)
       $('#file').val(null)
      
       $('#editformForm').attr('data-id',response.form.id );
      $('#editForm').modal('show');
     },
     error: function(jqXHR, exception){
       console.log(jqXHR)
     }
   })
 })

 $(document).on('keyup', '#search', function(e){
  var value = $(this).val().toLowerCase();
    $("#deck .card").filter(function() {
      $(this).toggle($(this).attr('data-value').toLowerCase().indexOf(value) > -1)
    });
 })


 $(document).on('click', '#deleteButton', function(e){
  var id = $(this).attr("data-id")
  Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  type: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.value) {
    $.ajax({
    url: `/admin/form/${id}`,
    type: 'DELETE',
     success: function(response){

      
      Swal.fire(
      'Deleted!',
      'Your file has been deleted.',
      'success'
    ).then(() => {
     window.location.replace('/admin/forms')
    })

     },
     error: function(jqXHR, exception){
       console.log(jqXHR)
     }
   })


    
  }
})
 })


$(document).on('submit', '#formForm', function(e){

e.preventDefault()


var fd = new FormData(this)    

$.ajax({
url: '/admin/form',
type: 'POST',
data: fd,
contentType: false,
processData: false,
success: function(response){

   Swal.fire(
     'Form added',
     '',
     'success'
   ).then(() => {
     window.location.replace('/admin/forms')
   })
},
error: function(jqXHR, exception){

}
})
})


$(document).on('submit', '#editformForm', function(e){

e.preventDefault()

var id = $(this).attr("data-id")

var fd = new FormData(this)    

$.ajax({
url: `/admin/form/${id}`,
type: 'PUT',
data: fd,
contentType: false,
processData: false,
success: function(response){

   Swal.fire(
     'Form edited',
     '',
     'success'
   ).then(() => {
     window.location.replace('/admin/forms')
   })
},
error: function(jqXHR, exception){

}
})
})

})
      </script>
  </body>
  
  