<body>
    <!-- Sidenav -->
    <% include ../partials/sidenav %>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <% include ../partials/topnav %>
      <!-- Page content -->
      <div class="header">
        <div class="container-fluid">
          <div class="row my-3 d-flex align-items-center">
            <div class="col-6">
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" type="text">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </form>
            </div>
            <div class="col-6 text-right">
              <a href="offering-new" class="btn btn-sm btn-primary btn-round btn-icon">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Add New Subject Offering"><i class="fas fa-plus"></i> New</span>
              </a>
              <a href="#filterModal" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="modal">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Filter Data"><i class="fas fa-filter"></i> Filter</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="card mt-0 pt-0">
          <!-- Card header -->
          <div class="card-header mb--2">
            <div class="row">
              <div class="col-auto">
                <h3 class="mb-0">Subjects offered for the <%= currentSy.semester %><sup><% if(currentSy.semester == 1){ %>st <% } else{ %>nd <% } %></sup> Semester of SY. <%= currentSy.schoolYear %></h3>
              </div>
            </div>
          </div>
          <div class="table-responsive mt-0 pb-4">
            <table class="table table-flush p-0 mt-0" id="datatable-basic">
              <thead class="thead-light p-0 m-0">
                <tr>
                  <th>Code</th>
                  <th>Description</th>
                  <th>Section</th>
                  <th>Slot</th>
                  <th>Department</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% subjectOffering.forEach(function(so){ %>
                <tr>
                  <td class="code">
                      <%= so.subjectCode %>
                  </td>
                  <td class="desc">
                      <%= so.subject.subjectDescription %>
                  </td>
                  <td class="total">
                      <%= so.section %>
                  </td>
                  <td class="dept">
                      <%= so.slots %>
                  </td>
                  <td>
                      <%= so.deliveringDepartment %>
                  </td>
                  <td>
                    <a href="#viewOfferingModal" class="table-action" data-toggle="modal">
                      <i class="fas fa-external-link-alt mx-1" data-toggle="tooltip" data-original-title="View Offering Details"></i>
                    </a>
                    <a href="offering-edit.html" class="table-action">
                      <i class="fas fa-edit mx-1" data-toggle="tooltip" data-original-title="Edit Offering Details"></i>
                    </a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Modal Section -->
        <!-- Filter Modal -->
        <div class="modal fade" id="filterModal" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
          <div class=" modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filter Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <div class="row">
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">School Year</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        2018-2019
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">2018-2019</a>
                        <a class="dropdown-item" href="#">2017-2018</a>
                        <a class="dropdown-item" href="#">2016-2017</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">Semester</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        2nd Semester
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">1st Semester</a>
                        <a class="dropdown-item" href="#">2nd Semester</a>
                        <a class="dropdown-item" href="#">Summer</a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">College</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">CNSM</a>
                        <a class="dropdown-item" href="#">COA</a>
                        <a class="dropdown-item" href="#">COE</a>
                        <a class="dropdown-item" href="#">Educ</a>
                        <a class="dropdown-item" href="#">COF</a>
                        <a class="dropdown-item" href="#">CBA</a>
                        <a class="dropdown-item" href="#">CSSH</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">Department</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">IT & Physics Department</a>
                        <a class="dropdown-item" href="#">Mathematics Deparmtent</a>
                        <a class="dropdown-item" href="#">Science Department</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>
                  Cancel</button>
                <button type="button" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
              </div>
            </div>
          </div>
        </div>
        <!-- View Offering Modal -->
        <div class="modal fade" id="viewOfferingModal" tabindex="-1" role="dialog" aria-labelledby="viewOfferingModalLabel" aria-hidden="true">
          <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="viewStudentDataLabel">Student Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <!-- Vertical Tabs -->
                <div class="row">
                  <div class="col-3">
                    <ul class="nav flex-column nav-pills nav-fill" role="tablist">
                      <li class="nav-item mb-2 pr-0">
                        <a class="nav-link active" id="subjectDetails" data-toggle="tab" href="#subjectDetailsHref" role="tab" aria-selected="true" aria-controls="subjectDetailsHref">Subject</a>
                      </li>
                      <li class="nav-item mb-2 pr-0">
                        <a class="nav-link" id="schedAndFees" data-toggle="tab" href="#schedAndFeesHref" role="tab" aria-selected="false" aria-controls="schedAndFeesHref">Schedule & Fees</a>
                      </li>
                      <li class="nav-item mb-2 pr-0">
                        <a class="nav-link" id="facultyDeets" data-toggle="tab" href="#facultyDeetsHref" role="tab" aria-selected="false" aria-controls="facultyDeetsHref">Faculty</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-9">
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="subjectDetailsHref" role="tabpanel" aria-labelledby="subjectDetails">
                        <div class="card shadow">
                          <div class="card-header">
                            <h4 class="mb-0">Subject Details</h4>
                          </div>
                          <div class="card-body">
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Subject Code</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0">IT109</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Description</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0">Social, Ethical, and Professional Issues in Information Technology</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Section</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0">Sec2</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Block</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0"><span class="badge badge-primary">Not Available</span></p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Total Weeks</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0">16</p>
                              </div>
                            </div>
                            <div class="row  py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Total Hours</h6>
                              </div>
                              <div class="col">
                                <p class="text-sm mb-0">48</p>
                              </div>
                            </div>
                            <div class="row  py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Lecture Units</h6>
                              </div>
                              <div class="col">
                                <p class="text-sm mb-0">3</p>
                              </div>
                            </div>
                            <div class="row  py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Laboratory Units</h6>
                              </div>
                              <div class="col">
                                <p class="text-sm mb-0"><span class="badge badge-primary">Not Available</span></p>
                              </div>
                            </div>
                            <div class="row  py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Total Units</h6>
                              </div>
                              <div class="col">
                                <p class="text-sm mb-0">3</p>
                              </div>
                            </div>
                            <div class="row  py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Laboratory Fee</h6>
                              </div>
                              <div class="col">
                                <p class="text-sm mb-0"><span class="badge badge-primary">Not Available</span></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="schedAndFeesHref" role="tabpanel"  aria-labelledby="schedAndFees">
                        <div class="card shadow">
                          <div class="card-header">
                            <h4 class="mb-0">Schedule and Fees</h4>
                          </div>
                          <div class="card-body">
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Days</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0">Monday, Tuesday</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Time</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0">7:30 - 9:00</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Building</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0"><span class="badge badge-primary">Not Available</span></p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Classroom</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0"><span class="badge badge-primary">Not Available</span></p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Maximum Slots</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0">45</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Remaining Slots</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0">5</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Remaining Slots</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0"><span class="badge badge-primary">Not Available</span></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="facultyDeetsHref" role="tabpanel"  aria-labelledby="facultyDeets">
                        <div class="card shadow">
                          <div class="card-header">
                            <h4 class="mb-0">Faculty Details</h4>
                          </div>
                          <div class="card-body">
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Delivering Dept</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0">IT and Physics Deparment</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Assigned Faculty</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0">Catherine N. Niñofranco</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Faculty Credit</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0"><span class="badge badge-primary">Not Available</span></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
        </div>
  
        <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
    <!-- Argon Scripts -->
    <% include ../partials/scripts %>
  </body>
  
  <script>
    $(document).ready(function(){
      
    });
  </script>