
<body>
<!-- Sidenav -->
<% include ../partials/sidenav %>
<!-- Main content -->
<div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/topnav %>
    <!-- Page content -->
    <div class="header">
      <div class="container-fluid">
        <br />
      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-9 card-wrappercard-wrapper">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-8">
                  <h3 class="mb-0">Offer Subject for the <%= currentSy.semester %><sup><% if(currentSy.semester == 1){ %>st <% } else{ %>nd <% } %></sup> Sem of SY. <%= currentSy.schoolYear %></h3>
                </div>
                <div class="col-4 text-right">
                  <a href="offering" class="btn btn-sm btn-secondary btn-round btn-icon" data-toggle="modal">
                    <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Discard changes"><i class="fas fa-times"></i> Cancel</span>
                  </a>
                  <a href="#" onclick="document.getElementById('newSubjectOfferingForm').submit();" class="btn btn-sm btn-primary btn-round btn-icon">
                    <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Save Changes"><i class="fas fa-save"></i> Save</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form id="newSubjectOfferingForm" method="POST" class="needs-validation" action="/admin/api/subject-offering/add" novalidate="">
                <h6 class="heading-small text-muted mb-4">Basic Information</h6>
                <div class="row mt-4">
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Subject Code</label>
                  <div class="col-md-4">
                    <select id="subjectCode" name="subjectCode" class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                      <option disabled selected>Search Subject Code</option>
                      <% subjects.forEach(function(s){ %> 
                        <option value="<%= s.subjectCode %>"><%= s.subjectCode %></option>
                      <% }) %>
                    </select>
                  </div>
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Section</label>
                  <div class="col-md-4">
                    <input id="section" name="section" class="form-control" type="text" value="" id="example-text-input" placeholder="Section">
                  </div>
                </div>
                <div class="row mt-4">
                  <label  for="example-text-input" class="col-md-2 col-form-label form-control-label py-0">Subject Description</label>
                  <div class="col-md-10">
                    <input id="subjectDescription" name="subjectDescription" class="form-control" type="text" value="" id="example-text-input" placeholder="Subject Description" disabled>
                  </div>
                </div>
                <hr class="my-4">
                <h6 class="heading-small text-muted mb-4">Block Details</h6>
                <div class="row mt-4">
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Assign to Block</label>
                  <div class="col-md-4">
                    <select id="blockCode" name="blockCode" class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                      <option disabled selected>Search Course Block</option>
                      <% blocks.forEach(function(b){ %> 
                        <option value="<%= b.blockCode %>"><%= b.blockCode %></option>
                      <% }) %>
                    </select>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">For College</label>
                  <div class="col-md-4">
                    <input id="forCollege" name="forCollege" class="form-control" type="text" value="" id="example-text-input" placeholder="College" disabled>
                  </div>
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label py-0">For Department</label>
                  <div class="col-md-4">
                    <input id="forDepartment" name="forDepartment" class="form-control" type="text" value="" id="example-text-input" placeholder="Department" disabled>
                  </div>
                </div>
                <hr class="my-4">
                <h6 class="heading-small text-muted mb-4">Faculty Details</h6>
                <div class="row mt-4">
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label py-0">Delivering Department</label>
                  <div class="col-md-6">
                    <select id="deliveringDepartment" name="deliveringDepartment" class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                      <option selected disabled>Select Department</option>
                      <% departments.forEach(function(d){ %> 
                        <option value="<%= d.departmentCode %>"><%= d.departmentDescription %></option>
                      <% }) %>
                    </select>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Faculty</label>
                  <div class="col-md-10">
                    <select id="faculty" name="faculty" class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                      <option selected disabled>Search Faculty</option>
                      <% faculty.forEach(function(f){ %> 
                        <option value="<%= f.idNumber %>"><%= f.firstName %> <%= f.lastName %></option>
                      <% }) %>
                    </select>
                  </div>
                </div>
                <hr class="my-4">
                <h6 class="heading-small text-muted mb-4">Schedule and Fees</h6>
                <div class="row mt-4">
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Classroom</label>
                  <div class="col-md-4">
                    <select id="clasroom" name="classroom" class="form-control" data-toggle="select" title="Simple select" data-live-search="true"
                      data-live-search-placeholder="Search ...">
                      <option disabled selected>Search Classroom</option>
                      <% classrooms.forEach(function(c){ %> 
                        <option value="<%= c.id %>"><%= c.roomCode %> - <%= c.building %></option>
                      <% }) %>
                    </select>
                  </div>
                  <div class="col-md-1"></div>
                </div>
                <div class="row mt-4">
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Days</label>
                  <div class="col-md-10 pl-4">
                    <div class="row">
                      <div class="tab-pane tab-example-result mx-2 fade show active" role="tabpanel" aria-labelledby="-component-tab">
                        <div class="btn-group-toggle" data-toggle="buttons">
                          <label class="btn btn-secondary active">
                            <input id="monday" name="monday" type="checkbox" checked="" autocomplete="off"> Monday
                          </label>
                        </div>
                      </div>
                      <div class="tab-pane tab-example-result mr-2 fade show active" role="tabpanel" aria-labelledby="-component-tab">
                        <div class="btn-group-toggle" data-toggle="buttons">
                          <label class="btn btn-secondary">
                            <input id="tuesday" name="tuesday" type="checkbox" checked="" autocomplete="off"> Tuesday
                          </label>
                        </div>
                      </div>
                      <div class="tab-pane tab-example-result mr-2 fade show active" role="tabpanel" aria-labelledby="-component-tab">
                        <div class="btn-group-toggle" data-toggle="buttons">
                          <label class="btn btn-secondary">
                            <input id="wednesday" name="wednesday" type="checkbox" checked="" autocomplete="off"> Wednesday
                          </label>
                        </div>
                      </div>
                      <div class="tab-pane tab-example-result mr-2 fade show active" role="tabpanel" aria-labelledby="-component-tab">
                        <div class="btn-group-toggle" data-toggle="buttons">
                          <label class="btn btn-secondary">
                            <input id="thursday" name="thursday" type="checkbox" checked="" autocomplete="off"> Thursday
                          </label>
                        </div>
                      </div>
                      <div class="tab-pane tab-example-result mr-2 fade show active" role="tabpanel" aria-labelledby="-component-tab">
                        <div class="btn-group-toggle" data-toggle="buttons">
                          <label class="btn btn-secondary">
                            <input id="friday" name="friday" type="checkbox" checked="" autocomplete="off"> Friday
                          </label>
                        </div>
                      </div>
                      <div class="tab-pane tab-example-result mr-2 fade show active" role="tabpanel" aria-labelledby="-component-tab">
                        <div class="btn-group-toggle" data-toggle="buttons">
                          <label class="btn btn-secondary">
                            <input id="saturday" name="saturday" type="checkbox" checked="" autocomplete="off"> Saturday
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Start Time</label>
                  <div class="col-md-3">
                    <input id="startTime" name="startTime" class="form-control" type="time" value="10:00:00" id="example-text-input"  placeholder="">
                  </div>
                  <div class="col-md-1"></div>
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">End Time</label>
                  <div class="col-md-3">
                    <input id="endTime" name="endTime" class="form-control" type="time" value="10:30:00" id="example-text-input"  placeholder="">
                  </div>
                </div>
                <div class="row mt-4">
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Slots</label>
                  <div class="col-md-3">
                    <input id="slots" name="slots" class="form-control" type="number" value="" id="example-text-input" placeholder="">
                  </div>
                  <div class="col-md-1"></div>
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Fee</label>
                  <div class="col-md-3">
                    <input id="fee" name="fee" class="form-control" type="number" value="" id="example-text-input" placeholder="">
                  </div>
                </div>
              </form>
              <br />
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Section -->
    </div>
  </div>
  <!-- Footer -->
  <% include ../partials/footer %>
</div>
</div>
<!-- Argon Scripts -->
<% include ../partials/scripts %>
</body>

<script>
$(document).ready(function(){
  $('#subjectCode').on('change', function(){
    var subjcode = this.value;
    //$("#subjectDescription").val(this.value);
    $.ajax({
      type: "GET",
      url: `/admin/api/subject/${subjcode}`,
      async: true,
      success: function(data){
        $("#subjectDescription").val(data.subject.subjectDescription);
      },
      error: function(e){
        console.error(e)
      }
    })
  });

  $('#blockCode').on('change', function(){
    var blockcode = this.value;
    //$("#subjectDescription").val(this.value);
    $.ajax({
      type: "GET",
      url: `/admin/api/block/${blockcode}`,
      async: true,
      success: function(data){
        $("#forCollege").val(data.fetch.forCollege);
        $("#forDepartment").val(data.fetch.forDepartment);
      },
      error: function(e){
        console.error(e)
      }
    })
  });

});
</script>
