<body>
        <!-- Sidenav -->
        <% include ../partials/sidenav %>
        <!-- Main content -->
        <div class="main-content" id="panel">
          <!-- Topnav -->
          <% include ../partials/topnav %>
          <!-- Page content -->
          <div class="header">
                <div class="container-fluid">
                  <br>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xl-4 order-xl-2">
                    <div class="card card-profile">
                      <img src="/assets/img/msu/library.jpg" alt="Image placeholder" class="card-img-top">
                      <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                          <div class="card-profile-image">
                            <a href="#">
                              <img src="/assets/img/administrator.svg" class="rounded-circle bg-gray">
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="text-center mt-6">
                          <h5 class="h3">
                            Khalil Anton Ambalong
                          </h5>
                          <span class="badge badge-primary mb-4">Administrator</span>
                          <!-- <div class="h5 mt-4">
                                      Bachelor of Science in Information Technology
                                    </div>
                                    <div class="h5 mt-2 text-muted">
                                      IT/Physics Department • CNSM
                                    </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-8 order-xl-1">
                    <div class="card shadow">
                      <div class="card-header">
                        <h3 class="mb-0">Personal Information</h3>
                      </div>
                      <div class="card-body">
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">ID Number</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0" id="idNumber">2010-0000</p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Full Name</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0" id="fullName">Mr. Khalil Anton Ambalong</p>
                          </div>
                        </div>
                      </div>
                    </div><div class="card shadow">
                      <div class="card-header">
                        <h3 class="mb-0">Contact Information</h3>
                      </div>
                      <div class="card-body">
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Mobile</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0" id="mobileNumber">(+63) 995 995 0919</p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Telephone</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0" id="telephoneNumber">(083) 553-0296</p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">School Email</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0" id="schoolEmail">khalil.ambalong@msugensan.edu.ph</p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Alternate Email</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0" id="alternateEmail">pawanoid@gmail.com</p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Address</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0" id="address">Block 5 Lot 6 Phase 1-B, Gensanville Subdivision, Bula, General Santos City, South
                              Cotabato, 9500</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <!-- Footer -->
            <% include ../partials/footer %>
          </div>
        </div>
        <!-- Argon Scripts -->
        <% include ../partials/scripts %>
        <script>
      
      $(document).ready(function(){
     
     $.ajax({
url: '/admin/staffInformation/<%= idNumber %>',
type: 'GET',
success: function(response){
  console.log(response)

  $('#idNumber').html(response.clerk.idNumber)
  $('#fullName').html(`${response.clerk.salutation} 
       ${response.clerk.firstName} ${response.clerk.middleName}
       ${response.clerk.lastName} ${response.clerk.suffix}
       `)
  $('#mobileNumber').html(response.clerk.mobileNumber)
  $('#telephoneNumber').html(response.clerk.telephone)
  $('#schoolEmail').html(response.clerk.account.schoolEmail)
  $('#alternateEmail').html(response.clerk.alternateEmail)
  $('#address').html(`${response.clerk.streetAddress}, 
       ${response.clerk.barangay}, ${response.clerk.city}, ${response.clerk.postalCode}
       `)
}
     })
})    
        </script>
      </body>
      
      