<body>
    <!-- Sidenav -->
    <% include ../partials/sidenav %>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <% include ../partials/topnav %>
      <!-- Page content -->
      
      <div class="header">
        <div class="container-fluid">
          <div class="row my-3 d-flex align-items-center">
            <div class="col-6">
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" type="text">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </form>
            </div>
            <div class="col-6 text-right">
              <a href="program-new.html" class="btn btn-sm btn-primary btn-round btn-icon">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Add New Program"><i class="fas fa-plus"></i> New</span>
              </a>
              <a href="#filterModal" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="modal">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Filter Data"><i class="fas fa-filter"></i> Filter</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="card mt-0 pt-0">
          <!-- Card header -->
          <div class="card-header mb--2">
            <div class="row">
              <div class="col-6">
                <h3 class="mb-0">List of Programs</h3>
              </div>
              <div class="col-6 text-right">
                <a href="#" class="btn btn-sm btn-success btn-round btn-icon">
                  <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Activate Selected Programs"><i class="fas fa-check"></i> Activate</span>
                </a>
                <a href="#" class="btn btn-sm btn-danger btn-round btn-icon">
                  <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Disable Selected Programs"><i class="fas fa-ban"></i> Disable</span>
                </a>
              </div>
            </div>
          </div>
          <div class="table-responsive mt-0 pb-4">
            <table class="table table-flush p-0 mt-0" id="datatable-basic">
              <thead class="thead-light p-0 m-0">
                <tr>
                  <th>Code</th>
                  <th>Description</th>
                  <th>Curriculum</th>
                  <th>Majors</th>
                  <th>Active</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="code">
                    BSIT
                  </td>
                  <td class="desc">
                    Bachelor of Science in Information Technology
                  </td>
                  <td class="total">
                    2017
                  </td>
                  <td class="dept">
                    <span class="badge badge-primary">Database Mngt</span>
                    <span class="badge badge-primary">Network Admin</span>
                  </td>
                  <td>
                    <label class="custom-toggle">
                      <input type="checkbox" checked>
                      <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                    </label>
                  </td>
                  <td>
                    <a href="#viewProgramDetails" class="table-action" data-toggle="modal">
                      <i class="fas fa-external-link-alt mx-1" data-toggle="tooltip" data-original-title="View Program Details"></i>
                    </a>
                    <a href="program-edit.html" class="table-action">
                      <i class="fas fa-edit mx-1" data-toggle="tooltip" data-original-title="Edit Program Details"> </i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Modal Section -->
        <!-- Filter Modal -->
        <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
          <div class="modal modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filters</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <div class="row">
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">College</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">CNSM</a>
                        <a class="dropdown-item" href="#">COA</a>
                        <a class="dropdown-item" href="#">COE</a>
                        <a class="dropdown-item" href="#">Educ</a>
                        <a class="dropdown-item" href="#">COF</a>
                        <a class="dropdown-item" href="#">CBA</a>
                        <a class="dropdown-item" href="#">CSSH</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <h6 class="heading-small text-muted mb-2">Department</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">IT & Physics Department</a>
                        <a class="dropdown-item" href="#">Mathematics Deparmtent</a>
                        <a class="dropdown-item" href="#">Science Department</a>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                <button type="button" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
              </div>
            </div>
          </div>
        </div>
        <!-- View Program Details Modal -->
        <div class="modal fade" id="viewProgramDetails" tabindex="-1" role="dialog" aria-labelledby="viewProgramDetailsLabel" aria-hidden="true">
          <div class="modal modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="viewFacultyDataLabel">Program Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body pt-0">
                <div class="row py-2">
                  <div class="col-4">
                    <h6 class="heading-small text-muted mb-0">Program Code</h6>
                  </div>
                  <div class="col-8">
                    <p class="text-sm  mb-0">BSIT</p>
                  </div>
                </div>
                <div class="row py-2">
                  <div class="col-4">
                    <h6 class="heading-small text-muted mb-0">Description</h6>
                  </div>
                  <div class="col-8">
                    <p class="text-sm  mb-0">Bachelor of Science in Information Technology</p>
                  </div>
                </div>
                <div class="row py-2">
                  <div class="col-4">
                    <h6 class="heading-small text-muted mb-0">Delivering Dept</h6>
                  </div>
                  <div class="col-8">
                    <p class="text-sm  mb-0">IT and Physics Department</p>
                  </div>
                </div>
                <div class="row py-2">
                  <div class="col-4">
                    <h6 class="heading-small text-muted mb-0">Curriculum</h6>
                  </div>
                  <div class="col-8">
                    <p class="text-sm  mb-0">2017</p>
                  </div>
                </div>
                <div class="row py-2">
                  <div class="col-4">
                    <h6 class="heading-small text-muted mb-0">Type</h6>
                  </div>
                  <div class="col-8">
                    <p class="text-sm  mb-0">Baccalaureate</p>
                  </div>
                </div>
                <div class="row  py-2">
                  <div class="col-4">
                    <h6 class="heading-small text-muted mb-0">Majors</h6>
                  </div>
                  <div class="col">
                    <p class="text-sm mb-0">Database Management</p>
                    <p class="text-sm mb-0">Network Administration</p>
  
                  </div>
                </div>
                <div class="row  py-2">
                  <div class="col-4">
                    <h6 class="heading-small text-muted mb-0">No. of Semesters</h6>
                  </div>
                  <div class="col">
                    <p class="text-sm mb-0">9</p>
                  </div>
                </div>
                <div class="row  py-2">
                  <div class="col-4">
                    <h6 class="heading-small text-muted mb-0">Total No. of Units</h6>
                  </div>
                  <div class="col">
                    <p class="text-sm mb-0"><span class="badge badge-primary">Not Available</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
    <!-- Argon Scripts -->
    <% include ../partials/scripts %>
  </body>
  
  