<body>
    <!-- Sidenav -->
    <% include ../partials/sidenav %>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <% include ../partials/topnav %>
      <!-- Page content -->
      <div class="header">
        <div class="container-fluid">
          <div class="row my-3 d-flex align-items-center">
            <div class="col-6">
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" id="search" placeholder="Search" type="text">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </form>
            </div>
            <div class="col-6 text-right">
              <a href="/admin/student-information/add" class="btn btn-sm btn-primary btn-round btn-icon">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Add New Student"><i class="fas fa-plus"></i> New</span>
              </a>
              <a href="#filterModal" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="modal">
                <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Filter Data"><i class="fas fa-filter"></i> Filter</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="card mt-0 pt-0">
          <!-- Card header -->
          <div class="card-header mb--2">
            <div class="row">
              <div class="col-auto">
                <h3 class="mb-0">List of Students</h3>
              </div>
            </div>
          </div>
          <div id="" class="table-responsive mt-0 pb-4">
            <table class="table table-flush p-0 mt-0" id="datatable-basic">
              <thead class="thead-light p-0 m-0">
                <tr>
                  <th>ID</th>
                  <th>Last Name</th>
                  <th>First Name</th>
                  <th>Middle Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
            
                      <% for(let counter=0; counter < students.length; counter++) { %>
                        <tr>
                            <td><%= students[counter].idNumber %></td>
                            <td><%= students[counter].lastName %></td>
                            <td><%= students[counter].firstName %></td>
                            <td><%= students[counter].middleName %></td>
                            <td>
                              <a href="#" id="viewButton" data-id="<%= students[counter].idNumber %>" class="table-action" data-toggle="modal">
                                <i class="fas fa-external-link-alt mx-1" data-toggle="tooltip" data-original-title="View Student Data"></i>
                              </a>
                              <a href="/admin/student-information/edit/<%= students[counter].idNumber %>" class="table-action" data-toggle="tooltip" data-original-title="Edit Student Data">
                                <i class="fas fa-edit mx-1"></i>
                              </a>
                              <a href="#viewScholasticRecord" class="table-action" data-toggle="modal">
                                <i class="fas fa-folder-open mx-1" data-toggle="tooltip" data-original-title="View Scholastic Record"></i>
                              </a>
                            </td>
                          </tr>
                      <% } %>
                  

               
              </tbody>
            </table>
          </div>
        </div>
        <!-- Modal Section -->
        <!-- Filter Modal -->
        <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
          <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filter Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <div class="row d-flex justify-content-center">
                  <div class="col-10">
                    <h6 class="heading-small text-muted mb-2">Year Admitted</h6>
                    <div class="dropdown col-12 px-0  ">
                      <button class="btn btn-secondary dropdown-toggle col-12 px-0  " type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All </button>
                      <div class="dropdown-menu" id="yearDropdown" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">All </a>
                        <a class="dropdown-item" href="#">2019 </a>
                        <a class="dropdown-item" href="#">2018 </a>
                        <a class="dropdown-item" href="#">2017 </a>
                        <a class="dropdown-item" href="#">2016 </a>
                        <a class="dropdown-item" href="#">2015 </a>
                        <a class="dropdown-item" href="#">2014 </a>
                        <a class="dropdown-item" href="#">2013 </a>
                        <a class="dropdown-item" href="#">2012 </a>
                        <a class="dropdown-item" href="#">2011 </a>
                        <a class="dropdown-item" href="#">2009 </a>
                        <a class="dropdown-item" href="#">2008 </a>
                        <a class="dropdown-item" href="#">2007 </a>
                        <a class="dropdown-item" href="#">2006 </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                <button type="button" class="btn btn-primary" id="filterButton"><i class="fas fa-save"></i> Save</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Student Data Modal -->
        <div class="modal fade" id="viewStudentData" tabindex="-1" role="dialog" aria-labelledby="viewStudentDataLabel" aria-hidden="true">
          <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="viewStudentDataLabel">Student Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <!-- Vertical Tabs -->
                <div class="row">
                  <div class="col-3">
                    <ul class="nav flex-column nav-pills nav-fill" role="tablist">
                      <li class="nav-item mb-2 pr-0">
                        <a class="nav-link active" id="personalInfo" data-toggle="tab" href="#personalInfoHref" role="tab" aria-selected="true" aria-controls="personalInfoHref">Personal</a>
                      </li>
                      <li class="nav-item mb-2 pr-0">
                        <a class="nav-link" id="educationBG" data-toggle="tab" href="#educationBGHref" role="tab" aria-selected="false" aria-controls="educationBGHref">Education</a>
                      </li>
                      <li class="nav-item mb-2 pr-0">
                        <a class="nav-link" id="contactInfo" data-toggle="tab" href="#contactInfoHref" role="tab" aria-selected="false" aria-controls="contactInfoHref">Contact</a>
                      </li>
                      <li class="nav-item mb-2 pr-0">
                        <a class="nav-link" id="mother" data-toggle="tab" href="#motherHref" role="tab" aria-selected="false" aria-controls="motherHref">Mother</a>
                      </li>
                      <li class="nav-item mb-2 pr-0">
                        <a class="nav-link" id="father" data-toggle="tab" href="#fatherHref" role="tab" aria-selected="false" aria-controls="fatherHref">Father</a>
                      </li>

                      <li class="nav-item mb-2 pr-0" id="spouseLink">
                        <a class="nav-link" id="spouse" data-toggle="tab" href="#spouseHref" role="tab" aria-selected="false" aria-controls="spouseHref">Spouse</a>
                      </li>

                    </ul>
                  </div>
                  <div class="col-9">
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="personalInfoHref" role="tabpanel" aria-labelledby="personalInfo">
                        <div class="card shadow">
                          <div class="card-header">
                            <h4 class="mb-0">Personal Information</h4>
                          </div>
                          <div class="card-body">
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0" >ID Number</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="idNumber">2010-0001</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Full Name</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="fullName">Ms. Catherine N. Ninofranco</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Birthday</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="birthday">September 13, 1993</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Gender</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="gender">Female</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Civil Status</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="civilStatus">Single</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Religion</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="religion">Roman Catholic</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Tribe</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="tribe">Ilonggo</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="educationBGHref" role="tabpanel"  aria-labelledby="educationBG">
                        <div class="card shadow">
                          <div class="card-header">
                            <h4 class="mb-0">Educational Background</h4>
                          </div>
                          <div class="card-body">
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Primary</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="primaryAndYear"> Notre Dame of Dadiangas College - Integrated Basic Education Department (2006)</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Junior</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="juniorAndYear">Mindanao State University - College of Education Training Department (2010)</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Senior</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="seniorAndYear"><span class="badge badge-primary">Not Available</span></p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Undergraduate</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="underAndYear"><span class="badge badge-primary">Not Available</span></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="contactInfoHref" role="tabpanel"  aria-labelledby="contactInfo">
                        <div class="card shadow">
                          <div class="card-header">
                            <h4 class="mb-0">Contact Information</h4>
                          </div>
                          <div class="card-body">
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Mobile Number</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="mobile">(+63) 995 995 0919</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Telephone Number</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="telephone">(083) 553-0296</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">School Email</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="schoolEmail">
                                    
                                </p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0" >Alternate Email</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="alternateEmail">catherineninofranco@gmail.com</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Address</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="address">Block 5 Lot 6 Phase 1-B, Gensanville Subdivision, Bula, General Santos City, South Cotabato, 9500</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="motherHref" role="tabpanel"  aria-labelledby="mother">
                        <div class="card shadow">
                          <div class="card-header">
                            <h4 class="mb-0">Mother's Data</h4>
                          </div>
                          <div class="card-body">
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Maiden Name</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="mname">Ms. Ruth Pereyra Necor</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Contact Address</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="maddress">Cashier's Office, Y Building, Mindanao State University Campus, Brgy. Fatima, General Santos City, South Cotabato, 9500</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Email Address</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="memail">rnninofranco@gmail.com</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Contact Number</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="mnumber">(+63) 999 999 9999</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="fatherHref" role="tabpanel"  aria-labelledby="father">
                        <div class="card shadow">
                          <div class="card-header">
                            <h4 class="mb-0">Father's Data</h4>
                          </div>
                          <div class="card-body">
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Full Name</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="fname">Mr. Eufemio Forsuelo Ninofranco</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Contact Address</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="faddress">IT & Physics Department, College of Natural Sciences and Mathematics, Mindanao State University Campus, Brgy. Fatima, General Santos City, South Cotabato, 9500</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Email Address</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="femail">rnninofranco@gmail.com</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Contact Number</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="fnumber">(+63) 999 999 9999</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="spouseHref" role="tabpanel"  aria-labelledby="spouse">
                        <div class="card shadow">
                          <div class="card-header">
                            <h4 class="mb-0">Spouse's Data</h4>
                          </div>
                          <div class="card-body">
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Full Name</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="sname">Mr. Oh Sehun</p>
                              </div>
                            </div>
                              <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Contact Address</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="saddress">Bachelors' Quarters, Mindanao State University Campus, Brgy. Fatima, General Santos City, South Cotabato, 9500</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Email Address</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="semail">ohsehun@gmail.com</p>
                              </div>
                            </div>
                            <div class="row py-2">
                              <div class="col-4">
                                <h6 class="heading-small text-muted mb-0">Contact Number</h6>
                              </div>
                              <div class="col-8">
                                <p class="text-sm  mb-0" id="snumber">(+63) 999 999 9999</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
        </div>
        <!-- Student Scholastic Record Modal  -->
        <div class="modal fade" id="viewScholasticRecord" tabindex="-1" role="dialog" aria-labelledby="viewScholasticRecordLabel" aria-hidden="true">
          <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="viewScholasticRecordLabel">Scholastic Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body py-0">
                <!-- Vertical Tabs -->
                <div class="row">
                  <div class="col-4">
                    <ul class="nav flex-column nav-pills nav-fill" role="tablist">
                      <li class="nav-item mb-2 pr-0">
                        <a class="nav-link active" id="firstSem" data-toggle="tab" href="#firstSemHref" role="tab" aria-selected="true" aria-controls="personalInfoHref">2010-2011 - 1st Sem</a>
                      </li>
                      <li class="nav-item mb-2 pr-0">
                        <a class="nav-link" id="secondSem" data-toggle="tab" href="#secondSemHref" role="tab" aria-selected="false" aria-controls="educationBGHref">2010-2011 - 2nd Sem</a>
                      </li>
                      <li class="nav-item mb-2 pr-0">
                        <a class="nav-link" id="summer" data-toggle="tab" href="#summerHref" role="tab" aria-selected="false" aria-controls="contactInfoHref">2010-2011 - Summer</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-8">
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="firstSemHref" role="tabpanel" aria-labelledby="firstSem">
                        <div class="card shadow">
                          <div class="card-header">
                            <h4 class="mb-0">S.Y 2010-2011 - 1st Semester</h4>
                          </div>
                          <div class="card-body">
                            <div class="row py-2">
                              <div class="col-2">
                                <p class="text-sm  mb-0">IT100</p>
                              </div>
                              <div class="col-7">
                                <p class="text-sm  mb-0">Social, Ethical, and Professional Issues in Information Technology</p>
                              </div>
                              <div class="col-3 text-center">
                                <p class="text-sm strong mb-0"><strong>2.00</strong></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="secondSemHref" role="tabpanel"  aria-labelledby="secondSem">
                        <div class="card shadow">
                          <div class="card-header">
                            <h4 class="mb-0">S.Y 2010-2011 - 2nd Semester</h4>
                          </div>
                          <div class="card-body">
                            <div class="row py-2">
                              <div class="col-2">
                                <p class="text-sm  mb-0">IT000</p>
                              </div>
                              <div class="col-7">
                                <p class="text-sm  mb-0">Special Topics in Information Technology</p>
                              </div>
                              <div class="col-3 text-center">
                                <p class="text-sm strong mb-0"><strong>INC</strong></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="summerHref" role="tabpanel"  aria-labelledby="summer">
                        <div class="card shadow">
                          <div class="card-header">
                            <h4 class="mb-0">S.Y 2010-2011 - Summer</h4>
                          </div>
                          <div class="card-body">
                            <div class="row py-2">
                              <div class="col-2">
                                <p class="text-sm  mb-0">IT999</p>
                              </div>
                              <div class="col-7">
                                <p class="text-sm  mb-0">On the Job Training</p>
                              </div>
                              <div class="col-3 text-center">
                                <p class="text-sm strong mb-0"><strong>CMPLTD</strong></p>
                              </div>
                            </div>
                          </div>
  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
        </div>
  
        <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
    <!-- Argon Scripts -->
    <% include ../partials/scripts %>
 <script>
$(document).ready(function(){

  var tables = $.fn.dataTable.tables()
  var datatables = $(tables).DataTable()

  $(document).on('keyup', '#search', function(e){
   
   datatables.search($(this).val()).draw() 
})

$(document).on('click','#filterButton', function(e){
console.log($('#dropdownMenuButton'))

if($('#dropdownMenuButton').text() !== 'All '){
datatables.column(0).search($('#dropdownMenuButton').text()).draw();  
}else {
  datatables.column(0).search('').draw();  
}

})

$(document).on('click', '#yearDropdown a', function(e){
    $('#dropdownMenuButton').text($(this).text()); 
 })

 
 $(document).on('click', '#viewButton', function(e){
  var id = $(this).attr("data-id")
   $.ajax({
    url: `/admin/studentInformation/${id}`,
    type: 'GET',
     success: function(response){
       console.log(response)
       $('#idNumber').html(response.student.idNumber)
       $('#fullName').html(`${response.student.salutation} 
       ${response.student.firstName} ${response.student.middleName}
       ${response.student.lastName} ${response.student.suffix}
       `)
       $('#birthday').html(moment(response.student.birthday).format('MMMM D, YYYY'))
       $('#gender').html(response.student.gender)
       $('#civilStatus').html(response.student.civilStatus)
       $('#religion').html(response.student.religion)
       $('#religion').html(response.student.religion)
       $('#tribe').html(response.student.tribe)
       $('#primaryAndYear').html(`${response.student.primary} (${response.student.primaryYearGraduated})`)
       $('#juniorAndYear').html(`${response.student.juniorHighSchool} (${response.student.juniorHighSchoolYearGraduated})`)
       $('#seniorAndYear').html(`${response.student.seniorHighSchool} (${response.student.seniorHighSchoolYearGraduated})`)
       $('#underAndYear').html(`${response.student.underGraduate} (${response.student.underGraduateYearGraduated})`)
       $('#mobile').html(response.student.mobileNumber)
       $('#telephone').html(response.student.telephone)
       if(response.student.account){
       $('#schoolEmail').html(response.student.account.schoolEmail)
       }else {
        $('#schoolEmail').html('<span class="badge badge-primary">Not Available</span>')
        
       }
       $('#alternateEmail').html(response.student.alternateEmail)
       $('#address').html(`${response.student.streetAddress}, 
       ${response.student.barangay}, ${response.student.city}, ${response.student.postalCode}
       `)

       $('#mname').html(`Mrs. ${response.student.motherName}`)
       $('#maddress').html(`${response.student.mstreetAddress}, 
       ${response.student.mbarangay}, ${response.student.mcity}, ${response.student.mpostalCode}`)
       $('#memail').html(response.student.memailAddress)
       $('#mnumber').html(response.student.mcontactNumber)

       $('#fname').html(`Mr. ${response.student.fatherName}`)
       $('#faddress').html(`${response.student.fstreetAddress}, 
       ${response.student.fbarangay}, ${response.student.fcity}, ${response.student.fpostalCode}`)
       $('#femail').html(response.student.femailAddress)
       $('#fnumber').html(response.student.fcontactNumber)

       $('#sname').html(`${response.student.ssalutation} 
       ${response.student.sfirstName} ${response.student.smiddleName}
       ${response.student.slastName} ${response.student.ssuffix}`)
       $('#saddress').html(`${response.student.fstreetAddress}, 
       ${response.student.fbarangay}, ${response.student.fcity}, ${response.student.fpostalCode}`)
       $('#semail').html(response.student.femailAddress)
       $('#snumber').html(response.student.fcontactNumber)

      $('#viewStudentData').modal('show')
       if(response.student.civilStatus !== 'Married'){
        $('#spouseLink').hide()
       }else {
        $('#spouseLink').show()
       }

     },
     error: function(jqXHR, exception){
       console.log(jqXHR)
     }
   });
 });

});

</script>

<style>
    .dataTables_filter {
   display: none
   }
 </style>
   
  </body>
  
  