<body>
        <!-- Sidenav -->
        <% include ../partials/sidenav %>
        <!-- Main content -->
        <div class="main-content" id="panel">
          <!-- Topnav -->
          <% include ../partials/topnav %>
          <!-- Page content -->
        
          <div class="header">
            <div class="container-fluid">
              <br />
            </div>
          </div>
    
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-lg-9 card-wrappercard-wrapper">
              <form id="staffForm">
                <div class="card">
                  <div class="card-header">
                 
                    <div class="row">
                      <div class="col-6">
                        <h3 class="mb-0">Edit
                        <% if(type === '1') { %>
                            Staff
                        <% } else { %>
                            Department Clerk
                        <% } %>
                        </h3>
                      </div>
                     
                      <div class="col-6 text-right">
                        <a href="fis.html" class="btn btn-sm btn-secondary btn-round btn-icon">
                          <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Discard changes"><i class="fas fa-times"></i> Cancel</span>
                        </a>
                        <button href="#" type="submit" class="btn btn-sm btn-primary btn-round btn-icon">
                          <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Save Changes"><i class="fas fa-save"></i> Save</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6 class="heading-small text-muted mb-4">Personal Information</h6>
                    <div class="row mt-4">
                        <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Salutation</label>
                        <div class="col-md-10">
                            <div class="dropdown px-0 col-4">
                          <select class="form-control" id="salutation" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ..." data-minimum-results-for-search="Infinity">
                            <option value="Mr.">Ms.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Mr.">Mr.</option>
                          </select>
                        </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                      <label for="idNumber" class="col-md-2 col-form-label form-control-label">ID Number</label>
                      <div class="col-md-4">
                        <input class="form-control" type="text" value="" id="idNumber" disabled>
                        <div id="idNumberMessage" class="invalid-feedback">
                              
                        </div>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="lastName" class="col-md-2 col-form-label form-control-label">Last Name</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="" id="lastName" required>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="firstName" class="col-md-2 col-form-label form-control-label">First Name</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="" id="firstName" required>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="middleName" class="col-md-2 col-form-label form-control-label">Middle Name</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="" id="middleName" required>
                      </div>
                    </div>
                    <div class="row mt-4">
                        <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Suffix</label>
                        <div class="col-md-4">
    
                          <select class="form-control" id="suffix" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                                  <option value="">None</option>
                                  <option value="Junior">Junior</option>
                                  <option value="Senior">Senior</option>
                                  <option value="II">II</option>
                                  <option value="III">III</option>
                                  <option value="IV">IV</option>
                                  <option value="V">V</option>
                                  <option value="VI">VI</option>
                                  <option value="VII">VII</option>
                                  <option value="VIII">VIII</option>
                                  <option value="IX">IX</option>
                                  <option value="X">X</option>
                            </select>
    
                       
                        </div>
    
                        <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Gender</label>
                        <div class="col-md-4">
                          <div class="dropdown px-0 col-12">
                              <select class="form-control" id="gender" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ..." data-minimum-results-for-search="Infinity" disabled>
                                  <option value="Male">Male</option>
                                  <option value="Female">Female</option>
                              </select>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-4">
                        <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Birthday</label>
                        <div class="col-md-4">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                            </div>
                            <input class="form-control datepicker" id="birthday" placeholder="Select date" type="text" value="06/21/2018">
                          </div>
                        </div>
    
                        <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Civil Status</label>
                        <div class="col-md-4">
                          <div class="dropdown px-0 col-12">
                           
                              <select class="form-control" id="civilStatus" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ..." data-minimum-results-for-search="Infinity">
                                  <option value="Single">Single</option>
                                  <option value="Married">Married</option>
                                  <option value="Divorced">Divorced</option>
                                  <option value="Widowed">Widowed</option>
                              </select>
                        
                          </div>
                        </div>
                      </div>

                      <% if (type === '2') {%> 
                      <hr class="my-4">
                      <h6 class="heading-small text-muted mb-4">Department Information</h6>
                      <div class="row mt-4">
                        <label for="example-text-input" class="col-md-2 col-form-label form-control-label">College</label>
                        <div class="col-md-4">
                          <div class="dropdown px-0 col-12">
                              <select class="form-control" id="collegeCode" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                                  <option value="CNSM">College of Natural Sciences and Mathematics</option>
                              </select>
                          </div>
                        </div>
                        <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Department</label>
                        <div class="col-md-4">
                          <div class="dropdown px-0 col-12">
                              <select class="form-control" id="departmentCode" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                                  <option value="BSIT">BSIT</option>
                              </select>
                          </div>
                        </div>
                      </div>
                      <% } %>

                    <hr class="my-4">
                    <h6 class="heading-small text-muted mb-4">Contact Information</h6>
                    <div class="row">
                        <label for="mobileNumber" class="col-md-2 col-form-label form-control-label">Mobile Number</label>
                        <div class="col-md-4">
                          <input class="form-control" type="text" value="" id="mobileNumber">
                        </div>
                        <label for="telephone" class="col-md-2 col-form-label form-control-label">Telephone</label>
                        <div class="col-md-4">
                          <input class="form-control" type="text" value="" id="telephone">
                        </div>
                      </div>
                      <div class="row mt-4">
                        <label for="alternateEmail" class="col-md-2 col-form-label form-control-label">Alternate Email</label>
                        <div class="col-md-10">
                          <input class="form-control" type="text" value="" id="alternateEmail" placeholder="example@example.com">
                        </div>
                      </div>
                    <div class="row mt-4">
                      <label for="streetAddress" class="col-md-2 col-form-label form-control-label">Street Address</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="" id="streetAddress">
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="region" class="col-md-2 col-form-label form-control-label">Region</label>
                      <div class="col-md-4">
                        <select class="form-control" data-toggle="select" id="region" title="Simple select" data-live-search="true"
                          data-live-search-placeholder="Search ...">
                          <option>Region 1</option>
                          <option>Region 2</option>
                          <option>Region 3</option>
                        </select>
                      </div>
                      <label for="city" class="col-md-2 col-form-label form-control-label">City</label>
                      <div class="col-md-4">
                        <select class="form-control" data-toggle="select" id="city" title="Simple select" data-live-search="true"
                          data-live-search-placeholder="Search ...">
                          <option>City 1</option>
                          <option>City 2</option>
                          <option>City 3</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="barangay" class="col-md-2 col-form-label form-control-label">Barangay</label>
                      <div class="col-md-4">
                        <select class="form-control" data-toggle="select" id="barangay" title="Simple select" data-live-search="true"
                          data-live-search-placeholder="Search ...">
                          <option>Baranggay 1</option>
                          <option>Baranggay 2</option>
                          <option>Baranggay 3</option>
                        </select>
                      </div>
                      <label for="postalCode" class="col-md-2 col-form-label form-control-label">Postal Code</label>
                      <div class="col-md-4">
                        <input class="form-control" type="text" value="" id="postalCode">
                      </div>
                    </div>
                   
                     
                      <br />
              </form>
                  </div>
                </div>
              </div>
            </div>
    
            <!-- Footer -->
            <% include ../partials/footer %>
          </div>
        </div>
        <!-- Argon Scripts -->
        <% include ../partials/scripts %>
    
      
    <script>

$(document).ready(function(){
 
    $.ajax({
      url: '/admin/staffInformation/<%= idNumber %>',
      type: 'GET',
       success: function(response){
         console.log(response)
        $('#idNumber').val(response.clerk.idNumber)
        $(`#salutation option:contains("${response.clerk.salutation}")`).prop('selected', 'selected').change()
         $('#lastName').val(response.clerk.lastName)
       $('#firstName').val(response.clerk.firstName)
   $('#middleName').val(response.clerk.middleName)
   $(`#suffix option:contains("${response.clerk.suffix}")`).prop('selected', 'selected').change()
      $('#birthday').val(moment(response.clerk.birthday).format('MM/DD/YYYY'))
      $(`#gender option:contains("${response.clerk.gender}")`).prop('selected', 'selected').change()
      $(`#civilStatus option:contains("${response.clerk.civilStatus}")`).prop('selected', 'selected').change()
        
      if(response.clerk.clerkType === '2'){

      $(`#collegeCode option:contains("${response.clerk.collegeCode}")`).prop('selected', 'selected').change()
        $(`#departmentCode option:contains("${response.clerk.departmentCode}")`).prop('selected', 'selected').change()
      }   

      $('#mobileNumber').val(response.clerk.mobileNumber)
     $('#telephone').val(response.clerk.telephone)
     $('#alternateEmail').val(response.clerk.alternateEmail)
     $(`#region option:contains("${response.clerk.region}")`).prop('selected', 'selected').change()
     $(`#city option:contains("${response.clerk.city}")`).prop('selected', 'selected').change()
     $(`#barangay option:contains("${response.clerk.barangay}")`).prop('selected', 'selected').change()
     $('#streetAddress').val(response.clerk.streetAddress)
     $('#postalCode').val(response.clerk.postalCode)
    },
       error: function(jqXHR, exception){
        
  
       }
     })



$(document).on('submit', '#staffForm', function(e){

e.preventDefault()

let formData = {

salutation: $('#salutation').val(),
lastName: $('#lastName').val(),
firstName: $('#firstName').val(),
middleName: $('#middleName').val(),
suffix: $('#suffix').val(),
birthday: $('#birthday').val(),
civilStatus: $('#civilStatus').val(),
collegeCode: $('#collegeCode').val(),
departmentCode: $('#departmentCode').val(),
mobileNumber: $('#mobileNumber').val(),
telephone: $('#telephone').val(),
alternateEmail: $('#alternateEmail').val(),
region: $('#region').val(),
city: $('#city').val(),
barangay: $('#barangay').val(),
streetAddress: $('#streetAddress').val(),
postalCode: $('#postalCode').val()
}



$.ajax({
url: '/admin/staffInformation/<%= idNumber %>',
type: 'PUT',
data: { ...formData },
success: function(response){

 
   Swal.fire(
     'Staff edited',
     '',
     'success'
   ).then(() => {
    window.location.replace('/admin/staff-information')
   })
},
error: function(jqXHR, exception){
 
}
})


})

})

    
    </script>
        
       
      </body>
      
      