<body>
    <!-- Sidenav -->
    <% include ../partials/sidenav %>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <% include ../partials/topnav %>
      <!-- Page content -->
      <div class="header">
        <div class="container-fluid">
          <br />
        </div>
      </div>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-9 card-wrappercard-wrapper">
           
            <form id="studentForm">
              <div class="card">
                <div class="card-header">
               
                  <div class="row">
                    <div class="col-6">
                      <h3 class="mb-0">Edit Student</h3>
                    </div>
                   
                    <div class="col-6 text-right">
                      <a href="sis.html" class="btn btn-sm btn-neutral btn-round btn-icon">
                        <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Discard changes"><i class="fas fa-times"></i> Cancel</span>
                      </a>
                      <button href="#" type="submit" class="btn btn-sm btn-primary btn-round btn-icon">
                        <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Save Changes"><i class="fas fa-save"></i> Save</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                 
                    <h6 class="heading-small text-muted mb-4">Personal Information</h6>
                    <div class="row">
                      <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Salutation</label>
                      <div class="col-md-10">
                          <div class="dropdown px-0 col-4">
                        <select class="form-control" id="salutation" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ..." data-minimum-results-for-search="Infinity">
                          <option value="Mr.">Ms.</option>
                          <option value="Mrs.">Mrs.</option>
                          <option value="Mr.">Mr.</option>
                        </select>
                      </div>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="idNumber" class="col-md-2 col-form-label form-control-label">ID Number</label>
                      <div class="col-md-5">
                        <input class="form-control" id="idNumber" type="text" value="" disabled>
                        <div id="idNumberMessage" class="invalid-feedback">
                            
                        </div>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="lastName" class="col-md-2 col-form-label form-control-label">Last Name</label>
                      <div class="col-md-10">
                        <input class="form-control" id="lastName" type="text" value="">
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="firstName" class="col-md-2 col-form-label form-control-label" >First Name</label>
                      <div class="col-md-10">
                        <input class="form-control" id="firstName" type="text" value="">
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="middleName" class="col-md-2 col-form-label form-control-label" >Middle Name</label>
                      <div class="col-md-5">
                        <input class="form-control" id="middleName" type="text" value="">
                      </div>
                      <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Middle Initial</label>
                      <div class="col-md-3">
                        <input class="form-control" type="text" value="" id="example-text-input" disabled>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Suffix</label>
                      <div class="col-md-4">
  
                        <select class="form-control" id="suffix" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                                <option value="">None</option>
                                <option value="Junior">Junior</option>
                                <option value="Senior">Senior</option>
                                <option value="II">II</option>
                                <option value="III">III</option>
                                <option value="IV">IV</option>
                                <option value="V">V</option>
                                <option value="VI">VI</option>
                                <option value="VII">VII</option>
                                <option value="VIII">VIII</option>
                                <option value="IX">IX</option>
                                <option value="X">X</option>
                          </select>
  
                     
                      </div>
  
                      <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Gender</label>
                      <div class="col-md-4">
                        <div class="dropdown px-0 col-12">
                            <select class="form-control" id="gender" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ..." data-minimum-results-for-search="Infinity" disabled>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Birthday</label>
                      <div class="col-md-4">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                          </div>
                          <input class="form-control datepicker" id="birthday" placeholder="Select date" type="text" value="06/21/2018">
                        </div>
                      </div>
  
                      <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Civil Status</label>
                      <div class="col-md-4">
                        <div class="dropdown px-0 col-12">
                         
                            <select class="form-control" id="civilStatus" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ..." data-minimum-results-for-search="Infinity">
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                                <option value="Divorced">Divorced</option>
                                <option value="Widowed">Widowed</option>
                            </select>
                      
                        </div>
                      </div>
                    </div>
                 
                    <div class="row mt-4">
                      <label class="col-md-2 col-form-label form-control-label">Religion</label>
                      <div class="col-md-4">
                        <select class="form-control" id="religion" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                          <option value="Religion1">Religion 1</option>
                          <option value="Religion2">Religion 2</option>
                          <option value="Religion3">Religion 3</option>
                        </select>
                      </div>
                      <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Tribe</label>
                      <div class="col-md-4">
                        <select class="form-control" id="tribe" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                          <option value="Tribe1">Tribe 1</option>
                          <option value="Tribe2">Tribe 2</option>
                          <option value="Tribe3">Tribe 3</option>
                        </select>
                      </div>
                    </div>
                    <hr class="my-4">
                    <h6 class="heading-small text-muted mb-4">Educational Background</h6>
                    <div class="row">
                      <label for="primary" class="col-md-2 col-form-label form-control-label">Primary</label>
                      <div class="col-md-6">
                        <input class="form-control" type="text" value="" id="primary">
                      </div>
                      <label for="primaryYearGraduated" class="col-md-2 col-form-label form-control-label">Year Graduated</label>
                      <div class="col-md-2">
                        <input class="form-control" type="number" value="" id="primaryYearGraduated">
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="juniorHighSchool" class="col-md-2 col-form-label form-control-label">Junior HS</label>
                      <div class="col-md-6">
                        <input class="form-control" type="text" value="" id="juniorHighSchool">
                      </div>
                      <label for="juniorHighSchoolYearGraduated" class="col-md-2 col-form-label form-control-label">Year Graduated</label>
                      <div class="col-md-2">
                        <input class="form-control" type="number" value="" id="juniorHighSchoolYearGraduated">
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="seniorHighSchool" class="col-md-2 col-form-label form-control-label">Senior HS</label>
                      <div class="col-md-6">
                        <input class="form-control" type="text" value="" id="seniorHighSchool">
                      </div>
                      <label for="seniorHighSchoolYearGraduated" class="col-md-2 col-form-label form-control-label">Year Graduated</label>
                      <div class="col-md-2">
                        <input class="form-control" type="number" value="" id="seniorHighSchoolYearGraduated">
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="underGraduate" class="col-md-2 col-form-label form-control-label">Undergraduate</label>
                      <div class="col-md-6">
                        <input class="form-control" type="text" value="" id="underGraduate">
                      </div>
                      <label for="underGraduateYearGraduated" class="col-md-2 col-form-label form-control-label">Year Graduated</label>
                      <div class="col-md-2">
                        <input class="form-control" type="number" value="" id="underGraduateYearGraduated">
                      </div>
                    </div>
                    <hr class="my-4">
                    <h6 class="heading-small text-muted mb-4">Contact Information</h6>
                    <div class="row">
                      <label for="mobileNumber" class="col-md-2 col-form-label form-control-label">Mobile Number</label>
                      <div class="col-md-4">
                        <input class="form-control" type="text" value="" id="mobileNumber">
                      </div>
                      <label for="telephone" class="col-md-2 col-form-label form-control-label">Telephone</label>
                      <div class="col-md-4">
                        <input class="form-control" type="text" value="" id="telephone">
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="alternateEmail" class="col-md-2 col-form-label form-control-label">Alternate Email</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="" id="alternateEmail" placeholder="example@example.com">
                      </div>
                    </div>
  
                    <div class="row mt-4">
                        <label for="region" class="col-md-2 col-form-label form-control-label">Region</label>
                        <div class="col-md-4">
                          <select class="form-control" id="region" data-toggle="select" title="Simple select" data-live-search="true"
                            data-live-search-placeholder="Search ...">
                            <option value="Region1">Region 1</option>
                            <option value="Region2">Region 2</option>
                            <option value="Region3">Region 3</option>
                          </select>
                        </div>
                        <label for="city" class="col-md-2 col-form-label form-control-label">City</label>
                        <div class="col-md-4">
                          <select class="form-control" id="city" data-toggle="select" title="Simple select" data-live-search="true"
                            data-live-search-placeholder="Search ...">
                            <option value="City1">City 1</option>
                            <option value="City2">City 2</option>
                            <option value="City3">City 3</option>
                          </select>
                        </div>
                      </div>
                      <div class="row mt-4">
                        <label for="barangay" class="col-md-2 col-form-label form-control-label">Baranggay</label>
                        <div class="col-md-4">
                          <select class="form-control" id="barangay" data-toggle="select" title="Simple select" data-live-search="true"
                            data-live-search-placeholder="Search ...">
                            <option value="Baranggay1">Baranggay 1</option>
                            <option value="Baranggay2">Baranggay 2</option>
                            <option value="Baranggay3">Baranggay 3</option>
                          </select>
                        </div>
                        <label for="postalCode" class="col-md-2 col-form-label form-control-label">Postal Code</label>
                        <div class="col-md-4">
                          <input class="form-control" id="postalCode" type="text" value="">
                        </div>
                      </div>
                    <div class="row mt-4">
                      <label for="streetAddress" class="col-md-2 col-form-label form-control-label">Street Address</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="" id="streetAddress">
                      </div>
                    </div>
                    
                    <hr class="my-4">
                    <h6 class="heading-small text-muted mb-4">Mother</h6>
                    <div class="row">
                      <label for="motherName" class="col-md-2 col-form-label form-control-label pt-0">Mother's Maiden Name</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="" id="motherName">
                      </div>
                    </div>
  
                    <div class="row mt-4">
                        <label for="mregion" class="col-md-2 col-form-label form-control-label">Region</label>
                        <div class="col-md-4">
                          <select class="form-control" id="mregion" data-toggle="select" title="Simple select" data-live-search="true"
                            data-live-search-placeholder="Search ...">
                            <option value="Region1">Region 1</option>
                            <option value="Region2">Region 2</option>
                            <option value="Region3">Region 3</option>
                          </select>
                        </div>
                        <label for="mcity" class="col-md-2 col-form-label form-control-label">City</label>
                        <div class="col-md-4">
                          <select class="form-control" id="mcity" data-toggle="select" title="Simple select" data-live-search="true"
                            data-live-search-placeholder="Search ...">
                            <option value="City1">City 1</option>
                            <option value="City2">City 2</option>
                            <option value="City3">City 3</option>
                          </select>
                        </div>
                      </div>
                      <div class="row mt-4">
                        <label for="mbarangay" class="col-md-2 col-form-label form-control-label">Baranggay</label>
                        <div class="col-md-4">
                          <select class="form-control" id="mbarangay" data-toggle="select" title="Simple select" data-live-search="true"
                            data-live-search-placeholder="Search ...">
                            <option value="Baranggay1">Baranggay 1</option>
                            <option value="Baranggay2">Baranggay 2</option>
                            <option value="Baranggay3">Baranggay 3</option>
                          </select>
                        </div>
                        <label for="mpostalCode" class="col-md-2 col-form-label form-control-label">Postal Code</label>
                        <div class="col-md-4">
                          <input class="form-control" id="mpostalCode" type="text" value="">
                        </div>
                      </div>
                    <div class="row mt-4">
                      <label for="mstreetAddress" class="col-md-2 col-form-label form-control-label">Street Address</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="" id="mstreetAddress">
                      </div>
                    </div>
  
  
                    <div class="row mt-4">
                      <label for="memailAddress" class="col-md-2 col-form-label form-control-label">Email Address</label>
                      <div class="col-md-5">
                        <input class="form-control" type="text" value="" id="memailAddress">
                      </div>
                      <label for="mcontactNumber" class="col-md-2 col-form-label form-control-label">Contact No.</label>
                      <div class="col-md-3">
                        <input class="form-control" type="text" value="" id="mcontactNumber">
                      </div>
                    </div>
                    <hr class="my-4">
                    <h6 class="heading-small text-muted mb-4">Father</h6>
                    <div class="row mt-4">
                      <label for="fatherName" class="col-md-2 col-form-label form-control-label">Father's Name</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="" id="fatherName">
                      </div>
                    </div>
                    
                   
                  
                    <div class="row mt-4">
                        <label for="fregion" class="col-md-2 col-form-label form-control-label">Region</label>
                        <div class="col-md-4">
                          <select class="form-control" id="fregion" data-toggle="select" title="Simple select" data-live-search="true"
                            data-live-search-placeholder="Search ...">
                            <option value="Region1">Region 1</option>
                            <option value="Region2">Region 2</option>
                            <option value="Region3">Region 3</option>
                          </select>
                        </div>
                        <label for="fcity" class="col-md-2 col-form-label form-control-label">City</label>
                        <div class="col-md-4">
                          <select class="form-control" id="fcity" data-toggle="select" title="Simple select" data-live-search="true"
                            data-live-search-placeholder="Search ...">
                            <option value="City1">City 1</option>
                            <option value="City2">City 2</option>
                            <option value="City3">City 3</option>
                          </select>
                        </div>
                      </div>
                      <div class="row mt-4">
                        <label for="fbarangay" class="col-md-2 col-form-label form-control-label">Baranggay</label>
                        <div class="col-md-4">
                          <select class="form-control" id="fbarangay" data-toggle="select" title="Simple select" data-live-search="true"
                            data-live-search-placeholder="Search ...">
                            <option value="Baranggay1">Baranggay 1</option>
                            <option value="Baranggay2">Baranggay 2</option>
                            <option value="Baranggay3">Baranggay 3</option>
                          </select>
                        </div>
                        <label for="fpostalCode" class="col-md-2 col-form-label form-control-label">Postal Code</label>
                        <div class="col-md-4">
                          <input class="form-control" id="fpostalCode" type="text" value="">
                        </div>
                      </div>
                    <div class="row mt-4">
                      <label for="fstreetAddress" class="col-md-2 col-form-label form-control-label">Street Address</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="" id="fstreetAddress">
                      </div>
                    </div>
                  
  
                    <div class="row mt-4">
                      <label for="femailAddress" class="col-md-2 col-form-label form-control-label">Email Address</label>
                      <div class="col-md-5">
                        <input class="form-control" type="text" value="" id="femailAddress">
                      </div>
                      <label for="fcontactNumber" class="col-md-2 col-form-label form-control-label">Contact No.</label>
                      <div class="col-md-3">
                        <input class="form-control" type="text" value="" id="fcontactNumber">
                      </div>
                    </div>
  
  
                    <hr class="my-4">
                    <h6 class="heading-small text-muted mb-4">Spouse</h6>
                    <div class="row">
                      <label for="ssalutation" class="col-md-2 col-form-label form-control-label">Salutation</label>
                      <div class="col-md-10">
                        <div class="dropdown px-0 col-4">
                            <select class="form-control" id="ssalutation" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ..." data-minimum-results-for-search="Infinity">
                                <option value="Ms.">Ms.</option>
                                <option value="Mrs.">Mrs.</option>
                                <option value="Mr.">Mr.</option>
                              </select>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="slastName" class="col-md-2 col-form-label form-control-label">Last Name</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="" id="slastName">
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="sfirstName" class="col-md-2 col-form-label form-control-label">First Name</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="" id="sfirstName">
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="smiddleName" class="col-md-2 col-form-label form-control-label">Middle Name</label>
                      <div class="col-md-5">
                        <input class="form-control" type="text" value="" id="smiddleName">
                      </div>
                      <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Middle Initial</label>
                      <div class="col-md-3">
                        <input class="form-control" type="text" value="" id="example-text-input" disabled>
                      </div>
                      
                    </div>
  
                    <div class="row mt-4">
                        <label for="ssuffix" class="col-md-2 col-form-label form-control-label">Suffix</label>
                        <div class="col-md-10">
                          <div class="dropdown px-0 col-4">
    
                          <select class="form-control" id="ssuffix" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                                  <option value="">None</option>
                                  <option value="Junior">Junior</option>
                                  <option value="Senior">Senior</option>
                                  <option value="II">II</option>
                                  <option value="III">III</option>
                                  <option value="IV">IV</option>
                                  <option value="V">V</option>
                                  <option value="VI">VI</option>
                                  <option value="VII">VII</option>
                                  <option value="VIII">VIII</option>
                                  <option value="IX">IX</option>
                                  <option value="X">X</option>
                            </select>
    
                          </div>
                        </div>
                      </div>
  
                    
  
                    <div class="row mt-4">
                        <label for="sregion" class="col-md-2 col-form-label form-control-label">Region</label>
                        <div class="col-md-4">
                          <select class="form-control" id="sregion" data-toggle="select" title="Simple select" data-live-search="true"
                            data-live-search-placeholder="Search ...">
                            <option value="Region1">Region 1</option>
                            <option value="Region2">Region 2</option>
                            <option value="Region3">Region 3</option>
                          </select>
                        </div>
                        <label for="scity" class="col-md-2 col-form-label form-control-label">City</label>
                        <div class="col-md-4">
                          <select class="form-control" id="scity" data-toggle="select" title="Simple select" data-live-search="true"
                            data-live-search-placeholder="Search ...">
                            <option value="City1">City 1</option>
                            <option value="City2">City 2</option>
                            <option value="City3">City 3</option>
                          </select>
                        </div>
                      </div>
                      <div class="row mt-4">
                        <label for="sbarangay" class="col-md-2 col-form-label form-control-label">Baranggay</label>
                        <div class="col-md-4">
                          <select class="form-control" id="sbarangay" data-toggle="select" title="Simple select" data-live-search="true"
                            data-live-search-placeholder="Search ...">
                            <option value="Baranggay1">Baranggay 1</option>
                            <option value="Baranggay2">Baranggay 2</option>
                            <option value="Baranggay3">Baranggay 3</option>
                          </select>
                        </div>
                        <label for="spostalCode" class="col-md-2 col-form-label form-control-label">Postal Code</label>
                        <div class="col-md-4">
                          <input class="form-control" id="spostalCode" type="text" value="">
                        </div>
                      </div>
                    <div class="row mt-4">
                      <label for="sstreetAddress" class="col-md-2 col-form-label form-control-label">Street Address</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="" id="sstreetAddress">
                      </div>
                    </div>
  
  
                    <div class="row mt-4">
                      <label for="semailAddress" class="col-md-2 col-form-label form-control-label">Email Address</label>
                      <div class="col-md-5">
                        <input class="form-control" type="text" value="" id="semailAddress">
                      </div>
                      <label for="scontactNumber" class="col-md-2 col-form-label form-control-label">Contact No.</label>
                      <div class="col-md-3">
                        <input class="form-control" type="text" value="" id="scontactNumber">
                      </div>
                    </div>
                    <br />
            </form>

              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
    <!-- Argon Scripts -->
    <% include ../partials/scripts %>

    <script>
      $(document).ready(function(){

        $.ajax({
      url: '/admin/studentInformation/<%= idNumber %>',
      type: 'GET',
       success: function(response){
         console.log(response)
        $('#idNumber').val(response.student.idNumber)
        $(`#salutation option:contains("${response.student.salutation}")`).prop('selected', 'selected').change()
         $('#lastName').val(response.student.lastName)
       $('#firstName').val(response.student.firstName)
   $('#middleName').val(response.student.middleName)
   $(`#suffix option:contains("${response.student.suffix}")`).prop('selected', 'selected').change()
      $('#birthday').val(moment(response.student.birthday).format('MM/DD/YYYY'))
      $(`#gender option:contains("${response.student.gender}")`).prop('selected', 'selected').change()
      $(`#civilStatus option:contains("${response.student.civilStatus}")`).prop('selected', 'selected').change()
      $(`#religion option:contains("${response.student.religion}")`).prop('selected', 'selected').change()
      $(`#tribe option:contains("${response.student.tribe}")`).prop('selected', 'selected').change()
     
     $('#primary').val(response.student.primary)
  $('#primaryYearGraduated').val(response.student.primaryYearGraduated)
 $('#juniorHighSchool').val(response.student.juniorHighSchool)
 $('#juniorHighSchoolYearGraduated').val(response.student.juniorHighSchoolYearGraduated)
 $('#seniorHighSchool').val(response.student.seniorHighSchool),
    $('#seniorHighSchoolYearGraduated').val(response.student.seniorHighSchoolYearGraduated)
  $('#underGraduate').val(response.student.underGraduate)
   $('#underGraduateYearGraduated').val(response.student.underGraduateYearGraduated)
     $('#mobileNumber').val(response.student.mobileNumber)
     $('#telephone').val(response.student.telephone)
     $('#alternateEmail').val(response.student.alternateEmail)
     $(`#region option:contains("${response.student.region}")`).prop('selected', 'selected').change()
     $(`#city option:contains("${response.student.city}")`).prop('selected', 'selected').change()
     $(`#barangay option:contains("${response.student.barangay}")`).prop('selected', 'selected').change()
     $('#streetAddress').val(response.student.streetAddress)
     $('#postalCode').val(response.student.postalCode)
     $('#motherName').val(response.student.motherName)
     $(`#mregion option:contains("${response.student.mregion}")`).prop('selected', 'selected').change()
     $(`#mcity option:contains("${response.student.mcity}")`).prop('selected', 'selected').change()
   $(`#mbarangay option:contains("${response.student.mbarangay}")`).prop('selected', 'selected').change()
    $('#mstreetAddress').val(response.student.mstreetAddress)
    $('#mpostalCode').val(response.student.mpostalCode)
     $('#memailAddress').val(response.student.memailAddress)
      $('#mcontactNumber').val(response.student.mcontactNumber)
     $('#fatherName').val(response.student.fatherName)
     $(`#fregion option:contains("${response.student.fregion}")`).prop('selected', 'selected').change()
     $(`#fcity option:contains("${response.student.fcity}")`).prop('selected', 'selected').change()
   $(`#fbarangay option:contains("${response.student.fbarangay}")`).prop('selected', 'selected').change()
   $('#fstreetAddress').val(response.student.fstreetAddress)
       $('#fpostalCode').val(response.student.fpostalCode)
     $('#femailAddress').val(response.student.femailAddress)
     $('#fcontactNumber').val(response.student.fcontactNumber)
     $(`#ssalutation option:contains("${response.student.ssalutation}")`).prop('selected', 'selected').change()
    $('#slastName').val(response.student.slastName)
      $('#sfirstName').val(response.student.sfirstName)
      $('#smiddleName').val(response.student.smiddleName)
     
      $(`#ssuffix option:contains("${response.student.ssuffix}")`).prop('selected', 'selected').change()
      $(`#sregion option:contains("${response.student.sregion}")`).prop('selected', 'selected').change()
     $(`#scity option:contains("${response.student.scity}")`).prop('selected', 'selected').change()
   $(`#sbarangay option:contains("${response.student.sbarangay}")`).prop('selected', 'selected').change()
     $('#sstreetAddress').val(response.student.sstreetAddress)
     $('#spostalCode').val(response.student.spostalCode)
   $('#semailAddress').val(response.student.semailAddress)
   $('#scontactNumber').val(response.student.scontactNumber)
        
       },
       error: function(jqXHR, exception){
        
  
       }
     })

  
  
   $(document).on('submit', '#studentForm', function(e){
  
     e.preventDefault()
  
     let formData = {
      idNumber: $('#idNumber').val(),
      salutation: $('#salutation').val(),
      lastName: $('#lastName').val(),
      firstName: $('#firstName').val(),
      middleName: $('#middleName').val(),
      suffix: $('#suffix').val(),
      birthday: $('#birthday').val(),
      gender: $('#gender').val(),
      civilStatus: $('#civilStatus').val(),
      religion: $('#religion').val(),
      tribe: $('#tribe').val(),
      primary: $('#primary').val(),
      primaryYearGraduated: $('#primaryYearGraduated').val(),
      juniorHighSchool: $('#juniorHighSchool').val(),
      juniorHighSchoolYearGraduated: $('#juniorHighSchoolYearGraduated').val(),
      seniorHighSchool: $('#seniorHighSchool').val(),
      seniorHighSchoolYearGraduated: $('#seniorHighSchoolYearGraduated').val(),
      underGraduate: $('#underGraduate').val(),
      underGraduateYearGraduated: $('#underGraduateYearGraduated').val(),
      mobileNumber: $('#mobileNumber').val(),
      telephone: $('#telephone').val(),
      alternateEmail: $('#alternateEmail').val(),
      region: $('#region').val(),
      city: $('#city').val(),
      barangay: $('#barangay').val(),
      streetAddress: $('#streetAddress').val(),
      postalCode: $('#postalCode').val(),
      motherName: $('#motherName').val(),
      mregion: $('#mregion').val(),
      mcity: $('#mcity').val(),
      mbarangay: $('#mbarangay').val(),
      mstreetAddress: $('#mstreetAddress').val(),
      mpostalCode: $('#mpostalCode').val(),
      memailAddress: $('#memailAddress').val(),
      mcontactNumber: $('#mcontactNumber').val(),
      fatherName: $('#fatherName').val(),
      fregion: $('#fregion').val(),
      fcity: $('#fcity').val(),
      fbarangay: $('#fbarangay').val(),
      fstreetAddress: $('#fstreetAddress').val(),
      fpostalCode: $('#fpostalCode').val(),
      femailAddress: $('#femailAddress').val(),
      fcontactNumber: $('#fcontactNumber').val(),
      ssalutation: $('#ssalutation').val(),
      slastName: $('#slastName').val(),
      sfirstName: $('#sfirstName').val(),
      smiddleName: $('#smiddleName').val(),
      ssuffix: $('#ssuffix').val(),
      sregion: $('#sregion').val(),
      scity: $('#scity').val(),
      sbarangay: $('#sbarangay').val(),
      sstreetAddress: $('#sstreetAddress').val(),
      spostalCode: $('#spostalCode').val(),
      semailAddress: $('#semailAddress').val(),
      scontactNumber: $('#scontactNumber').val(),
     }
  
  
     $.ajax({
      url: '/admin/studentInformation/<%= idNumber %>',
      type: 'PUT',
      data: { ...formData },
       success: function(response){
        
          Swal.fire(
            'Student updated',
            '',
            'success'
          ).then(() => {
            window.location.replace('/admin/student-information')
          })
       },
       error: function(jqXHR, exception){
   
  
       }
     })
   })
  
  })
  
      
      </script>
  </body>
  
  