<body>
    <!-- Sidenav -->
    <% include ../partials/sidenav %>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <% include ../partials/topnav %>
      <!-- Page content -->
    
      <div class="header">
        <div class="container-fluid">
          <br />
        </div>
      </div>

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-9 card-wrappercard-wrapper">
          <form id="studentForm">
            <div class="card">
              <div class="card-header">
             
                <div class="row">
                  <div class="col-6">
                    <h3 class="mb-0">Add New Student</h3>
                  </div>
                 
                  <div class="col-6 text-right">
                    <a href="sis.html" class="btn btn-sm btn-neutral btn-round btn-icon">
                      <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Discard changes"><i class="fas fa-times"></i> Cancel</span>
                    </a>
                    <button href="#" type="submit" class="btn btn-sm btn-primary btn-round btn-icon">
                      <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Save Changes"><i class="fas fa-save"></i> Save</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <p class="mb-0">
                      You may add students if and only if; (1) The student is officially admitted in the University. (2) The student is a transferee from other school given that they have fulfilled the requirements.
                    </p>
                  </div>
                </div>
                <hr class="my-4">
               
                  <h6 class="heading-small text-muted mb-4">Personal Information</h6>
                  <div class="row">
                    <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Salutation</label>
                    <div class="dropdown col-4">
                      <button class="btn btn-secondary dropdown-toggle col-12" type="button" id="salutationButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Select Salutation
                      </button>
                      <input id="salutation" hidden>
                      <div class="dropdown-menu" id="salutationDropdown" aria-labelledby="salutationButton">
                        <a class="dropdown-item"  data-value="Ms.">Ms. </a>
                        <a class="dropdown-item"  data-value="Mrs.">Mrs. </a>
                        <a class="dropdown-item"  data-value="Mr.">Mr. </a>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <label for="idNumber" class="col-md-2 col-form-label form-control-label">ID Number</label>
                    <div class="col-md-5">
                      <input class="form-control" id="idNumber" type="text" value="" required>
                      <div id="idNumberMessage" class="invalid-feedback">
                          
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <label for="lastName" class="col-md-2 col-form-label form-control-label">Last Name</label>
                    <div class="col-md-10">
                      <input class="form-control" id="lastName" type="text" value="" required>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <label for="firstName" class="col-md-2 col-form-label form-control-label" >First Name</label>
                    <div class="col-md-10">
                      <input class="form-control" id="firstName" type="text" value="" required>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <label for="middleName" class="col-md-2 col-form-label form-control-label" >Middle Name</label>
                    <div class="col-md-5">
                      <input class="form-control" id="middleName" type="text" value="" required>
                    </div>
                    <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Middle Initial</label>
                    <div class="col-md-3">
                      <input class="form-control" type="text" value="" id="example-text-input" disabled>
                    </div>
                  </div>
                  <div class="row mt-4">
                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Suffix</label>
                  <div class="dropdown col-4">
                    <button class="btn btn-secondary dropdown-toggle col-12" type="button" id="suffixButton" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Select Suffix
                    </button>
                    <input id="suffix" hidden>
                    <div class="dropdown-menu" id="suffixDropdown" aria-labelledby="suffixButton">
                      <a class="dropdown-item" data-value="">None </a>
                      <a class="dropdown-item" data-value="Junior">Junior </a>
                      <a class="dropdown-item" data-value="Senior">Senior </a>
                      <a class="dropdown-item" data-value="II">II </a>
                      <a class="dropdown-item" data-value="III">III </a>
                      <a class="dropdown-item" data-value="IV">IV </a>
                      <a class="dropdown-item" data-value="V">V </a>
                      <a class="dropdown-item" data-value="VI">VI </a>
                      <a class="dropdown-item" data-value="VII">VII </a>
                      <a class="dropdown-item" data-value="VIII">VIII </a>
                      <a class="dropdown-item" data-value="IX">IX </a>
                      <a class="dropdown-item" data-value="X">X </a>
                    </div>
                  </div>

                  <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Suffix</label>
                  <div class="dropdown col-4">
                    <button class="btn btn-secondary dropdown-toggle col-12" type="button" id="genderButton" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Select Gender
                    </button>
                    <input id="gender" hidden>
                    <div class="dropdown-menu" id="genderDropdown" aria-labelledby="genderButton">
                      <a class="dropdown-item" data-value="Male">Male </a>
                      <a class="dropdown-item" data-value="Female">Female</a>
                      
                    </div>
                  </div>



                  </div>
                  <div class="row mt-4">
                    <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Birthday</label>
                    <div class="col-md-4">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                        </div>
                        <input class="form-control datepicker" id="birthday" placeholder="Select date" type="text" value="06/21/2018">
                      </div>
                    </div>

                    <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Civil Status</label>
                    <div class="col-md-4">
                      <div class="dropdown px-0 col-12">
                       <button class="btn btn-secondary dropdown-toggle col-12" type="button" id="civilStatusButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Status
                      </button>
                      <input id="civilStatus" hidden>
                      <div class="dropdown-menu" id="civilStatusDropdown" aria-labelledby="civilStatusButton">
                        <a class="dropdown-item" data-value="Single">Single </a>
                        <a class="dropdown-item" data-value="Married">Married </a>
                        <a class="dropdown-item" data-value="Divorced">Divorced </a>
                        <a class="dropdown-item" data-value="Widowed">Widowed </a>
                      </div>
                    
                      </div>
                    </div>
                  </div>
               
                  <div class="row mt-4">
                    <label class="col-md-2 col-form-label form-control-label">Religion</label>
                    <div class="col-md-4">
                      <select class="form-control" id="religion" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                        <option value="Religion1">Religion 1</option>
                        <option value="Religion2">Religion 2</option>
                        <option value="Religion3">Religion 3</option>
                      </select>
                    </div>
                    <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Tribe</label>
                    <div class="col-md-4">
                      <select class="form-control" id="tribe" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                        <option value="Tribe1">Tribe 1</option>
                        <option value="Tribe2">Tribe 2</option>
                        <option value="Tribe3">Tribe 3</option>
                      </select>
                    </div>
                  </div>
                  <hr class="my-4">
                  <h6 class="heading-small text-muted mb-4">Educational Background</h6>
                  <div class="row">
                    <label for="primary" class="col-md-2 col-form-label form-control-label">Primary</label>
                    <div class="col-md-6">
                      <input class="form-control" type="text" value="" id="primary">
                    </div>
                    <label for="primaryYearGraduated" class="col-md-2 col-form-label form-control-label">Year Graduated</label>
                    <div class="col-md-2">
                      <input class="form-control" type="text" value="" id="primaryYearGraduated">
                    </div>
                  </div>
                  <div class="row mt-4">
                    <label for="juniorHighSchool" class="col-md-2 col-form-label form-control-label">Junior HS</label>
                    <div class="col-md-6">
                      <input class="form-control" type="text" value="" id="juniorHighSchool">
                    </div>
                    <label for="juniorHighSchoolYearGraduated" class="col-md-2 col-form-label form-control-label">Year Graduated</label>
                    <div class="col-md-2">
                      <input class="form-control" type="text" value="" id="juniorHighSchoolYearGraduated">
                    </div>
                  </div>
                  <div class="row mt-4">
                    <label for="seniorHighSchool" class="col-md-2 col-form-label form-control-label">Senior HS</label>
                    <div class="col-md-6">
                      <input class="form-control" type="text" value="" id="seniorHighSchool">
                    </div>
                    <label for="seniorHighSchoolYearGraduated" class="col-md-2 col-form-label form-control-label">Year Graduated</label>
                    <div class="col-md-2">
                      <input class="form-control" type="text" value="" id="seniorHighSchoolYearGraduated">
                    </div>
                  </div>
                  <div class="row mt-4">
                    <label for="underGraduate" class="col-md-2 col-form-label form-control-label">Undergraduate</label>
                    <div class="col-md-6">
                      <input class="form-control" type="text" value="" id="underGraduate">
                    </div>
                    <label for="underGraduateYearGraduated" class="col-md-2 col-form-label form-control-label">Year Graduated</label>
                    <div class="col-md-2">
                      <input class="form-control" type="text" value="" id="underGraduateYearGraduated">
                    </div>
                  </div>
                  <hr class="my-4">
                  <h6 class="heading-small text-muted mb-4">Contact Information</h6>
                  <div class="row">
                    <label for="mobileNumber" class="col-md-2 col-form-label form-control-label">Mobile Number</label>
                    <div class="col-md-4">
                      <input class="form-control" type="text" value="" id="mobileNumber">
                    </div>
                    <label for="telephone" class="col-md-2 col-form-label form-control-label">Telephone</label>
                    <div class="col-md-4">
                      <input class="form-control" type="text" value="" id="telephone">
                    </div>
                  </div>
                  <div class="row mt-4">
                    <label for="alternateEmail" class="col-md-2 col-form-label form-control-label">Alternate Email</label>
                    <div class="col-md-10">
                      <input class="form-control" type="text" value="" id="alternateEmail" placeholder="example@example.com">
                    </div>
                  </div>

                  <div class="row mt-4">
                      <label for="region" class="col-md-2 col-form-label form-control-label">Region</label>
                      <div class="col-md-4">
                        <select class="form-control" id="region" data-toggle="select" title="Simple select" data-live-search="true"
                          data-live-search-placeholder="Search ...">
                          <option value="Region1">Region 1</option>
                          <option value="Region2">Region 2</option>
                          <option value="Region3">Region 3</option>
                        </select>
                      </div>
                      <label for="city" class="col-md-2 col-form-label form-control-label">City</label>
                      <div class="col-md-4">
                        <select class="form-control" id="city" data-toggle="select" title="Simple select" data-live-search="true"
                          data-live-search-placeholder="Search ...">
                          <option value="City1">City 1</option>
                          <option value="City2">City 2</option>
                          <option value="City3">City 3</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="barangay" class="col-md-2 col-form-label form-control-label">Baranggay</label>
                      <div class="col-md-4">
                        <select class="form-control" id="barangay" data-toggle="select" title="Simple select" data-live-search="true"
                          data-live-search-placeholder="Search ...">
                          <option value="Baranggay1">Baranggay 1</option>
                          <option value="Baranggay2">Baranggay 2</option>
                          <option value="Baranggay3">Baranggay 3</option>
                        </select>
                      </div>
                      <label for="postalCode" class="col-md-2 col-form-label form-control-label">Postal Code</label>
                      <div class="col-md-4">
                        <input class="form-control" id="postalCode" type="text" value="">
                      </div>
                    </div>
                  <div class="row mt-4">
                    <label for="streetAddress" class="col-md-2 col-form-label form-control-label">Street Address</label>
                    <div class="col-md-10">
                      <input class="form-control" type="text" value="" id="streetAddress">
                    </div>
                  </div>
                  
                  <hr class="my-4">
                  <h6 class="heading-small text-muted mb-4">Mother</h6>
                  <div class="row">
                    <label for="motherName" class="col-md-2 col-form-label form-control-label pt-0">Mother's Maiden Name</label>
                    <div class="col-md-10">
                      <input class="form-control" type="text" value="" id="motherName">
                    </div>
                  </div>

                  <div class="row mt-4">
                      <label for="mregion" class="col-md-2 col-form-label form-control-label">Region</label>
                      <div class="col-md-4">
                        <select class="form-control" id="mregion" data-toggle="select" title="Simple select" data-live-search="true"
                          data-live-search-placeholder="Search ...">
                          <option value="Region1">Region 1</option>
                          <option value="Region2">Region 2</option>
                          <option value="Region3">Region 3</option>
                        </select>
                      </div>
                      <label for="mcity" class="col-md-2 col-form-label form-control-label">City</label>
                      <div class="col-md-4">
                        <select class="form-control" id="mcity" data-toggle="select" title="Simple select" data-live-search="true"
                          data-live-search-placeholder="Search ...">
                          <option value="City1">City 1</option>
                          <option value="City2">City 2</option>
                          <option value="City3">City 3</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="mbarangay" class="col-md-2 col-form-label form-control-label">Baranggay</label>
                      <div class="col-md-4">
                        <select class="form-control" id="mbarangay" data-toggle="select" title="Simple select" data-live-search="true"
                          data-live-search-placeholder="Search ...">
                          <option value="Baranggay1">Baranggay 1</option>
                          <option value="Baranggay2">Baranggay 2</option>
                          <option value="Baranggay3">Baranggay 3</option>
                        </select>
                      </div>
                      <label for="mpostalCode" class="col-md-2 col-form-label form-control-label">Postal Code</label>
                      <div class="col-md-4">
                        <input class="form-control" id="mpostalCode" type="text" value="">
                      </div>
                    </div>
                  <div class="row mt-4">
                    <label for="mstreetAddress" class="col-md-2 col-form-label form-control-label">Street Address</label>
                    <div class="col-md-10">
                      <input class="form-control" type="text" value="" id="mstreetAddress">
                    </div>
                  </div>


                  <div class="row mt-4">
                    <label for="memailAddress" class="col-md-2 col-form-label form-control-label">Email Address</label>
                    <div class="col-md-5">
                      <input class="form-control" type="text" value="" id="memailAddress">
                    </div>
                    <label for="mcontactNumber" class="col-md-2 col-form-label form-control-label">Contact No.</label>
                    <div class="col-md-3">
                      <input class="form-control" type="text" value="" id="mcontactNumber">
                    </div>
                  </div>
                  <hr class="my-4">
                  <h6 class="heading-small text-muted mb-4">Father</h6>
                  <div class="row mt-4">
                    <label for="fatherName" class="col-md-2 col-form-label form-control-label">Father's Name</label>
                    <div class="col-md-10">
                      <input class="form-control" type="text" value="" id="fatherName">
                    </div>
                  </div>
                  
                 
                
                  <div class="row mt-4">
                      <label for="fregion" class="col-md-2 col-form-label form-control-label">Region</label>
                      <div class="col-md-4">
                        <select class="form-control" id="fregion" data-toggle="select" title="Simple select" data-live-search="true"
                          data-live-search-placeholder="Search ...">
                          <option value="Region1">Region 1</option>
                          <option value="Region2">Region 2</option>
                          <option value="Region3">Region 3</option>
                        </select>
                      </div>
                      <label for="fcity" class="col-md-2 col-form-label form-control-label">City</label>
                      <div class="col-md-4">
                        <select class="form-control" id="fcity" data-toggle="select" title="Simple select" data-live-search="true"
                          data-live-search-placeholder="Search ...">
                          <option value="City1">City 1</option>
                          <option value="City2">City 2</option>
                          <option value="City3">City 3</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="fbarangay" class="col-md-2 col-form-label form-control-label">Baranggay</label>
                      <div class="col-md-4">
                        <select class="form-control" id="fbarangay" data-toggle="select" title="Simple select" data-live-search="true"
                          data-live-search-placeholder="Search ...">
                          <option value="Baranggay1">Baranggay 1</option>
                          <option value="Baranggay2">Baranggay 2</option>
                          <option value="Baranggay3">Baranggay 3</option>
                        </select>
                      </div>
                      <label for="fpostalCode" class="col-md-2 col-form-label form-control-label">Postal Code</label>
                      <div class="col-md-4">
                        <input class="form-control" id="fpostalCode" type="text" value="">
                      </div>
                    </div>
                  <div class="row mt-4">
                    <label for="fstreetAddress" class="col-md-2 col-form-label form-control-label">Street Address</label>
                    <div class="col-md-10">
                      <input class="form-control" type="text" value="" id="fstreetAddress">
                    </div>
                  </div>
                

                  <div class="row mt-4">
                    <label for="femailAddress" class="col-md-2 col-form-label form-control-label">Email Address</label>
                    <div class="col-md-5">
                      <input class="form-control" type="text" value="" id="femailAddress">
                    </div>
                    <label for="fcontactNumber" class="col-md-2 col-form-label form-control-label">Contact No.</label>
                    <div class="col-md-3">
                      <input class="form-control" type="text" value="" id="fcontactNumber">
                    </div>
                  </div>

<div id="spouse">
                  <hr class="my-4">
                  <h6 class="heading-small text-muted mb-4">Spouse</h6>
                  <div class="row">
                    <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Salutation</label>
                    <div class="dropdown col-4">
                      <button class="btn btn-secondary dropdown-toggle col-12" type="button" id="ssalutationButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Select Salutation
                      </button>
                      <input id="ssalutation" hidden>
                      <div class="dropdown-menu" id="ssalutationDropdown" aria-labelledby="ssalutationButton">
                        <a class="dropdown-item"  data-value="Ms.">Ms. </a>
                        <a class="dropdown-item"  data-value="Mrs.">Mrs. </a>
                        <a class="dropdown-item"  data-value="Mr.">Mr. </a>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <label for="slastName" class="col-md-2 col-form-label form-control-label">Last Name</label>
                    <div class="col-md-10">
                      <input class="form-control" type="text" value="" id="slastName">
                    </div>
                  </div>
                  <div class="row mt-4">
                    <label for="sfirstName" class="col-md-2 col-form-label form-control-label">First Name</label>
                    <div class="col-md-10">
                      <input class="form-control" type="text" value="" id="sfirstName">
                    </div>
                  </div>
                  <div class="row mt-4">
                    <label for="smiddleName" class="col-md-2 col-form-label form-control-label">Middle Name</label>
                    <div class="col-md-5">
                      <input class="form-control" type="text" value="" id="smiddleName">
                    </div>
                    <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Middle Initial</label>
                    <div class="col-md-3">
                      <input class="form-control" type="text" value="" id="example-text-input" disabled>
                    </div>
                    
                  </div>

                  <div class="row mt-4">
                     
                      <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Suffix</label>
                  <div class="dropdown col-4">
                    <button class="btn btn-secondary dropdown-toggle col-12" type="button" id="ssuffixButton" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Select Suffix
                    </button>
                    <input id="ssuffix" hidden>
                    <div class="dropdown-menu" id="ssuffixDropdown" aria-labelledby="ssuffixButton">
                      <a class="dropdown-item" data-value="">None </a>
                      <a class="dropdown-item" data-value="Junior">Junior </a>
                      <a class="dropdown-item" data-value="Senior">Senior </a>
                      <a class="dropdown-item" data-value="II">II </a>
                      <a class="dropdown-item" data-value="III">III </a>
                      <a class="dropdown-item" data-value="IV">IV </a>
                      <a class="dropdown-item" data-value="V">V </a>
                      <a class="dropdown-item" data-value="VI">VI </a>
                      <a class="dropdown-item" data-value="VII">VII </a>
                      <a class="dropdown-item" data-value="VIII">VIII </a>
                      <a class="dropdown-item" data-value="IX">IX </a>
                      <a class="dropdown-item" data-value="X">X </a>
                    </div>
                  </div>
                    </div>

                  

                  <div class="row mt-4">
                      <label for="sregion" class="col-md-2 col-form-label form-control-label">Region</label>
                      <div class="col-md-4">
                        <select class="form-control" id="sregion" data-toggle="select" title="Simple select" data-live-search="true"
                          data-live-search-placeholder="Search ...">
                          <option value="Region1">Region 1</option>
                          <option value="Region2">Region 2</option>
                          <option value="Region3">Region 3</option>
                        </select>
                      </div>
                      <label for="scity" class="col-md-2 col-form-label form-control-label">City</label>
                      <div class="col-md-4">
                        <select class="form-control" id="scity" data-toggle="select" title="Simple select" data-live-search="true"
                          data-live-search-placeholder="Search ...">
                          <option value="City1">City 1</option>
                          <option value="City2">City 2</option>
                          <option value="City3">City 3</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <label for="sbarangay" class="col-md-2 col-form-label form-control-label">Baranggay</label>
                      <div class="col-md-4">
                        <select class="form-control" id="sbarangay" data-toggle="select" title="Simple select" data-live-search="true"
                          data-live-search-placeholder="Search ...">
                          <option value="Baranggay1">Baranggay 1</option>
                          <option value="Baranggay2">Baranggay 2</option>
                          <option value="Baranggay3">Baranggay 3</option>
                        </select>
                      </div>
                      <label for="spostalCode" class="col-md-2 col-form-label form-control-label">Postal Code</label>
                      <div class="col-md-4">
                        <input class="form-control" id="spostalCode" type="text" value="">
                      </div>
                    </div>
                  <div class="row mt-4">
                    <label for="sstreetAddress" class="col-md-2 col-form-label form-control-label">Street Address</label>
                    <div class="col-md-10">
                      <input class="form-control" type="text" value="" id="sstreetAddress">
                    </div>
                  </div>


                  <div class="row mt-4">
                    <label for="semailAddress" class="col-md-2 col-form-label form-control-label">Email Address</label>
                    <div class="col-md-5">
                      <input class="form-control" type="text" value="" id="semailAddress">
                    </div>
                    <label for="scontactNumber" class="col-md-2 col-form-label form-control-label">Contact No.</label>
                    <div class="col-md-3">
                      <input class="form-control" type="text" value="" id="scontactNumber">
                    </div>
                  </div>

                  </div>
                  <br />

          </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
    <!-- Argon Scripts -->
    <% include ../partials/scripts %>

    <script>
    $(document).ready(function(){
 
      $('#spouse').hide()

      $('#salutationDropdown a').click(function(){
    var value = $(this).attr("data-value");
    $('#salutation').val(value);
    $('#salutationButton').text($(this).text());
  });

  $('#ssalutationDropdown a').click(function(){
    var value = $(this).attr("data-value");
    $('#ssalutation').val(value);
    $('#ssalutationButton').text($(this).text());

    
  });

  $('#suffixDropdown a').click(function(){
    var value = $(this).attr("data-value");
    $('#suffix').val(value);
    $('#suffixButton').text($(this).text());
    
  });

  
  $('#ssuffixDropdown a').click(function(){
    var value = $(this).attr("data-value");
    $('#ssuffix').val(value);
    $('#ssuffixButton').text($(this).text());
    console.log($('#ssuffix').val())
  });

  $('#genderDropdown a').click(function(){
    var value = $(this).attr("data-value");
    $('#gender').val(value);
    $('#genderButton').text($(this).text());
    
  });

  $('#civilStatusDropdown a').click(function(){
    var value = $(this).attr("data-value")
    $('#civilStatus').val(value)
    $('#civilStatusButton').text($(this).text())
    
    if($('#civilStatus').val() === 'Married'){
      $('#spouse').show()
    }else {
      $('#spouse').hide()
    }
  })

      $(document).on('input', '#idNumber', function(e){
        $('#idNumber').removeClass("is-invalid")
        $('#idNumberMessage').html("")

      })


 $(document).on('submit', '#studentForm', function(e){

   e.preventDefault()

   let formData = {
    idNumber: $('#idNumber').val(),
    salutation: $('#salutation').val(),
    lastName: $('#lastName').val(),
    firstName: $('#firstName').val(),
    middleName: $('#middleName').val(),
    suffix: $('#suffix').val(),
    birthday: $('#birthday').val(),
    gender: $('#gender').val(),
    civilStatus: $('#civilStatus').val(),
    religion: $('#religion').val(),
    tribe: $('#tribe').val(),
    primary: $('#primary').val(),
    primaryYearGraduated: $('#primaryYearGraduated').val(),
    juniorHighSchool: $('#juniorHighSchool').val(),
    juniorHighSchoolYearGraduated: $('#juniorHighSchoolYearGraduated').val(),
    seniorHighSchool: $('#seniorHighSchool').val(),
    seniorHighSchoolYearGraduated: $('#seniorHighSchoolYearGraduated').val(),
    underGraduate: $('#underGraduate').val(),
    underGraduateYearGraduated: $('#underGraduateYearGraduated').val(),
    mobileNumber: $('#mobileNumber').val(),
    telephone: $('#telephone').val(),
    alternateEmail: $('#alternateEmail').val(),
    region: $('#region').val(),
    city: $('#city').val(),
    barangay: $('#barangay').val(),
    streetAddress: $('#streetAddress').val(),
    postalCode: $('#postalCode').val(),
    motherName: $('#motherName').val(),
    mregion: $('#mregion').val(),
    mcity: $('#mcity').val(),
    mbarangay: $('#mbarangay').val(),
    mstreetAddress: $('#mstreetAddress').val(),
    mpostalCode: $('#mpostalCode').val(),
    memailAddress: $('#memailAddress').val(),
    mcontactNumber: $('#mcontactNumber').val(),
    fatherName: $('#fatherName').val(),
    fregion: $('#fregion').val(),
    fcity: $('#fcity').val(),
    fbarangay: $('#fbarangay').val(),
    fstreetAddress: $('#fstreetAddress').val(),
    fpostalCode: $('#fpostalCode').val(),
    femailAddress: $('#femailAddress').val(),
    fcontactNumber: $('#fcontactNumber').val(),
    ssalutation: $('#ssalutation').val(),
    slastName: $('#slastName').val(),
    sfirstName: $('#sfirstName').val(),
    smiddleName: $('#smiddleName').val(),
    ssuffix: $('#ssuffix').val(),
    sregion: $('#sregion').val(),
    scity: $('#scity').val(),
    sbarangay: $('#sbarangay').val(),
    sstreetAddress: $('#sstreetAddress').val(),
    spostalCode: $('#spostalCode').val(),
    semailAddress: $('#semailAddress').val(),
    scontactNumber: $('#scontactNumber').val(),
   }


   if(formData.civilStatus !== 'Married'){
    delete formData.ssalutation
    delete formData.slastName
    delete formData.sfirstName
    delete formData.smiddleName
    delete formData.ssuffix
    delete formData.sregion
    delete formData.scity
    delete formData.sbarangay
    delete formData.sstreetAddress
    delete formData.spostalCode
    delete formData.semailAddress
    delete formData.scontactNumber
   }

   $.ajax({
    url: '/admin/studentInformation',
    type: 'POST',
    data: { ...formData },
     success: function(response){
      console.log(response)
        Swal.fire(
          'Student added',
          '',
          'success'
        ).then(() => {
          window.location.replace('/admin/student-information')
        })
     },
     error: function(jqXHR, exception){
       if(jqXHR.status === 409){
         $('#idNumber').addClass("is-invalid").focus()
         $('#idNumberMessage').html(jqXHR.responseText)
       }
       
        

     }
   })
 })

})

    
    </script>
  </body>
  
  