
<body>
        <!-- Sidenav -->
        <% include ../partials/sidenav %>
        <!-- Main content -->
        <div class="main-content" id="panel">
          <!-- Topnav -->
          <% include ../partials/topnav %>
          <!-- Page content -->
          <div class="header">
                <div class="container-fluid">
                  <br>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row justify-content-center">
                  <div class="col-lg-9 card-wrappercard-wrapper">
                    <div class="card">
                      <div class="card-header">
                        <div class="row">
                          <div class="col-6">
                            <h3 class="mb-0">Update Profile Picture</h3>
                          </div>
                          <div class="col-6 text-right">
                            <a href="/student/profile" class="btn btn-sm btn-secondary btn-round btn-icon">
                              <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Discard changes">
                                <i class="fas fa-times"></i> Cancel</span>
                            </a>
                            <a href="profile.html" class="btn btn-sm btn-primary btn-round btn-icon">
                              <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Save Changes"><i
                                  class="fas fa-save"></i> Save</span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <form class="needs-validation" novalidate="">
                          <div class="row">
                            <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Choose Picture</label>
                            <div class="col-md-8">
                              <div class="custom-file">
                                <input type="file" class="custom-file-input mb-2" id="customFileLang" lang="en">
                                <label class="custom-file-label" for="customFileLang">Choose Picture</label>
                              </div>
                            </div>
                          </div>
                          <div class="row mt-4">
                            <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Preview</label>
                            <div class="col-md-4">
                              <div class="container p-0">
                                <img src="/assets/img/student.svg" class="bg-gray img-fluid rounded-circle">
                              </div>
                            </div>
                          </div>
                        </form>
                        <br />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-lg-9 card-wrappercard-wrapper">
                    <div class="card">
                      <div class="card-header">
                        <div class="row">
                          <div class="col-6">
                            <h3 class="mb-0">Update Contact Information</h3>
                          </div>
                          <div class="col-6 text-right">
                            <a href="/admin/profile" class="btn btn-sm btn-secondary btn-round btn-icon">
                              <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Discard changes">
                                <i class="fas fa-times"></i> Cancel</span>
                            </a>
                            <a href="profile.html" class="btn btn-sm btn-primary btn-round btn-icon">
                              <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Save Changes"><i
                                  class="fas fa-save"></i> Save</span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <form class="needs-validation" novalidate="">
                          <div class="row">
                            <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Mobile Number</label>
                            <div class="col-md-4">
                              <input class="form-control" type="text" value="" id="example-text-input">
                            </div>
                            <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Telephone</label>
                            <div class="col-md-4">
                              <input class="form-control" type="text" value="" id="example-text-input">
                            </div>
                          </div>
                          <div class="row mt-4">
                            <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Personal Email</label>
                            <div class="col-md-10">
                              <input class="form-control" type="email" value="" id="example-text-input">
                            </div>
                          </div>
                          <div class="row mt-4">
                            <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Street Address</label>
                            <div class="col-md-10">
                              <input class="form-control" type="text" value="" id="example-text-input">
                            </div>
                          </div>
                          <div class="row mt-4">
                            <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Region</label>
                            <div class="col-md-4">
                              <select class="form-control" data-toggle="select" title="Simple select" data-live-search="true"
                                data-live-search-placeholder="Search ...">
                                <option>Region 1</option>
                                <option>Region 2</option>
                                <option>Region 3</option>
                              </select>
                            </div>
                            <label for="row mt-4" class="col-md-2 col-form-label form-control-label">City</label>
                            <div class="col-md-4">
                              <select class="form-control" data-toggle="select" title="Simple select" data-live-search="true"
                                data-live-search-placeholder="Search ...">
                                <option>City 1</option>
                                <option>City 2</option>
                                <option>City 3</option>
                              </select>
                            </div>
                          </div>
                          <div class="row mt-4">
                            <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Baranggay</label>
                            <div class="col-md-4">
                              <select class="form-control" data-toggle="select" title="Simple select" data-live-search="true"
                                data-live-search-placeholder="Search ...">
                                <option>Baranggay 1</option>
                                <option>Baranggay 2</option>
                                <option>Baranggay 3</option>
                              </select>
                            </div>
                            <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Postal Code</label>
                            <div class="col-md-4">
                              <input class="form-control" type="text" value="" id="example-text-input">
                            </div>
                          </div>
                        </form>
                        <br />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-lg-9 card-wrappercard-wrapper">
                    <div class="card">
                      <div class="card-header">
                        <div class="row">
                          <div class="col-6">
                            <h3 class="mb-0">Change Password</h3>
                          </div>
                          <div class="col-6 text-right">
                            <a href="/admin/profile" class="btn btn-sm btn-secondary btn-round btn-icon">
                              <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Discard changes">
                                <i class="fas fa-times"></i> Cancel</span>
                            </a>
                            <a href="profile.html" class="btn btn-sm btn-primary btn-round btn-icon">
                              <span class="btn-inner--text" data-toggle="tooltip" data-original-title="Save Changes"><i
                                  class="fas fa-save"></i> Save</span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <form class="needs-validation" novalidate="">
                          <div class="row">
                            <label for="example-text-input" class="col-md-3 col-form-label form-control-label">Current Password</label>
                            <div class="col-md-9">
                              <div class="input-group">
                                <input type="password" class="form-control" placeholder="Enter Current Password" aria-label="Enter Password"
                                  aria-describedby="button-addon4">
                                <div class="input-group-append" id="button-addon4">
                                  <button class="btn btn-outline-primary" type="button" data-toggle="tooltip" data-original-title="Show Password">
                                    <i class="fas fa-eye"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row mt-4">
                            <label for="example-text-input" class="col-md-3 col-form-label form-control-label">New Password</label>
                            <div class="col-md-9">
                              <div class="input-group">
                                <input type="password" class="form-control" placeholder="Enter New Password" aria-label="Enter Password"
                                  aria-describedby="button-addon4">
                                <div class="input-group-append" id="button-addon4">
                                  <button class="btn btn-outline-primary" type="button" data-toggle="tooltip" data-original-title="Show Password">
                                    <i class="fas fa-eye"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row mt-4">
                            <label for="example-text-input" class="col-md-3 col-form-label form-control-label">Confirm Password</label>
                            <div class="col-md-9">
                              <div class="input-group">
                                <input type="text" class="form-control" placeholder="Re-enter New Password" aria-label="Re-enter Password"
                                  aria-describedby="button-addon4">
                                <div class="input-group-append" id="button-addon4" data-toggle="tooltip" data-original-title="Hide Password">
                                  <button class="btn btn-outline-primary" type="button">
                                    <i class="fas fa-eye-slash"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                        <br />
                      </div>
                    </div>
                  </div>
                </div>
            <!-- Footer -->
            <% include ../partials/footer %>
          </div>
        </div>
        <!-- Argon Scripts -->
        <% include ../partials/scripts %>
      
        <script>
       $(document).ready(function(){
      
      
      })
          
        </script>
      </body>
      
      