
<body>
  <!-- Sidenav -->
  <% include ../partials/sidenav %>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <% include ../partials/topnav %>
    <!-- Page content -->
    <div class="header">
      <div class="container-fluid">
        <br>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-4 order-xl-2">
          <div class="card card-profile">
            <img src="/assets/img/msu/library.jpg" alt="Image placeholder" class="card-img-top">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="/assets/img/student.svg" style="background-color: grey" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="text-center mt-6">
                <h5 class="h3">
                    <%= locals.userInfo.firstName %> <%= locals.userInfo.lastName %>
                </h5>
                <span class="badge badge-primary mb-4">Student</span>
                <div class="h5 ">
                  Bachelor of Science in Information Technology
                </div>
                <div class="h5 mt-2 mb-4 text-muted">
                  IT and Physics Department<br>
                  College of Natural Sciences and Mathematics
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="mb-0">Today's Class Schedule</h3>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush list my--3">
                <li class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5 class="heading-small text-muted">10:30 AM &ndash; 12:00 PM</h5>
                      <p class="text-default mb-2">IT 109 - Social, Ethical and Professional Issues in IT</p>
                    </div>
                  </div>
                </li>
                <li class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5 class="heading-small text-muted">1:00 PM &ndash; 2:30 PM</h5>
                      <p class="text-default mb-2">IT 131 - Human-Computer Interaction</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div></div>
        <div class="col-xl-8 order-xl-1">
          <div class="row">
            <div class="col-lg-6">
              <div class="card bg-gradient-primary border-0">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0 text-white">General Point Average (GPA)</h5>
                      <span class="h2 font-weight-bold mb-0 text-white">1.75</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                        <i class="fas fa-star"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-white mr-2">For 1st Semester • 2018-2019</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card bg-gradient-primary border-0">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0 text-white">General Weighted Avg (GWA)</h5>
                      <span class="h2 font-weight-bold mb-0 text-white">2.02</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                        <i class="fas fa-star"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-white mr-2">As of 2nd Semester • 2018-2019</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-calendar">
            <!-- Card header -->
            <div class="card-header">
              <!-- Title -->
              <div class="row">
                <div class="col-6">
                  <h5 class="h3 mb-0">University Events</h5>
                </div>
                <div class="col-6 text-right">
                  <a href="#" class="fullcalendar-btn-prev btn btn-sm btn-neutral" data-toggle="tooltip"
                    data-original-title="Show Previous Month/Week">
                    <i class="fas fa-angle-left"></i>
                  </a>
                  <a href="#" class="fullcalendar-btn-next btn btn-sm btn-neutral" data-toggle="tooltip"
                    data-original-title="Show Next Month/Week">
                    <i class="fas fa-angle-right"></i>
                  </a>
                  <a href="#" class="btn btn-sm btn-neutral" data-calendar-view="month" data-toggle="tooltip"
                    data-original-title="Month View"><i class="fas fa-calendar-alt"></i> Month</a>
                  <a href="#" class="btn btn-sm btn-neutral" data-calendar-view="basicWeek" data-toggle="tooltip"
                    data-original-title="Week View"><i class="fas fa-calendar-week"></i> Week</a>
                </div>
              </div>
            </div>
            <!-- Card body -->
            <div class="card-body p-0">
                <div class="calendar" data-toggle="calendar" id="calendar"></div>
            </div>
        </div>
        </div>
      </div>
      <!-- Footer -->
      <% include ../partials/footer %>
    </div>
  </div>
  <% include ../partials/scripts %>
</body>

</html>
