<body>
        <!-- Sidenav -->
        <% include ../partials/sidenav %>
        <!-- Main content -->
        <div class="main-content" id="panel">
          <!-- Topnav -->
          <% include ../partials/topnav %>
          <!-- Page content -->
          <div class="header">
                <div class="container-fluid">
                  <br>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xl-4 order-xl-2">
                    <div class="card card-profile">
                      <img src="/assets/img/msu/library.jpg" alt="Image placeholder" class="card-img-top">
                      <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                          <div class="card-profile-image">
                            <a href="#">
                              <img src="/assets/img/student.svg" style="background-color: grey" class="rounded-circle">
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="text-center mt-6">
                          <h5 class="h3">
                                <%= locals.userInfo.firstName %> <%= locals.userInfo.lastName %>
                          </h5>
                          <span class="badge badge-primary mb-4">Student</span>
                          <div class="h5 ">
                            Bachelor of Science in Information Technology
                          </div>
                          <div class="h5 mt-2 mb-4 text-muted">
                            IT and Physics Department<br>
                            College of Natural Sciences and Mathematics
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card shadow">
                      <div class="card-header">              
                        <h3 class="mb-0">Contact Information</h3>
                      </div>
                      <div class="card-body">
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Mobile</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"> <%= locals.userInfo.mobileNumber %></p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Telephone</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"> <%= locals.userInfo.telephone %></p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">School Email</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"><%= locals.account.schoolEmail %></p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Alternate Email</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"> <%= locals.userInfo.alternateEmail %></p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Address</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0">
                                    <%= locals.userInfo.streetAdress %>
                                    <%= locals.userInfo.barangay %>
                                    <%= locals.userInfo.region %>
                                    <%= locals.userInfo.city %>
                                    <%= locals.userInfo.postalCode %>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-8 order-xl-1">
                    <div class="card shadow">
                      <div class="card-header">
                        <h4 class="mb-0">Personal Information</h4>
                      </div>
                      <div class="card-body">
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">ID Number</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"><%= locals.userInfo.idNumber %></p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Full Name</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0">
                                <%= locals.userInfo.salutation %>
                                <%= locals.userInfo.firstName %>
                                <%= locals.userInfo.middleName %>
                                <%= locals.userInfo.lastName %>
                                <%= locals.userInfo.suffix %>
                            </p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Birthday</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0" id="birthday">
                                        </p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Gender</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0">
                                    <%= locals.userInfo.gender %>
                            </p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Civil Status</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"> <%= locals.userInfo.civilStatus %></p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Religion</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"> <%= locals.userInfo.religion %></p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Tribe</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"> <%= locals.userInfo.tribe %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card shadow">
                      <div class="card-header">
                        <h4 class="mb-0">Educational Background</h4>
                      </div>
                      <div class="card-body">
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Primary</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"> <%= locals.userInfo.primary %> (<%= locals.userInfo.primaryYearGraduated %>)</p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Junior</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"><%= locals.userInfo.juniorHighSchool %> (<%= locals.userInfo.juniorHighSchoolYearGraduated %>)</p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Senior</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"><%= locals.userInfo.seniorHighSchool %> (<%= locals.userInfo.seniorHighSchoolYearGraduated %>)</p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Undergraduate</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"><%= locals.userInfo.underGraduate %> (<%= locals.userInfo.underGraduateYearGraduated %>)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card shadow">
                      <div class="card-header">
                        <h4 class="mb-0">Mother's Data</h4>
                      </div>
                      <div class="card-body">
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Maiden Name</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"><%= locals.userInfo.motherName %></p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Contact Address</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0">
                                    <%= locals.userInfo.mstreetAdress %>
                                    <%= locals.userInfo.mbarangay %>
                                    <%= locals.userInfo.mregion %>
                                    <%= locals.userInfo.mcity %>
                                    <%= locals.userInfo.mpostalCode %>
                            </p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Email Address</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"> <%= locals.userInfo.memailAddress %></p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Contact Number</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"><%= locals.userInfo.mcontactNumber %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card shadow">
                      <div class="card-header">
                        <h4 class="mb-0">Father's Data</h4>
                      </div>
                      <div class="card-body">
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Full Name</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"><%= locals.userInfo.fatherName %></p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Contact Address</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0">
                                    <%= locals.userInfo.fstreetAdress %>
                                    <%= locals.userInfo.fbarangay %>
                                    <%= locals.userInfo.fregion %>
                                    <%= locals.userInfo.fcity %>
                                    <%= locals.userInfo.fpostalCode %>
                            </p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Email Address</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"><%= locals.userInfo.femailAddress %></p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Contact Number</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"><%= locals.userInfo.fcontactNumber %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% if(locals.userInfo.civilStatus === 'Married') { %>
                    <div class="card shadow" id="spouse">
                      <div class="card-header">
                        <h4 class="mb-0">Spouse's Data</h4>
                      </div>
                      <div class="card-body">
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Full Name</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"><%= locals.userInfo.sfirstName %> <%= locals.userInfo.slastName %></p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Contact Address</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0">
                                    <%= locals.userInfo.sstreetAdress %>
                                    <%= locals.userInfo.sbarangay %>
                                    <%= locals.userInfo.sregion %>
                                    <%= locals.userInfo.scity %>
                                    <%= locals.userInfo.spostalCode %>
                            </p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Email Address</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"><%= locals.userInfo.semailAddress %>
                             </p>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-4">
                            <h6 class="heading-small text-muted mb-0">Contact Number</h6>
                          </div>
                          <div class="col-8">
                            <p class="text-sm  mb-0"><%= locals.userInfo.scontactNumber %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% } %>
                  </div>
                </div>
            <!-- Footer -->
            <% include ../partials/footer %>
          </div>
        </div>
        <!-- Argon Scripts -->
        <% include ../partials/scripts %>
        <script>
      $(document).ready(function(){
        let birthday = '<%= locals.userInfo.birthday %>'
        $('#birthday').html(moment(birthday).format('MMMM D, YYYY'))

      })
     
        </script>
      </body>
      
      