//
// Table actions
//

.table-action {
    font-size: $font-size-sm;
    color: $primary !important;
    margin: 0 .25rem;

    &:hover {
        color: lighten($primary, 20%) !important;
    }
}

.table-action-delete {
    &:hover {
        color: theme-color("danger");
    }
}

.table-dark {
    .table-action {
        color: $table-dark-action-color;
    }
}
