 <!-- Core -->
 <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
 <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 <script src="/assets/vendor/js-cookie/js.cookie.js"></script>
 <script src="/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
 <script src="/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
 <script src="/assets/vendor/lavalamp/js/jquery.lavalamp.min.js"></script>
 <!-- Optional JS -->
 <script src="/assets/vendor/list.js/dist/list.min.js"></script>
 <script src="/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
 <script src="/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
 <script src="/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
 <script src="/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
 <script src="/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
 <script src="/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
 <script src="/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
 <script src="/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
 <script src="/assets/vendor/moment/min/moment.min.js"></script>
  <script src="/assets/vendor/select2/dist/js/select2.min.js"></script>
  <script src="/assets/vendor/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="/assets/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
  <script src="/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <script src="/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script> -->
 <!-- Argon JS -->
 <script src="/assets/js/argon.js?v=1.0.0"></script>
 <!-- Demo JS - remove this in your project -->
