<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header d-flex align-items-center">
        <a class="navbar-brand" href="/admin/dashboard">
          <span class="avatar avatar-sm rounded-circle">
            <img src="/assets/img/msu/msu-logo-160.png">
          </span>
        </a>
        <div class="ml-auto">
          <!-- Sidenav toggler -->
          <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard">
                <i class="fas fa-home"></i>
                <span class="nav-link-text" style="line-height: 1.5rem;">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/accounts-management">
                <i class="fas fa-users-cog"></i>
                <span class="nav-link-text" style="line-height: 1.5rem;">Accounts Management</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/calendar">
                <i class="fas fa-calendar-alt"></i>
                <span class="nav-link-text" style="line-height: 1.5rem;">University Calendar</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/student-information">
                <i class="fas fa-id-card"></i>
                <span class="nav-link-text" style="line-height: 1.5rem;">Student Information</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/faculty-information">
                <i class="fas fa-chalkboard-teacher"></i>
                <span class="nav-link-text" style="line-height: 1.5rem;">Faculty Information</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/staff-information">
                <i class="fas fa-user-tie"></i>
                <span class="nav-link-text" style="line-height: 1.5rem;">Staff Information</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#ss" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="ss">
                <i class="fas fa-school"></i>
                <span class="nav-link-text" style="line-height: 1.5rem;">School Structure</span>
              </a>
              <div class="collapse" id="ss">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item">
                    <a href="/admin/colleges" class="nav-link">Colleges</a>
                  </li>
                  <li class="nav-item">
                    <a href="/admin/departments" class="nav-link">Departments</a>
                  </li>
                  <li class="nav-item">
                    <a href="/admin/classrooms" class="nav-link">Classrooms</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#cm" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="cm">
                <i class="fas fa-book"></i>
                <span class="nav-link-text" style="line-height: 1.5rem;">Course Management</span>
              </a>
              <div class="collapse" id="cm">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item">
                    <a href="/admin/subjects" class="nav-link">Subjects</a>
                  </li>
                  <li class="nav-item">
                    <a href="/admin/programs" class="nav-link">Programs</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#en" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="en">
                <i class="fas fa-user-plus"></i>
                <span class="nav-link-text" style="line-height: 1.5rem;">Enrollment</span>
              </a>
              <div class="collapse" id="en">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item">
                    <a href="/admin/offering" class="nav-link">Subject Offering</a>
                  </li>
                  <li class="nav-item">
                    <a href="/admin/blocks" class="nav-link">Course Blocks</a>
                  <!-- </li>
                  <li class="nav-item">
                    <a href="advising.html" class="nav-link">Advising</a>
                  </li> -->
                  <li class="nav-item">
                    <a href="/admin/enlistment" class="nav-link">Enlistment</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/grading">
                <i class="fas fa-star"></i>
                <span class="nav-link-text" style="line-height: 1.5rem;">Grading Module</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/reports">
                <i class="fas fa-file-alt"></i>
                <span class="nav-link-text" style="line-height: 1.5rem;">Reports</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/forms">
                <i class="fas fa-list-alt"></i>
                <span class="nav-link-text" style="line-height: 1.5rem;">Forms</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>