<nav class="navbar navbar-top navbar-expand navbar-light bg-secondary border-bottom">
    <div class="container-fluid">
      <h6 class="h2 d-inline-block mb-0"><%= title %></h6>
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb breadcrumb-links">
       
            <li class="breadcrumb-item"><a href="/admin/dashboard"><i class="fas fa-home"></i></a></li>
            
            <li class="breadcrumb-item"><a href="#"><%= title %></a></li>
         
        </ol>
      </nav>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar links -->
        <ul class="navbar-nav align-items-center ml-md-auto">
          <li class="nav-item d-xl-none">
            <!-- Sidenav toggler -->
            <div class="pr-3 sidenav-toggler sidenav-toggler-light" data-action="sidenav-pin" data-target="#sidenav-main">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav align-items-center ml-auto ml-md-0">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                    <img src="/assets/img/administrator.svg" class="bg-gray">
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold"><%= locals.userInfo.firstName %> <%= locals.userInfo.lastName %></span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-header noti-title">
                Welcome!
              </div>
              <a href="/admin/profile" class="dropdown-item">
                <i class="ni ni-single-02" style="margin-right:1.25rem;"></i>
                My Profile
              </a>
              <a href="/admin/account-settings" class="dropdown-item">
                <i class="fas fa-user-cog"></i>
                Account Settings
              </a>
              <div class="dropdown-divider"></div>
              <a href="settings-system.html" class="dropdown-item">
                <i class="fas fa-cogs"></i>
                System Settings
              </a>
              <div class="dropdown-divider"></div>
              <a href="/logout" class="dropdown-item">
                <i class="fas fa-sign-out-alt" style="margin-right:1.25rem;"></i>
                Logout
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link"  href="#en" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Help"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-header noti-title">
                Help
              </div>
              </a>
              <a href="docs.html" class="dropdown-item">
                <i class="ni ni-archive-2"></i>
                <span>Documentation</span>
              </a>
              <a href="about.html" class="dropdown-item">
                <i class="fas fa-info-circle"></i>
                <span>About EMS</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>